DECLARE @TAB_CUSTO AS TABLE
(
	COD_FORNECEDOR INT
	,COD_PRODUTO INT
	,VAL_CUSTO_EMBALAGEM NUMERIC(18,2)
	,QTD_EMBALAGEM_COMPRA NUMERIC(18,2)
	,primary key (COD_FORNECEDOR, COD_PRODUTO)
)

INSERT INTO @TAB_CUSTO
SELECT
	COD_FORNECEDOR
	,COD_PRODUTO
	,VAL_CUSTO_EMBALAGEM
	,QTD_EMBALAGEM_COMPRA
FROM
	[192.168.0.6].ZEUS_RTG.DBO.TAB_PRODUTO_FORNECEDOR AS PF
WHERE 1=1
	AND PF.COD_LOJA = 1
	AND PF.COD_FORNECEDOR IN 
	(15585,16481,103696,103719,103720,103731,103757,103765,1022,14682,623,444,101566,14816,14837,16845,16858,100296,101623,101689,102150,102169,102811,102973,103710,103711,16537,18362,18438,101882,101892,102219,103210,103462,103717,281,1000,17945,302,1879,103579,103612,17502,15962,102985,434,118,102572)		


SELECT
	LP.COD_LOJA
	,TB.COD_FORNECEDOR
	,CF.DESCRICAO AS NO_FORNECEDOR
	,TB.COD_PRODUTO
	,CP.DESCRICAO AS NO_PRODUTO
	,bi.dbo.fn_FormataVlr_Excel(TB.VAL_CUSTO_EMBALAGEM) as VAL_CUSTO_EMBALAGEM
	,bi.dbo.fn_FormataVlr_Excel(TB.QTD_EMBALAGEM_COMPRA) as QTD_EMBALAGEM_COMPRA
	,CP.FORA_LINHA
	,LP.CLASSIF_PRODUTO_LOJA
	--,CP.CLASSIF_PRODUTO
	,APM.COD_COMPRADOR
	,APM.DATA_BASE
	,bi.dbo.fn_FormataVlr_Excel(APM.VLR_FREQ) as VLR_FREQ
	,bi.dbo.fn_FormataVlr_Excel(APM.VLR_LEAD_TIME) as VLR_LEAD_TIME
	,APM.MAIL_CONTATO
	,bi.dbo.fn_FormataVlr_Excel(APM.VLR_PEDIDO_MIN) as VLR_PEDIDO_MIN
	,'' AS EST_SEGURANCA
	,'' AS EXPOSICAO	
FROM
	@TAB_CUSTO AS TB
	INNER JOIN BI.DBO.BI_CAD_PRODUTO AS CP
		ON TB.COD_PRODUTO = CP.COD_PRODUTO
	INNER JOIN BI.DBO.BI_LINHA_PRODUTOS AS LP
		ON TB.COD_PRODUTO = LP.COD_PRODUTO
	LEFT JOIN BI.DBO.COMPRAS_AGENDA_PEDIDO_MATRIZ AS APM
		ON TB.COD_FORNECEDOR = APM.COD_FORNECEDOR
	LEFT JOIN BI.dbo.BI_CAD_FORNECEDOR AS CF
		ON TB.COD_FORNECEDOR = CF.COD_FORNECEDOR
		
		