--SELECT * FROM [BI].[dbo].[COMPRAS_AGENDA_PEDIDO_MATRIZ] WHERE COD_FORNECEDOR = 542
--SELECT * FROM [BI].[dbo].[COMPRAS_AGENDA_PEDIDO_AUTO] WHERE COD_FORNECEDOR = 542


--TRUNCATE TABLE [BI].[dbo].[COMPRAS_AGENDA_PEDIDO_AUTO]
DECLARE @TAB_AGENDA_REVIEW AS TABLE
(
	[COD_FORNECEDOR] [int] NOT NULL,
	[COD_COMPRADOR] [int] NOT NULL,
	[TIPO] [int] NULL,
	[DATA_BASE] [date] NOT NULL,
	[DIAS_REVIEW_TIME] [int] NOT NULL,
	[DIAS_LEAD_TIME] [int] NOT NULL,
	[DIAS_SS] [int] NOT NULL,
	[LISTA_LOJA] [varchar](500) NULL,
	[LISTA_DEP] [varchar](500) NULL,
	[LISTA_SECAO] [varchar](500) NULL,
	[VLR_PEDIDO_MIN] [numeric](18, 2) NULL,
	[COD_CFOP] [int] NOT NULL,
	[FLG_ATIVO] [int] NULL,
	[DTA_GRAVACAO] [datetime] NULL,
	[OBSERVACAO] [varchar](1000) NULL,
	[EATALY_ENTREGA_CD] [int] NULL
)

INSERT INTO @TAB_AGENDA_REVIEW
SELECT DISTINCT
	A.[COD_FORNECEDOR]
	,A.[COD_COMPRADOR]
	,1 AS TIPO
	,A.[DATA_BASE]
	,A.VLR_FREQ as [DIAS_REVIEW_TIME]
	,A.[VLR_LEAD_TIME] as [DIAS_LEAD_TIME]
	,3 as [DIAS_SS]
	,'1;2;3;6;7;9;12;13;17;18;20;21;22;23;24;25;27;30;31' as [LISTA_LOJA]
	,'2;9;10;13;3;12' as [LISTA_DEP]
	,null as [LISTA_SECAO]
	,ISNULL(A.[VLR_PEDIDO_MIN],0) AS [VLR_PEDIDO_MIN]
	,(CASE WHEN CF.UF = 'SP' THEN 1102 ELSE 2102 END) as [COD_CFOP]
	,1 as [FLG_ATIVO]
	,getdate() [DTA_GRAVACAO]
	,'Fase FULL Auto 2015-10-01' as [OBSERVACAO]
	,null [EATALY_ENTREGA_CD]
FROM
	[BI].[dbo].[COMPRAS_AGENDA_PEDIDO_MATRIZ] AS A
	INNER JOIN BI.DBO.BI_CAD_FORNECEDOR AS CF
		ON A.COD_FORNECEDOR = CF.COD_FORNECEDOR
WHERE 1=1
	AND A.COD_FORNECEDOR IN
	(	
		SELECT DISTINCT FP.[COD_FORNECEDOR]
		FROM
			[BI].[dbo].[BI_CAD_FORNECEDOR_PRODUTO] AS FP
			INNER JOIN BI.dbo.BI_CAD_PRODUTO AS CP
				ON FP.COD_PRODUTO = CP.COD_PRODUTO
		where 1=1
			AND CP.PNP = 'NP'
	)
	--and A.COD_FORNECEDOR = 542
	
	
DECLARE @TAB_MIN_REVIEW AS TABLE
(
	[COD_FORNECEDOR] [int] NOT NULL,
	[DIAS_REVIEW_TIME] [int] NOT NULL
)
INSERT INTO @TAB_MIN_REVIEW
	SELECT COD_FORNECEDOR, MIN(DIAS_REVIEW_TIME) FROM @TAB_AGENDA_REVIEW GROUP BY COD_FORNECEDOR

DECLARE @TAB_AGENDA_LEAD AS TABLE
(
	[COD_FORNECEDOR] [int] NOT NULL,
	[COD_COMPRADOR] [int] NOT NULL,
	[TIPO] [int] NULL,
	[DATA_BASE] [date] NOT NULL,
	[DIAS_REVIEW_TIME] [int] NOT NULL,
	[DIAS_LEAD_TIME] [int] NOT NULL,
	[DIAS_SS] [int] NOT NULL,
	[LISTA_LOJA] [varchar](500) NULL,
	[LISTA_DEP] [varchar](500) NULL,
	[LISTA_SECAO] [varchar](500) NULL,
	[VLR_PEDIDO_MIN] [numeric](18, 2) NULL,
	[COD_CFOP] [int] NOT NULL,
	[FLG_ATIVO] [int] NULL,
	[DTA_GRAVACAO] [datetime] NULL,
	[OBSERVACAO] [varchar](1000) NULL,
	[EATALY_ENTREGA_CD] [int] NULL
)

INSERT INTO @TAB_AGENDA_LEAD
SELECT DISTINCT
	A.[COD_FORNECEDOR]
	,A.[COD_COMPRADOR]
	,A.[TIPO]
	,A.[DATA_BASE]
	,A.[DIAS_REVIEW_TIME]
	,A.[DIAS_LEAD_TIME]
	,A.[DIAS_SS]
	,A.[LISTA_LOJA]
	,A.[LISTA_DEP]
	,A.[LISTA_SECAO]
	,A.[VLR_PEDIDO_MIN]
	,A.[COD_CFOP]
	,A.[FLG_ATIVO]
	,A.[DTA_GRAVACAO]
	,A.[OBSERVACAO]
	,A.[EATALY_ENTREGA_CD]
FROM
	@TAB_AGENDA_REVIEW AS A
	INNER JOIN @TAB_MIN_REVIEW as MM
		on 1=1
		AND A.COD_FORNECEDOR = MM.COD_FORNECEDOR
		AND A.[DIAS_REVIEW_TIME] = MM.[DIAS_REVIEW_TIME]

DECLARE @TAB_MIN_LEAD AS TABLE
(
	[COD_FORNECEDOR] [int] NOT NULL,
	[DIAS_LEAD_TIME] [int] NOT NULL
)
INSERT INTO @TAB_MIN_LEAD
	SELECT COD_FORNECEDOR, MIN(DIAS_LEAD_TIME) FROM @TAB_AGENDA_LEAD GROUP BY COD_FORNECEDOR

INSERT INTO [BI].[dbo].[COMPRAS_AGENDA_PEDIDO_AUTO]
(
	[COD_FORNECEDOR]
	,[COD_COMPRADOR]
	,[TIPO]
	,[DATA_BASE]
	,[DIAS_REVIEW_TIME]
	,[DIAS_LEAD_TIME]
	,[DIAS_SS]
	,[LISTA_LOJA]
	,[LISTA_DEP]
	,[LISTA_SECAO]
	,[VLR_PEDIDO_MIN]
	,[COD_CFOP]
	,[FLG_ATIVO]
	,[DTA_GRAVACAO]
	,[OBSERVACAO]
	,[EATALY_ENTREGA_CD]
)	
SELECT DISTINCT
	A.[COD_FORNECEDOR]
	,A.[COD_COMPRADOR]
	,A.[TIPO]
	,A.[DATA_BASE]
	,A.[DIAS_REVIEW_TIME]
	,A.[DIAS_LEAD_TIME]
	,A.[DIAS_SS]
	,A.[LISTA_LOJA]
	,A.[LISTA_DEP]
	,A.[LISTA_SECAO]
	,A.[VLR_PEDIDO_MIN]
	,A.[COD_CFOP]
	,A.[FLG_ATIVO]
	,A.[DTA_GRAVACAO]
	,A.[OBSERVACAO]
	,A.[EATALY_ENTREGA_CD]
FROM
	@TAB_AGENDA_LEAD AS A
	INNER JOIN @TAB_MIN_LEAD as MM
		on 1=1
		AND A.COD_FORNECEDOR = MM.COD_FORNECEDOR
		AND A.[DIAS_LEAD_TIME] = MM.[DIAS_LEAD_TIME]