INSERT INTO BI.dbo.BI_PRECO_VENDA
(
	COD_LOJA
	,COD_PRODUTO
	,TIPO
	,DTA_INI
	,DTA_FIM
	,DESCRICAO
	,VALOR
	,COD_USUARIO
	,DESCRICAO_CURTA
	,APLICA_SIMILAR
	,USUARIO
)
SELECT	
	5 AS COD_LOJA
	,C.[COD_PRODUTO]
	,0 AS TIPO
	,GETDATE()+1 AS DTA_INI
	,GETDATE()+720 AS DTA_FIM
	,'CADASTRO AUTO ORBIS' AS DESCRICAO
	,(C.[VLR_EMB_COMPRA]/nullif(C.[QTD_EMB_COMPRA],0))*1.015 AS VALOR
	,99999
	,'CADASTRO AUTO ORBIS' AS DESCRICAO_CURTA
	,0 AS APLICA_SIMILAR
	,'MARCHE\VICTOR.ROSA'
FROM
	[BI].[dbo].[VW_CUSTOS_ATIVOS2] AS C
	LEFT JOIN BI.dbo.VW_PRECOS_VENDA_ATIVOS AS PV
		ON 1=1
		AND C.COD_PRODUTO = PV.COD_PRODUTO
		AND PV.COD_LOJA = 5		
WHERE 1=1
	AND C.COD_FORNECEDOR = 18055
	AND PV.VLR_VENDA <> convert(numeric(18,2),(C.[VLR_EMB_COMPRA]/nullif(C.[QTD_EMB_COMPRA],0))*1.015)
	--AND C.COD_PRODUTO = 185974--1030142
	and C.[COD_PRODUTO] in (SELECT DISTINCT COD_PRODUTO FROM BI.dbo.COMPRAS_PEDIDOS WHERE COD_FORNECEDOR = 18055 AND COD_PEDIDO IS NOT NULL)
	--and C.COD_PRODUTO = 561570
	
	
	
	
	--select * from BI_PRECO_VENDA where COD_PRODUTO = 561570 and COD_LOJA = 5 order by DTA_GRAVACAO desc--DESCRICAO = 'CADASTRO AUTO ORBIS'