--TRUNCATE TABLE [BI].[dbo].[COMPRA_PRODUTO_PARAMETRO]
INSERT INTO [BI].[dbo].[COMPRA_PRODUTO_PARAMETRO]
(
	[COD_LOJA]
	,[COD_PRODUTO]
	,[FAT_SZ]
	,[DIA_SS]
	,[QTD_EXP]
	,[QTD_DIAS_MAX_COMPRA]
	,[DTA_ALTERACAO]
	,[DTA_INCLUSAO]
	,[COD_USUARIO]
)
SELECT DISTINCT
	[COD_LOJA]
	,FP.[COD_PRODUTO]
	,1 AS [FAT_SZ]
	,3 AS [DIA_SS]
	,3 AS [QTD_EXP]
	,1 AS [QTD_DIAS_MAX_COMPRA]
	,GETDATE() AS [DTA_ALTERACAO]
	,GETDATE() AS [DTA_INCLUSAO]
	,99999 AS [COD_USUARIO]
FROM
	[BI].[dbo].[BI_CAD_FORNECEDOR_PRODUTO] AS FP
	INNER JOIN BI.dbo.BI_CAD_PRODUTO AS CP
		ON FP.COD_PRODUTO = CP.COD_PRODUTO
	INNER JOIN BI.dbo.BI_LINHA_PRODUTOS AS LP
		ON FP.COD_PRODUTO = LP.COD_PRODUTO
where 1=1
	AND CP.PNP = 'NP'
	AND CP.COD_DEPARTAMENTO IN (2,9,10,13,3,12)



/*

SELECT CP.COD_PRODUTO, CP.DESCRICAO AS NO_PRODUTO ,CP.COD_FORNECEDOR AS COD_FORNECEDOR_PRINCIPAL, CF.DESCRICAO AS NO_FORNECEDOR FROM BI.DBO.BI_CAD_PRODUTO AS CP
INNER JOIN [BI].[DBO].[BI_CAD_FORNECEDOR] AS CF
		ON CF.COD_FORNECEDOR = CP.COD_FORNECEDOR



SELECT
	FP.[COD_FORNECEDOR]
	,CF.DESCRICAO AS NO_FORN
	,FP.[COD_PRODUTO]
	,CP.DESCRICAO AS NO_PROD
	,CP.NO_DEPARTAMENTO
	,CP.NO_SECAO
	,CP.NO_GRUPO
	,CP.CLASSIF_PRODUTO
	,BI.dbo.fn_FormataVlr_Excel((SELECT SUM(QTD_EMBALAGEM*VLR_EMB) FROM BI.dbo.COMPRAS_PEDIDOS AS P WHERE P.COD_FORNECEDOR = FP.COD_FORNECEDOR AND P.COD_PRODUTO = FP.COD_PRODUTO AND CONVERT(DATE,P.DATA) >= CONVERT(DATE,GETDATE()-60) AND COD_PEDIDO IS NOT NULL)) AS VLR_PED_U60D
FROM
	[BI].[dbo].[BI_CAD_FORNECEDOR_PRODUTO] AS FP
	INNER JOIN BI.dbo.BI_CAD_PRODUTO AS CP
		ON FP.COD_PRODUTO = CP.COD_PRODUTO
	INNER JOIN [BI].[dbo].[BI_CAD_FORNECEDOR] AS CF
		ON FP.COD_FORNECEDOR = CF.COD_FORNECEDOR
where 1=1
	AND CP.PNP = 'NP'
	AND CP.COD_DEPARTAMENTO IN (2,9,10,13,3,12)

*/