	DECLARE @ARRAY_LOJAS AS VARCHAR(200) = '1,2,3,6,7,9,10,12,13,17,18,19,20,21,30,31'

	IF OBJECT_ID('TEMPDB.DBO.#TAB_RETORNO') IS NOT NULL DROP TABLE #TAB_RETORNO
	
	CREATE TABLE  #TAB_RETORNO
	(
		COD_FORNECEDOR INT
		,[COD_PRODUTO] INT
	)
	CREATE CLUSTERED INDEX IX_TBRETORNOCALC ON #TAB_RETORNO (COD_FORNECEDOR, COD_PRODUTO)
	
	INSERT INTO #TAB_RETORNO (COD_FORNECEDOR, COD_PRODUTO)
		SELECT DISTINCT
			AXF.COD_FORNECEDOR AS COD_FORNECEDOR
			,AXF.[COD_PRODUTO] AS COD_PRODUTO
		FROM
			AX2009_INTEGRACAO.[DBO].[TAB_PRODUTO_REFERENCIA_CALC] AS AXF WITH (NOLOCK)
		WHERE 1 = 1
			AND AXF.[COD_FORNECEDOR] IN (SELECT COD_FORNECEDOR FROM [BI].[dbo].[COMPRAS_AGENDA_PEDIDO_AUTO] WHERE FLG_ATIVO = 1)
			AND AXF.[COD_LOJA] IN ( select ITEM from [dbo].[fnSplit](@ARRAY_LOJAS,',') )
			AND AXF.FORA_MIX = 'N'
	
	-- #####################################################################################################################################################################
	-- UPDATES
	-- #####################################################################################################################################################################				
		SELECT
			--|||Essenciais|||
			L.COD_FORNECEDOR
			,CF.DESCRICAO AS FORN
			,L.COD_PRODUTO
			,CP.DESCRICAO AS PROD
			,CP.NO_DEPARTAMENTO
			,CP.NO_SECAO
		
		FROM
			#TAB_RETORNO AS L
			INNER JOIN BI.dbo.BI_CAD_PRODUTO AS CP
				ON L.COD_PRODUTO = CP.COD_PRODUTO 
			INNER JOIN BI.dbo.BI_CAD_FORNECEDOR AS CF
				ON L.COD_FORNECEDOR = Cf.COD_FORNECEDOR
			LEFT JOIN [BI].[dbo].[SUPPLY_PRODUTO_BLOQUEADO_FORN_AUTO] AS PBF
				ON 1=1
				AND PBF.COD_FORNECEDOR = L.COD_FORNECEDOR
				AND L.COD_PRODUTO = PBF.COD_PRODUTO			
		WHERE 1=1
			AND PBF.COD_PRODUTO IS NULL
