declare @ID_AGENDA INT = 33

	SET NOCOUNT ON;
	
	DECLARE @DATA_INI AS DATE = GETDATE()-90
	DECLARE @DATA_FIM AS DATE = GETDATE()
	
	--DECLARE @ID_AGENDA INT = 757
	--DECLARE @ARRAY_LOJAS VARCHAR(80) = '1,2,3,6,7,9,10,12,13,17,18,19,20,21,30,31,5'

	DECLARE @COD_FORNECEDOR INT
	DECLARE @COD_FORNECEDOR_PEDIDO INT
	DECLARE @DIAS_EXTRAS INT
	
	
	
	
	-- --------------------------------------------------------------------------------------------------------------------------
	--
	-- --------------------------------------------------------------------------------------------------------------------------
		SELECT
			@COD_FORNECEDOR = COD_FORNECEDOR
			,@COD_FORNECEDOR_PEDIDO = (CASE WHEN FLG_CENTRALIZADO = 1 THEN 18055 ELSE COD_FORNECEDOR END)
			,@DIAS_EXTRAS = (CASE WHEN FLG_CENTRALIZADO = 1 THEN 5 ELSE 7 END)
		FROM COMPRAS_AGENDA_PEDIDO_AUTO
		WHERE 1=1
			AND ID = @ID_AGENDA
			
	
	PRINT @COD_FORNECEDOR
	PRINT @COD_FORNECEDOR_PEDIDO
	
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	-- @TAB_PEDIDO_SIMULADO
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @TAB_PEDIDO_SIMULADO AS TABLE
	(
		COD_LOJA INT
		,COD_FORNECEDOR INT
		,DATA DATE
		,DTA_ENTREGA_PREVISTA DATE
		,COD_PEDIDO VARCHAR(50)
		,COD_PRODUTO INT
		,QTD_PEDIDO NUMERIC(18,2)
		,VLR_TOTAL_PEDIDO NUMERIC(18,2)
		,PURCHSTATUS INT
		,PRIMARY KEY (COD_LOJA, COD_FORNECEDOR, COD_PEDIDO, COD_PRODUTO)
	)
	INSERT INTO @TAB_PEDIDO_SIMULADO
		SELECT 
			COD_LOJA
			,A.COD_FORNECEDOR AS COD_FORNECEDOR
			,CONVERT(dATE,MIN(PED.DATA)) AS DATA
			,CONVERT(dATE,MIN(PED.DATA_ENTREGA)) AS DTA_ENTREGA_PREVISTA
			,PED.MARCHE_PURCHIDREF AS COD_PEDIDO
			,PED.COD_PRODUTO
			,sum(PED.QTD_EMBALAGEM*PED.QTD_EMB_ORG) AS QTD_PEDIDO
			,sum(PED.VLR_EMB*QTD_EMBALAGEM) AS VLR_TOTAL_PEDIDO
			,PT.PURCHSTATUS
		FROM
			BI.dbo.COMPRAS_PEDIDOS AS PED
			INNER JOIN [BI].[dbo].[COMPRAS_AGENDA_PEDIDO_AUTO] AS A
				ON PED.ID_AGENDA = A.ID
			LEFT JOIN
			(SELECT DISTINCT COD_FORNECEDOR, MIN(DIAS_LEAD_TIME) AS DIAS_LEAD_TIME FROM COMPRAS_AGENDA_PEDIDO_AUTO WHERE FLG_ATIVO = 1 AND TIPO = 1 GROUP BY COD_FORNECEDOR) AS F_LT
				ON PED.COD_FORNECEDOR = F_LT.COD_FORNECEDOR
			--LEFT JOIN AX2009_INTEGRACAO.dbo.TAB_PRODUTO_REFERENCIA AS PR
			--	ON 1=1
			--	AND PED.COD_PRODUTO = PR.COD_PRODUTO
			--	AND A.COD_FORNECEDOR = PR.COD_FORNECEDOR
			LEFT JOIN SMA_AX50_SP1_DB_PROD.dbo.PURCHTABLE AS PT
				ON PED.MARCHE_PURCHIDREF = PT.PURCHID COLLATE Latin1_General_CI_AS
		WHERE 1 = 1
			AND ISNULL(PED.MARCHE_PURCHIDREF,'') <> ''
			AND CONVERT(DATE,PED.DATA) BETWEEN CONVERT(DATE,@DATA_INI) AND CONVERT(DATE,@DATA_FIM)
			AND PED.COD_FORNECEDOR = 18055
			AND A.COD_FORNECEDOR = @COD_FORNECEDOR
			AND PED.COD_PEDIDO IS NOT NULL
			AND
			(
				isnull(PED.FLG_ERRO_FORNECEDOR_PRINCIPAL,0) = 0
				AND isnull(PED.FLG_ERRO_TIPO_ABASTECIMENTO,0) = 0
				AND isnull(PED.FLG_ERRO_SEM_CUSTO,0) = 0
				AND isnull(PED.FLG_COMPRA,1) = 1
				AND PED.FLG_BLOQUEADO_SUPPLY IS NULL
				AND PED.FLG_ERRO_CONVERSAO_UNIDADE IS NULL
				AND PED.QTD_EMBALAGEM > 0
			)
			--AND PED.MARCHE_PURCHIDREF LIKE 'CD%1457'
		group by
			COD_LOJA
			,A.COD_FORNECEDOR
			,PED.MARCHE_PURCHIDREF
			,PED.COD_PRODUTO
			,PT.PURCHSTATUS

	-- ---------------------------------------------------------------------------------------------------------------------------------------
	-- @TAB_RECEBIMENTO
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @TAB_RECEBIMENTO AS TABLE
	(
		COD_LOJA INT
		,COD_FORNECEDOR INT
		,DTA_ENTRADA DATE
		,COD_PEDIDO VARCHAR(50)
		,COD_PRODUTO INT
		,QTD_ENTRADA NUMERIC(18,2)
		,VAL_TABELA NUMERIC(18,2)
		,VLR_TOTAL_RECEBIMENTO NUMERIC(18,2)
		,PRIMARY KEY (COD_LOJA, COD_FORNECEDOR, COD_PEDIDO, COD_PRODUTO)
	)
	INSERT INTO @TAB_RECEBIMENTO
		SELECT-- TOP 10
			ENT.COD_LOJA
			,ENT.COD_FORNECEDOR
			,min(ENT.DTA_ENTRADA)
			,ENT.PURCHID AS COD_PEDIDO
			--,ENT.NUM_NF_FORN
			--,ENT.NUM_SERIE_NF
			--,ENT.NUM_DANFE
			,ENT.COD_PRODUTO
			,SUM(ENT.QTDE_UNITARIA) AS QTD_ENTRADA
			,AVG(ENT.VAL_TABELA) AS VAL_TABELA
			,SUM(ENT.VAL_TABELA_FINAL*-1) AS VLR_TOTAL_RECEBIMENTO
		FROM
			DW.DBO.VW_MARCHE_ENTRADAS AS ENT
		WHERE  1 = 1
			AND ENT.PURCHID LIKE 'CD%'
			AND ENT.DATAAREAID = 'ORB'
			AND CONVERT(DATE,ENT.DTA_ENTRADA) BETWEEN CONVERT(DATE,@DATA_INI) AND CONVERT(DATE,@DATA_FIM)
			--AND ENT.COD_FORNECEDOR = 1789
			--AND ENT.PURCHID LIKE 'CD%1457'
		GROUP BY
			ENT.COD_LOJA
			,ENT.COD_FORNECEDOR
			,ENT.PURCHID
			,ENT.COD_PRODUTO

	-- ---------------------------------------------------------------------------------------------------------------------------------------
	-- 
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @TAB_PEDIDO AS TABLE
	(
		COD_LOJA INT
		,COD_FORNECEDOR INT
		,COD_PEDIDO VARCHAR(50)
		,DATA DATE
		,DATA_ENTREGA DATE		
		,COD_PRODUTO INT
		,QTD_PEDIDO NUMERIC(18,2)
		,QTD_RECEBIMENTO NUMERIC(18,2)
		,PRIMARY KEY (COD_LOJA, COD_FORNECEDOR, COD_PEDIDO, COD_PRODUTO)
	)
	INSERT INTO @TAB_PEDIDO	
		SELECT
			P.COD_LOJA AS COD_LOJA
			,P.COD_FORNECEDOR as COD_FORNECEDOR
			,P.COD_PEDIDO AS NUM_PEDIDO
			,P.DATA as DATA_PEDIDO
			,P.DTA_ENTREGA_PREVISTA AS DATA_RECEBIMENTO_PEDIDO
			--,R.DTA_ENTRADA AS DATA_RECEBIMENTO			
			,P.COD_PRODUTO
			,P.QTD_PEDIDO AS QTD_PEDIDO
			,R.QTD_ENTRADA AS QTD_RECEBIMENTO
		FROM
			@TAB_PEDIDO_SIMULADO AS P
			--LEFT JOIN @TAB_PEDIDO_AX AS PAX	
			--	ON 1=1
			--	AND P.COD_LOJA = PAX.COD_LOJA
			--	AND P.COD_FORNECEDOR = PAX.COD_FORNECEDOR
			--	AND P.COD_PEDIDO = PAX.COD_PEDIDO
			--	AND P.COD_PRODUTO = PAX.COD_PRODUTO	
			LEFT JOIN @TAB_RECEBIMENTO AS R
				ON 1=1
				--AND P.COD_LOJA = R.COD_LOJA
				AND P.COD_FORNECEDOR = R.COD_FORNECEDOR
				AND P.COD_PEDIDO = R.COD_PEDIDO
				AND P.COD_PRODUTO = R.COD_PRODUTO
			LEFT JOIN BI.dbo.BI_LINHA_PRODUTOS AS LP
				ON 1=1
				AND P.COD_LOJA = LP.COD_LOJA
				AND P.COD_PRODUTO = LP.COD_PRODUTO	
		WHERE 1=1
			AND P.PURCHSTATUS <> 4
			
	UNION ALL
	
	SELECT	
		(CASE WHEN P.COD_LOJA = 26 THEN 8 ELSE P.COD_LOJA END) AS COD_LOJA
		,convert(int,P.COD_PARCEIRO) as COD_FORNECEDOR
		,CONVERT(VARCHAR(12),P.NUM_PEDIDO) AS NUM_PEDIDO
		,P.DTA_EMISSAO
		,P.DTA_ENTREGA
		,PP.COD_PRODUTO
		,PP.QTD_PEDIDO*PP.QTD_EMBALAGEM AS QTD_PEDIDO
		,ISNULL(PP.QTD_RECEBIDA*PP.QTD_EMBALAGEM,0) AS QTD_RECEBIDA		
    FROM
		[192.168.0.6].[ZEUS_RTG].DBO.[TAB_PEDIDO] AS P
		INNER JOIN [192.168.0.6].[ZEUS_RTG].DBO.[TAB_PEDIDO_PRODUTO] AS PP
			ON 1=1
			and P.NUM_PEDIDO = PP.NUM_PEDIDO
			AND P.COD_LOJA = PP.COD_LOJA
			AND P.COD_PARCEIRO = PP.COD_PARCEIRO
		LEFT JOIN BI.dbo.BI_LINHA_PRODUTOS AS LP
				ON 1=1
				AND P.COD_LOJA = LP.COD_LOJA
				AND PP.COD_PRODUTO = LP.COD_PRODUTO	
    WHERE 1 = 1
		AND CONVERT(DATE,P.DTA_EMISSAO) between CONVERT(DATE,@DATA_INI) AND CONVERT(DATE,@DATA_FIM)
		AND PP.QTD_EMBALAGEM <> 0
		AND P.COD_PARCEIRO = @COD_FORNECEDOR
		
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	-- grouped
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	SELECT
		COD_LOJA
		,COD_FORNECEDOR	
		,COD_PRODUTO
		,COD_PEDIDO
		,SUM(QTD_PEDIDO) AS QTD_ESTOQUE_TRANSITO
	FROM
		@TAB_PEDIDO
	WHERE 1=1
		AND ISNULL(QTD_RECEBIMENTO,0) = 0
		AND CONVERT(DATE,DATEADD(D,@DIAS_EXTRAS,DATA_ENTREGA)) >= CONVERT(DATE,GETDATE())
		and COD_PRODUTO in (1033172,1033168)
	GROUP BY
		COD_LOJA
		,COD_FORNECEDOR	
		,COD_PRODUTO
		,COD_PEDIDO
		
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	-- detailed
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	/*
	SELECT
		COD_LOJA
		,COD_FORNECEDOR
		,COD_PEDIDO
		,DATA
		,DATA_ENTREGA		
		,COD_PRODUTO
		,BI.dbo.fn_FormataVlr_Excel(QTD_PEDIDO) AS QTD_PEDIDO
		,BI.dbo.fn_FormataVlr_Excel(ISNULL(QTD_RECEBIMENTO,0)) AS QTD_RECEBIMENTO	
	FROM
		@TAB_PEDIDO
	WHERE 1=1
		AND ISNULL(QTD_RECEBIMENTO,0) = 0
		AND CONVERT(DATE,DATEADD(D,@DIAS_EXTRAS,DATA_ENTREGA)) >= CONVERT(DATE,GETDATE())	
	*/


--select PURCHSTATUS, * from SMA_AX50_SP1_DB_PROD.dbo.PURCHTABLE where PURCHID = 'CD_0003821'