	DECLARE @ANO_454 AS INT = 2016
	DECLARE @SEMANA_454 AS INT = 36
	
	DECLARE @DATA_INI_SEMANA AS DATE
	DECLARE @DATA_FIM_SEMANA AS DATE
	DECLARE @MES_454 AS INT
	
	SELECT @DATA_INI_SEMANA = MIN(DATA), @DATA_FIM_SEMANA = MAX(DATA), @MES_454 = MAX(MES_454) FROM BI.DBO.BI_CAD_SEMANA WHERE ANO_454 = @ANO_454 AND SEMANA_454 = @SEMANA_454
	
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	-- @TAB_PEDIDO_SIMULADO
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @TAB_PEDIDO_SIMULADO AS TABLE
	(
		COD_LOJA INT
		,COD_FORNECEDOR INT
		,DATA DATE
		,DTA_ENTREGA_PREVISTA DATE
		,COD_PEDIDO VARCHAR(50)
		,COD_PRODUTO INT
		,QTD_PEDIDO NUMERIC(18,2)
		,VLR_TOTAL_PEDIDO NUMERIC(18,2)
		,PRIMARY KEY (COD_LOJA, COD_FORNECEDOR, COD_PEDIDO, COD_PRODUTO)
	)
	INSERT INTO @TAB_PEDIDO_SIMULADO
		SELECT 
			5 as COD_LOJA
			,A.COD_FORNECEDOR AS COD_FORNECEDOR
			,CONVERT(dATE,MIN(PED.DATA)) AS DATA
			,CONVERT(dATE,MIN(PED.DATA_ENTREGA)) AS DTA_ENTREGA_PREVISTA
			,PED.MARCHE_PURCHIDREF AS COD_PEDIDO
			,PED.COD_PRODUTO
			,sum(PED.QTD_EMBALAGEM*PED.QTD_EMB_ORG) AS QTD_PEDIDO
			,sum(PED.VLR_EMB*QTD_EMBALAGEM) AS VLR_TOTAL_PEDIDO
		FROM
			BI.dbo.COMPRAS_PEDIDOS AS PED
			INNER JOIN [BI].[dbo].[COMPRAS_AGENDA_PEDIDO_AUTO] AS A
				ON PED.ID_AGENDA = A.ID
			LEFT JOIN
			(SELECT DISTINCT COD_FORNECEDOR, MIN(DIAS_LEAD_TIME) AS DIAS_LEAD_TIME FROM COMPRAS_AGENDA_PEDIDO_AUTO WHERE FLG_ATIVO = 1 AND TIPO = 1 GROUP BY COD_FORNECEDOR) AS F_LT
				ON PED.COD_FORNECEDOR = F_LT.COD_FORNECEDOR
			--LEFT JOIN AX2009_INTEGRACAO.dbo.TAB_PRODUTO_REFERENCIA AS PR
			--	ON 1=1
			--	AND PED.COD_PRODUTO = PR.COD_PRODUTO
			--	AND A.COD_FORNECEDOR = PR.COD_FORNECEDOR
		WHERE 1 = 1
			AND ISNULL(PED.MARCHE_PURCHIDREF,'') <> ''
			AND CONVERT(DATE,PED.DATA) BETWEEN CONVERT(DATE,@DATA_INI_SEMANA) AND CONVERT(DATE,@DATA_FIM_SEMANA)
			AND PED.COD_FORNECEDOR = 18055
			--AND A.COD_FORNECEDOR = 1789
			AND PED.COD_PEDIDO IS NOT NULL
			AND
			(
				isnull(PED.FLG_ERRO_FORNECEDOR_PRINCIPAL,0) = 0
				AND isnull(PED.FLG_ERRO_TIPO_ABASTECIMENTO,0) = 0
				AND isnull(PED.FLG_ERRO_SEM_CUSTO,0) = 0
				AND isnull(PED.FLG_COMPRA,1) = 1
				AND PED.FLG_BLOQUEADO_SUPPLY IS NULL
				AND PED.FLG_ERRO_CONVERSAO_UNIDADE IS NULL
			)
			--AND PED.MARCHE_PURCHIDREF LIKE 'CD%1457'
		group by
			A.COD_FORNECEDOR
			,PED.MARCHE_PURCHIDREF
			,PED.COD_PRODUTO

	-- ---------------------------------------------------------------------------------------------------------------------------------------
	-- @TAB_RECEBIMENTO
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @TAB_RECEBIMENTO AS TABLE
	(
		COD_LOJA INT
		,COD_FORNECEDOR INT
		,DTA_ENTRADA DATE
		,COD_PEDIDO VARCHAR(50)
		,COD_PRODUTO INT
		,QTD_ENTRADA NUMERIC(18,2)
		,VAL_TABELA NUMERIC(18,2)
		,VLR_TOTAL_RECEBIMENTO NUMERIC(18,2)
		,PRIMARY KEY (COD_LOJA, COD_FORNECEDOR, COD_PEDIDO, COD_PRODUTO)
	)
	INSERT INTO @TAB_RECEBIMENTO
		SELECT-- TOP 10
			ENT.COD_LOJA
			,ENT.COD_FORNECEDOR
			,min(ENT.DTA_ENTRADA)
			,ENT.PURCHID AS COD_PEDIDO
			--,ENT.NUM_NF_FORN
			--,ENT.NUM_SERIE_NF
			--,ENT.NUM_DANFE
			,ENT.COD_PRODUTO
			,SUM(ENT.QTDE_UNITARIA) AS QTD_ENTRADA
			,AVG(ENT.VAL_TABELA) AS VAL_TABELA
			,SUM(ENT.VAL_TABELA_FINAL*-1) AS VLR_TOTAL_RECEBIMENTO
		FROM
			DW.DBO.VW_MARCHE_ENTRADAS AS ENT
		WHERE  1 = 1
			AND ENT.PURCHID LIKE 'CD%'
			AND ENT.DATAAREAID = 'ORB'
			AND CONVERT(DATE,ENT.DTA_ENTRADA) BETWEEN CONVERT(DATE,@DATA_INI_SEMANA) AND CONVERT(DATE,@DATA_FIM_SEMANA)
			--AND ENT.COD_FORNECEDOR = 1789
			--AND ENT.PURCHID LIKE 'CD%1457'
		GROUP BY
			ENT.COD_LOJA
			,ENT.COD_FORNECEDOR
			,ENT.PURCHID
			,ENT.COD_PRODUTO

	-- ---------------------------------------------------------------------------------------------------------------------------------------
	-- 
	-- ---------------------------------------------------------------------------------------------------------------------------------------
	SELECT
		COD_LOJA
		,SUM(QTD_PEDIDO) as QTD_PEDIDO
		,SUM(QTD_RECEBIMENTO) as QTD_RECEBIMENTO
	FROM
	(
	
		SELECT
			P.COD_LOJA AS COD_LOJA
			,sum(P.QTD_PEDIDO) AS QTD_PEDIDO
			,sum(R.QTD_ENTRADA) AS QTD_RECEBIMENTO
		FROM
			@TAB_PEDIDO_SIMULADO AS P
			LEFT JOIN @TAB_RECEBIMENTO AS R
				ON 1=1
				AND P.COD_LOJA = R.COD_LOJA
				AND P.COD_FORNECEDOR = R.COD_FORNECEDOR
				AND P.COD_PEDIDO = R.COD_PEDIDO
				AND P.COD_PRODUTO = R.COD_PRODUTO
			LEFT JOIN BI.dbo.BI_LINHA_PRODUTOS AS LP
				ON 1=1
				AND P.COD_LOJA = LP.COD_LOJA
				AND P.COD_PRODUTO = LP.COD_PRODUTO	
		WHERE 1=1
		GROUP BY
			P.COD_LOJA
			
	UNION ALL
	
		SELECT	
			(CASE WHEN P.COD_LOJA = 26 THEN 8 ELSE P.COD_LOJA END) AS COD_LOJA		
			,sum(PP.QTD_PEDIDO*PP.QTD_EMBALAGEM) AS QTD_PEDIDO
			,sum(ISNULL(PP.QTD_RECEBIDA*PP.QTD_EMBALAGEM,0)) AS QTD_RECEBIDA 
		FROM
			[192.168.0.6].[ZEUS_RTG].DBO.[TAB_PEDIDO] AS P
			INNER JOIN [192.168.0.6].[ZEUS_RTG].DBO.[TAB_PEDIDO_PRODUTO] AS PP
				ON 1=1
				and P.NUM_PEDIDO = PP.NUM_PEDIDO
				AND P.COD_LOJA = PP.COD_LOJA
				AND P.COD_PARCEIRO = PP.COD_PARCEIRO
			LEFT JOIN BI.dbo.BI_LINHA_PRODUTOS AS LP
					ON 1=1
					AND P.COD_LOJA = LP.COD_LOJA
					AND PP.COD_PRODUTO = LP.COD_PRODUTO	
		WHERE 1 = 1
			AND CONVERT(DATE,P.DTA_EMISSAO) between CONVERT(DATE,@DATA_INI_SEMANA) AND CONVERT(DATE,@DATA_FIM_SEMANA)
			AND PP.QTD_EMBALAGEM <> 0
		group by
			(CASE WHEN P.COD_LOJA = 26 THEN 8 ELSE P.COD_LOJA END)
	) AS X
	GROUP BY
		COD_LOJA