 SELECT
		P.COD_LOJA
		,P.COD_PRODUTO
		,CP.DESCRICAO
		,ABC.ABC_LOJA AS ABC_SUPPLY
		,LP.CLASSIF_PRODUTO_LOJA AS ABC_LOJA
		,CP.COD_DEPARTAMENTO
		,CP.NO_DEPARTAMENTO
		,CP.COD_SECAO
		,CP.NO_SECAO
		,LP.FORA_LINHA
		,BI.dbo.fn_FormataVlr_Excel(FAT_SZ) as FAT_SZ
		,BI.dbo.fn_FormataVlr_Excel(DIA_SS) as DIA_SS
		,BI.dbo.fn_FormataVlr_Excel(QTD_EXP) as QTD_EXP
		,BI.dbo.fn_FormataVlr_Excel(QTD_DIAS_MAX_COMPRA) as QTD_DIAS_MAX_COMPRA
		,aFP.FORNECEDOR_COMPRAS
		,CF.DESCRICAO AS NO_FORNECEDOR
		,BI.dbo.fn_FormataVlr_Excel(PR.MARCHEQTDEMBALAGEM) as MARCHEQTDEMBALAGEM
		,BI.dbo.fn_FormataVlr_Excel(PR.MARCHEMULTIPLO) as MARCHEMULTIPLO
		,BI.dbo.fn_FormataVlr_Excel(PR.MARCHEUNITID) as MARCHEUNITID
		,(CASE
			WHEN afp.ModelArmazenagem = 0 THEN 'Direto'
			WHEN afp.ModelArmazenagem = 1 THEN 'CrossDocking'
			WHEN afp.ModelArmazenagem = 2 THEN 'Armazenagem'
			WHEN afp.ModelArmazenagem = 3 THEN 'PickingUnitario'
		END) AS TIPO_ABASTECIMENTO
		,BI.dbo.fn_FormataVlr_Excel(C.VLR_EMB_COMPRA) as VLR_EMB_COMPRA
		,BI.dbo.fn_FormataVlr_Excel(C.QTD_EMB_COMPRA) as QTD_EMB_COMPRA
		
	FROM
		[BI].[dbo].[COMPRA_PRODUTO_PARAMETRO] AS P
		LEFT JOIN BI.DBO.BI_CAD_PRODUTO AS CP
			ON P.COD_PRODUTO = CP.COD_PRODUTO
		LEFT JOIN [BI].[dbo].SUPPLY_PRODUTO_ABC_LOJA AS ABC
			ON 1=1
			AND P.COD_PRODUTO = ABC.COD_PRODUTO
			AND P.COD_LOJA = ABC.COD_LOJA
		LEFT JOIN [BI].[dbo].BI_LINHA_PRODUTOS AS LP
			ON 1=1
			AND P.COD_PRODUTO = LP.COD_PRODUTO
			AND P.COD_LOJA = LP.COD_LOJA
		left join AX2009_INTEGRACAO.dbo.TAB_PRODUTO_FORNECEDOR_PREFERENCIAL AS aFP
			ON 1=1
			AND P.COD_PRODUTO = aFP.COD_PRODUTO
			AND P.COD_LOJA = aFP.COD_LOJA
		LEFT JOIN AX2009_INTEGRACAO.DBO.TAB_PRODUTO_REFERENCIA AS PR
			ON 1=1
			AND P.COD_PRODUTO = PR.COD_PRODUTO
			AND aFP.FORNECEDOR_COMPRAS = PR.COD_FORNECEDOR
		left join BI.dbo.VW_CUSTOS_ATIVOS as c
			ON 1=1
			AND P.COD_PRODUTO = c.COD_PRODUTO
			AND aFP.FORNECEDOR_COMPRAS = c.COD_FORNECEDOR
		LEFT JOIN BI.dbo.BI_CAD_FORNECEDOR AS CF
			ON 1=1
			AND aFP.FORNECEDOR_COMPRAS = cF.COD_FORNECEDOR