--SELECT * from compras_pedidos where cod_loja = 5 and id_simulado = 3620 and convert(Date,data) = convert(date,getdate()) 
-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- GENERATING CD_XXXXXX (apenas depois que pedido gerado no zeus E integrado OV AX)
-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------

	--ATUALIZANDO PEDIDOS JA INTEGRADOS [OV/OC]
	EXEC BI.dbo.CARGA_COMPRAS_PEDIDOS_INTEGRACAO_AX

	DECLARE @TAB_PRODUTO_FORNECEDOR AS TABLE
	(
		COD_PRODUTO INT
		,COD_FORNECEDOR INT
		,MARCHEUNITID VARCHAR(10)
		,MARCHEMULTIPLO NUMERIC(18,2)
		,MARCHEQTDEMBALAGEM NUMERIC(18,2)
		,PRIMARY KEY (COD_PRODUTO,COD_FORNECEDOR)
	)
	INSERT INTO @TAB_PRODUTO_FORNECEDOR
		SELECT DISTINCT
			RIGHT(ref.itemid,8) AS COD_PRODUTO
			,CUSTVENDRELATION AS COD_FORNECEDOR
			,MARCHEUNITID
			,MARCHEMULTIPLO
			,MARCHEQTDEMBALAGEM
		FROM
			SMA_AX50_SP1_DB_PROD.dbo.CustVendExternalItem AS REF WITH (NOLOCK)
		WHERE 1=1
			AND REF.DATAAREAID = 'VCM'
			AND REF.EXTERNALITEMID <> ''
			AND REF.CUSTVENDRELATION IN (SELECT DISTINCT T2.COD_FORNECEDOR FROM SUPPLY_AGENDA_PEDIDO AS T1 INNER JOIN COMPRAS_AGENDA_PEDIDO_AUTO AS T2 ON T1.ID_AGENDA = T2.ID WHERE T1.FLG_SIMULADO = 1 AND T1.FLG_PEDIDO_APROVADO = 1 AND CONVERT(DATE,T1.DTA_GRAVACAO) >= CONVERT(DATE,GETDATE()-2) )

	INSERT INTO BI.dbo.COMPRAS_PEDIDOS
	(
		ID_SIMULADO
		,ID_AGENDA
		,COD_FORNECEDOR
		,COD_LOJA
		,COD_PRODUTO
		,QTD_EMBALAGEM
		,COD_COMPRADOR
		,DATA
		,QTD_ESTOQUE
		,ID
		,DATA_ENTREGA
		, COD_CFOP
		,VLR_EMB
		,VLR_EMB_ORG
		,VLR_MULTIPLO
		,QTD_EMB_ORG
		,FLG_AUTOMATICO
		,FLG_CENTRALIZADO
		,VLR_REV_TIME
		,VLR_LEAD_TIME
		,FLG_ERRO_FORNECEDOR_PRINCIPAL
		,FLG_ERRO_TIPO_ABASTECIMENTO
		,FLG_ERRO_SEM_CUSTO
		,FLG_COMPRA
		,FLG_BLOQUEADO_SUPPLY
		,FLG_ERRO_CONVERSAO_UNIDADE
		,FLG_ERRO_SEM_REFERENCIA
	)
	SELECT 
		P.ID_SIMULADO
		,P.ID_AGENDA
		,A.COD_FORNECEDOR
		,5 as COD_LOJA
		,P.COD_PRODUTO
		,SUM(QTD_EMBALAGEM)/PR.MARCHEQTDEMBALAGEM AS QTD_PEDIDO --QTD_EMBALAGEM
		,9999 AS COD_COMPRADOR
		,GETDATE() AS DATA
		,SUM(P.QTD_ESTOQUE) AS QTD_ESTOQUE
		,'CD_' + (SELECT MAX(P2.ID) FROM BI.DBO.COMPRAS_PEDIDOS AS P2 WHERE P.ID_SIMULADO = P2.ID_SIMULADO) AS ID_CD --ID
		,MIN(P.DATA_ENTREGA) AS DATA_ENTREGA
		,MAX(P.COD_CFOP) AS COD_CFOP
		,AVG([VLR_EMB]*PR.MARCHEQTDEMBALAGEM) AS VAL_TABELA --VLR_EMB
		,AVG([VLR_EMB]*PR.MARCHEQTDEMBALAGEM) AS VAL_TABELA --VLR_EMB_ORG
		,PR.MARCHEMULTIPLO AS [QTD_MULTIPLO_FORN] --VLR_MULTIPLO
		,PR.MARCHEQTDEMBALAGEM AS [QTD_EMBALAGEM_FORN] --QTD_EMB_ORG
		,1 AS FLG_AUTOMATICO
		,1 AS FLG_CENTRALIZADO
		,MAX(P.VLR_REV_TIME) AS VLR_REV_TIME
		,MAX(P.VLR_LEAD_TIME) AS VLR_LEAD_TIME		
		,0 AS FLG_ERRO_FORNECEDOR_PRINCIPAL
		,0 AS FLG_ERRO_TIPO_ABASTECIMENTO
		,0 AS FLG_ERRO_SEM_CUSTO
		,1 as FLG_COMPRA
		,NULL AS FLG_BLOQUEADO_SUPPLY
		,NULL AS FLG_ERRO_CONVERSAO_UNIDADE
		,NULL AS FLG_ERRO_SEM_REFERENCIA
		/* PARA CHECK DE CONVERSÃO DA ORBIS
			,PR.MARCHEUNITID			
			,P.QTD_EMB_ORG AS [QTD_EMBALAGEM_ORBIS]
			,P.VLR_MULTIPLO AS [QTD_MULTIPLO_ORBIS]
			,SUM(QTD_EMBALAGEM) AS QTD_PEDIDO_UN	
			,AVG([VLR_EMB]) AS VAL_TABELA_UN	
			,SUM(QTD_EMBALAGEM*[VLR_EMB]) AS VLR_TOTAL_PRODUTO
		*/
		/* VERIFICADORES DE INTEGRIDADE
			,COUNT(DISTINCT P.ID) AS QTD_PEDIDO_SIMULADO
			,COUNT(DISTINCT CASE WHEN P.COD_PEDIDO IS NOT NULL THEN P.COD_PEDIDO ELSE NULL END) AS QTD_PEDIDO_ZEUS
			,SUM(P.FLG_INTEGRADO_AX) AS QTD_ORDEM_VENDA_AX
			--,SUM(P.FLG_INTEGRADO_PURCHTABLE) AS QTD_ORDEM_COMPRA_AX		
		*/
	FROM
		[BI].[DBO].[COMPRAS_PEDIDOS] AS P
		INNER JOIN [BI].[dbo].[COMPRAS_AGENDA_PEDIDO_AUTO] AS A
			ON P.ID_AGENDA = A.ID
		LEFT JOIN @TAB_PRODUTO_FORNECEDOR AS PR	
			ON 1=1
			AND P.COD_PRODUTO = PR.COD_PRODUTO
			AND A.COD_FORNECEDOR = PR.COD_FORNECEDOR
	WHERE 1=1
		AND P.ID_SIMULADO IN (SELECT ID_SIMULADO FROM SUPPLY_AGENDA_PEDIDO WHERE FLG_SIMULADO = 1 AND FLG_PEDIDO_APROVADO = 1 AND CONVERT(DATE,DTA_GRAVACAO) >= CONVERT(DATE,GETDATE()-2) )
		AND P.FLG_AUTOMATICO = 1
		AND P.FLG_CENTRALIZADO = 1
		AND P.QTD_EMBALAGEM > 0
		AND ISNULL(MARCHE_PURCHIDREF,'') = ''
		AND
		(
			P.FLG_ERRO_FORNECEDOR_PRINCIPAL = 0
			AND P.FLG_ERRO_TIPO_ABASTECIMENTO = 0
			AND P.FLG_ERRO_SEM_CUSTO = 0
			AND P.FLG_COMPRA = 1
			AND P.FLG_BLOQUEADO_SUPPLY IS NULL
			AND P.FLG_ERRO_CONVERSAO_UNIDADE IS NULL
			AND P.FLG_ERRO_SEM_REFERENCIA IS NULL
		)		
		AND P.ID_SIMULADO NOT IN (SELECT DISTINCT ISNULL(TP.ID_SIMULADO,0) FROM BI.DBO.COMPRAS_PEDIDOS AS TP WHERE CONVERT(DATE,DATA) >= CONVERT(DATE,GETDATE()-2) AND COD_LOJA = 5)
	GROUP BY
		P.ID_SIMULADO
		,P.ID_AGENDA
		,A.COD_FORNECEDOR
		,P.COD_PRODUTO
		,PR.MARCHEMULTIPLO --VLR_MULTIPLO
		,PR.MARCHEQTDEMBALAGEM --QTD_EMB_ORG		
	HAVING
		COUNT(DISTINCT CASE WHEN P.COD_PEDIDO IS NOT NULL THEN P.COD_PEDIDO ELSE NULL END) > 0 --SE JA EXISTE PELO MENOS UM PEDIDO GERADO ZEUS
		AND COUNT(DISTINCT P.ID) = COUNT(DISTINCT CASE WHEN P.COD_PEDIDO IS NOT NULL THEN P.COD_PEDIDO ELSE NULL END) --SE TODOS OS PEDIDOS JA FORAM GERADOS ZEUS
		AND COUNT(DISTINCT P.ID) = SUM(P.FLG_INTEGRADO_AX)
		
-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- UPDATING COD_PEDIDO_CD
-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*
	DECLARE @TAB_PEDIDO_CD AS TABLE
	(
		ID_SIMULADO INT
		,COD_PEDIDO_CD INT
	)

	INSERT INTO @TAB_PEDIDO_CD
		SELECT DISTINCT
			ID_SIMULADO
			,COD_PEDIDO
		FROM
			[BI].[DBO].[COMPRAS_PEDIDOS] AS P
		WHERE 1=1
			AND P.ID_SIMULADO IN (SELECT ID_SIMULADO FROM SUPPLY_AGENDA_PEDIDO WHERE FLG_SIMULADO = 1 AND FLG_PEDIDO_APROVADO = 1 AND CONVERT(DATE,DTA_GRAVACAO) >= CONVERT(DATE,GETDATE()-2) )
			AND P.COD_LOJA = 5
			AND P.COD_PEDIDO IS NOT NULL
			AND P.FLG_AUTOMATICO = 1
			AND P.FLG_CENTRALIZADO = 1
			AND P.QTD_EMBALAGEM > 0
			AND
			(
				P.FLG_ERRO_FORNECEDOR_PRINCIPAL = 0
				AND P.FLG_ERRO_TIPO_ABASTECIMENTO = 0
				AND P.FLG_ERRO_SEM_CUSTO = 0
				AND P.FLG_COMPRA = 1
				AND P.FLG_BLOQUEADO_SUPPLY IS NULL
				AND P.FLG_ERRO_CONVERSAO_UNIDADE IS NULL
				AND P.FLG_ERRO_SEM_REFERENCIA IS NULL
			)

	UPDATE P
	SET
		P.COD_PEDIDO_CD = T.COD_PEDIDO_CD
	FROM
		[BI].[DBO].[COMPRAS_PEDIDOS] AS P
		INNER JOIN @TAB_PEDIDO_CD AS T
			ON P.ID_SIMULADO = T.ID_SIMULADO
*/