DECLARE @TAB_FORN_CD AS TABLE
(
	FORNECEDOR_CD INT
)

INSERT INTO @TAB_FORN_CD
	SELECT DISTINCT
		FORNECEDOR_CD
	FROM AX2009_INTEGRACAO.DBO.TAB_PRODUTO_FORNECEDOR_PREFERENCIAL WITH(NOLOCK)
	WHERE 1=1
	AND isnull(FORNECEDOR_CD,'') <> ''
	AND COD_FornecedoR = 18055
	AND ModelArmazenagem = 0
	AND COD_LOJA = 1
	
UPDATE A
SET
	A.FLG_CENTRALIZADO = 1
FROM
	BI.dbo.COMPRAS_AGENDA_PEDIDO_AUTO AS A
	INNER JOIN @TAB_FORN_CD AS FCD
		ON A.COD_FORNECEDOR = FCD.FORNECEDOR_CD