

	DECLARE @TAB_AJUSTE_META_U15D AS TABLE
	(
		COD_LOJA INT
		,PERC_AJUSTE_META_U15D NUMERIC(8,4)
	)
	
	INSERT INTO @TAB_AJUSTE_META_U15D
	SELECT
		VC.COD_LOJA
		,SUM(VC.VALOR_TOTAL)/SUM(VM.VLR_META) as PERC_AJUSTE_META_U15D
	FROM
		BI.dbo.BI_VENDA_CUPOM  AS VC
		LEFT JOIN BI.DBO.BI_VENDA_META AS VM
			ON 1=1
			AND VC.COD_LOJA = VM.COD_LOJA
			AND VC.DATA = VM.DATA
	WHERE 1=1
		AND CONVERT(DATE,VC.DATA) BETWEEN CONVERT(DATE,'2016-03-01') AND CONVERT(DATE,'2016-03-31')
	GROUP BY
		VC.COD_LOJA
		
	
	update em
	set 
		em.AJUSTE_ESTOQUE = EM.META_ESTOQUE*AM.PERC_AJUSTE_META_U15D
	FROM
		BI_ESTOQUE_META AS EM
		INNER JOIN @TAB_AJUSTE_META_U15D AS AM
			ON EM.COD_LOJA = AM.COD_LOJA
	WHERE 1=1
		and MES = 3