DECLARE @DATA AS DATE = '2014-11-15'

SELECT
	AL.COD_LOJA
	,AL.COD_PRODUTO
	,@DATA AS DATA
	,AL.FORA_LINHA
FROM
	[BI].[dbo].[BI_AUDITORIA_LINHA] AS AL
	INNER JOIN 
	(
		SELECT
			COD_LOJA
			,COD_PRODUTO
			,MAX(DTA_GRAVACAO) DTA_GRAVACAO
		FROM [BI].[dbo].[BI_AUDITORIA_LINHA]
		WHERE 1=1
			and COD_LOJA = 1
			AND COD_PRODUTO = 2820
			AND DTA_GRAVACAO <= CONVERT(DATE,@DATA)
		GROUP BY
			COD_LOJA
			,COD_PRODUTO
	) AS TEMP
	ON 1=1
	AND AL.COD_LOJA = TEMP.COD_LOJA
	AND AL.COD_PRODUTO = TEMP.COD_PRODUTO
	AND AL.DTA_GRAVACAO = TEMP.DTA_GRAVACAO

