/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID_ROTINA]
      ,[NO_ROTINA]
      ,[DESCRICAO]
      ,[DTA_CRIACAO]
      ,[FREQUENCIA]
      ,[PRIORIDADE]
      ,[ORIGEM]
      ,[TEMPO_MAX]
  FROM [BI].[dbo].[BI_CAD_ROTINA]
  ORDER BY ID_ROTINA DESC
  
  
INSERT INTO [BI].[dbo].[BI_CAD_ROTINA]
(
	[NO_ROTINA]
	,[DESCRICAO]
	,[FREQUENCIA]
	,[PRIORIDADE]
	,[ORIGEM]
)
VALUES
(
	'BI.DBO.CARGA_BI_VENDA_PRODUTO_CMV'
	,'CARGA DE VENDAS PARA O CALCULO DA MARGEM DO PRODUTO'
	,'DIARIA'
	,1
	,'PROCEDURE'
)