DECLARE @TAB_PROX_DIA_UTIL AS TABLE
(
	DATA_ORIGINAL DATE
	,DATA_INTERMEDIARIA DATE
	,PROX_DATA_UTIL DATE
	,PRIMARY KEY(DATA_ORIGINAL)
)

INSERT INTO @TAB_PROX_DIA_UTIL
SELECT
	SemV1.DATA
	,SemV1.PROX_DATA
	,(CASE
		WHEN/*Feriado*/DE.DATA IS NOT NULL THEN
			(CASE
				WHEN/*Emenda*/DATEADD(D,1,DE.DATA) IS NOT NULL THEN
					(CASE
						
						WHEN/*Qui*/DATEPART(DW,SemV1.PROX_DATA) = 5 THEN CONVERT(DATE,DATEADD(D,4,SemV1.PROX_DATA))
						WHEN/*Sex*/DATEPART(DW,SemV1.PROX_DATA) = 6 THEN CONVERT(DATE,DATEADD(D,3,SemV1.PROX_DATA))
						WHEN/*Sab*/DATEPART(DW,SemV1.PROX_DATA) = 7 THEN CONVERT(DATE,DATEADD(D,2,SemV1.PROX_DATA))
						WHEN/*Dom*/DATEPART(DW,SemV1.PROX_DATA) = 1 THEN CONVERT(DATE,DATEADD(D,1,SemV1.PROX_DATA))
						ELSE/*Seg-Qua*/CONVERT(DATE,DATEADD(D,2,SemV1.PROX_DATA))
					END)
				ELSE
					(CASE
						WHEN/*Sex*/DATEPART(DW,SemV1.PROX_DATA) = 6 THEN CONVERT(DATE,DATEADD(D,3,SemV1.PROX_DATA))
						WHEN/*Sab*/DATEPART(DW,SemV1.PROX_DATA) = 7 THEN CONVERT(DATE,DATEADD(D,2,SemV1.PROX_DATA))
						WHEN/*Dom*/DATEPART(DW,SemV1.PROX_DATA) = 1 THEN CONVERT(DATE,DATEADD(D,1,SemV1.PROX_DATA))
						ELSE/*Seg-Qui*/CONVERT(DATE,DATEADD(D,1,SemV1.PROX_DATA))
					END)
			END)
		ELSE/*DataNormal*/
			(CASE
				WHEN /*Sab*/DATEPART(DW,SemV1.PROX_DATA) = 7 THEN CONVERT(DATE,DATEADD(D,2,SemV1.PROX_DATA))
				WHEN /*Dom*/DATEPART(DW,SemV1.PROX_DATA) = 1 THEN CONVERT(DATE,DATEADD(D,1,SemV1.PROX_DATA))
				ELSE/*Normal*/CONVERT(DATE,SemV1.PROX_DATA)
			END)	
	END) AS PROX_DATA_UTIL
FROM
(
	SELECT
		S.DATA
		,DATEPART(DW,S.[DATA]) DW
		,(CASE
			WHEN/*Feriado*/DE.DATA IS NOT NULL THEN
				(CASE
					WHEN/*Emenda*/DATEADD(D,1,DE.DATA) IS NOT NULL THEN
						(CASE
							
							WHEN/*Qui*/DATEPART(DW,S.DATA) = 5 THEN CONVERT(DATE,DATEADD(D,4,S.DATA))
							WHEN/*Sex*/DATEPART(DW,S.DATA) = 6 THEN CONVERT(DATE,DATEADD(D,3,S.DATA))
							WHEN/*Sab*/DATEPART(DW,S.DATA) = 7 THEN CONVERT(DATE,DATEADD(D,2,S.DATA))
							WHEN/*Dom*/DATEPART(DW,S.DATA) = 1 THEN CONVERT(DATE,DATEADD(D,1,S.DATA))
							ELSE/*Seg-Qua*/CONVERT(DATE,DATEADD(D,2,S.DATA))
						END)
					ELSE
						(CASE
							WHEN/*Sex*/DATEPART(DW,S.DATA) = 6 THEN CONVERT(DATE,DATEADD(D,3,S.DATA))
							WHEN/*Sab*/DATEPART(DW,S.DATA) = 7 THEN CONVERT(DATE,DATEADD(D,2,S.DATA))
							WHEN/*Dom*/DATEPART(DW,S.DATA) = 1 THEN CONVERT(DATE,DATEADD(D,1,S.DATA))
							ELSE/*Seg-Qui*/CONVERT(DATE,DATEADD(D,1,S.DATA))
						END)
				END)
			ELSE/*DataNormal*/
				(CASE
					WHEN /*Sab*/DATEPART(DW,S.DATA) = 7 THEN CONVERT(DATE,DATEADD(D,2,S.DATA))
					WHEN /*Dom*/DATEPART(DW,S.DATA) = 1 THEN CONVERT(DATE,DATEADD(D,1,S.DATA))
					ELSE/*Normal*/CONVERT(DATE,S.DATA)
				END)	
		END) AS PROX_DATA
	FROM
		[BI].[dbo].[BI_CAD_SEMANA] AS S
		LEFT JOIN [BI].[dbo].[BI_CAD_DATAS_ESPECIAIS] AS DE
			ON S.DATA = DE.DATA
	WHERE 1=1
		--AND S.DATA = '2016-02-06'
) as SemV1
LEFT JOIN [BI].[dbo].[BI_CAD_DATAS_ESPECIAIS] AS DE
	ON SemV1.PROX_DATA = DE.DATA


--SELECT * FROM @TAB_PROX_DIA_UTIL

UPDATE [BI].[dbo].[BI_CAD_SEMANA] SET DATA_PROX_DIA_UTIL = NULL

UPDATE S
SET
	S.DATA_PROX_DIA_UTIL = T.PROX_DATA_UTIL	
FROM
	[BI].[dbo].[BI_CAD_SEMANA] AS S
	INNER JOIN @TAB_PROX_DIA_UTIL AS T
		ON S.DATA = T.DATA_ORIGINAL
			


UPDATE S1
SET	
	S1.ANO_PROX_UTIL = S2.ANO
	,S1.MES_PROX_UTIL = S2.MES
	,S1.NO_MES_PROX_UTIL = S2.NO_MES
	,S1.ANO_454_PROX_UTIL = S2.ANO_454	
	,S1.MES_454_PROX_UTIL = S2.MES_454
	,S1.SEMANA_454_PROX_UTIL = S2.SEMANA_454
FROM
	BI.dbo.BI_CAD_SEMANA AS S1
	LEFT JOIN BI.dbo.BI_CAD_SEMANA AS S2
		ON S1.DATA_PROX_DIA_UTIL = S2.DATA
where 1=1