	DECLARE @DATA_INI AS DATE = GETDATE()-30
	DECLARE @DATA_FIM AS DATE = GETDATE()
	

	DECLARE @TAB_AUTO AS TABLE
	(
		COD_PEDIDO INT
		,FLG_AUTOMATICO INT
		,FLG_CENTRALIZADO INT
	)
	INSERT INTO @TAB_AUTO
		SELECT DISTINCT
			COD_PEDIDO
			,FLG_AUTOMATICO
			,FLG_CENTRALIZADO
		FROM
			[192.168.0.13].BI.DBO.COMPRAS_PEDIDOS AS P
		WHERE FLG_AUTOMATICO = 1 AND FLG_TESTE = 1 AND CONVERT(DATE,DATA) between CONVERT(DATE,@DATA_INI) AND CONVERT(DATE,@DATA_FIM)
		and COD_FORNECEDOR = 1000
		and COD_PEDIDO = 1046934--1031394

	SELECT
		P.NUM_PEDIDO as [Pedido]
		,P.COD_LOJA as [Loja]
		,SUM(PP.VAL_TABELA*PP.QTD_PEDIDO) as [Vlr Pedido]
		,SUM(PP.VAL_TABELA*PP.QTD_RECEBIDA) AS [Vlr Recebido]
		--,SUM(PP.VAL_TABELA*PP.QTD_RECEBIDA)/SUM(PP.VAL_TABELA*PP.QTD_PEDIDO) as [Recebida]
		,P.COD_PARCEIRO as [Cod Forn]
		,f.[DES_FORNECEDOR] as Fornecedor
		--,f.[NUM_CGC] as CNPJ
		,convert(date,P.DTA_EMISSAO) as [Data Emissao]
		,convert(date,P.DTA_ENTREGA) as [Data Entrega]
		,(CASE
			WHEN P.[TIPO_RECEBIMENTO] = 1 THEN 'PARCIAL'
			WHEN P.[TIPO_RECEBIMENTO] = 0 THEN 'PENDENTE'
			WHEN P.[TIPO_RECEBIMENTO] = 2 THEN 'OK'
		END) as [Entrega]
		,(CASE WHEN U.NO_COMPRADOR IS NULL THEN 'LOJA' ELSE U.NO_COMPRADOR END) as [Comprador]
		,A.FLG_AUTOMATICO
		,A.FLG_CENTRALIZADO
    FROM
		[ZEUS_RTG].DBO.[TAB_PEDIDO] AS P
		INNER JOIN [Zeus_rtg].[dbo].[TAB_FORNECEDOR] AS F
			ON (f.cod_fornecedor = p.cod_parceiro)
		INNER JOIN [ZEUS_RTG].DBO.[TAB_PEDIDO_PRODUTO] AS PP
			ON 1=1
			and P.NUM_PEDIDO = PP.NUM_PEDIDO
			AND P.COD_LOJA = PP.COD_LOJA
			AND P.COD_PARCEIRO = PP.COD_PARCEIRO
		LEFT JOIN [192.168.0.13].BI.dbo.COMPRAS_CAD_COMPRADOR AS U
			ON (P.COD_USUARIO = U.COD_USUARIO)
		LEFT JOIN @TAB_AUTO AS A
			ON P.NUM_PEDIDO = A.COD_PEDIDO

    WHERE 1 = 1
		AND CONVERT(DATE,DTA_EMISSAO) between CONVERT(DATE,@DATA_INI) AND CONVERT(DATE,@DATA_FIM)
		and p.cod_parceiro = 1000
		and p.num_pedido = 1046934
		--AND P.COD_LOJA = 7
		
    GROUP BY P.NUM_PEDIDO
		,P.COD_LOJA
		,P.COD_PARCEIRO
		,f.[DES_FORNECEDOR]
		,P.DTA_EMISSAO
		,P.DTA_ENTREGA
		,P.[TIPO_RECEBIMENTO]
		,(CASE WHEN U.NO_COMPRADOR IS NULL THEN 'LOJA' ELSE U.NO_COMPRADOR END)
		,(CASE WHEN A.COD_PEDIDO IS NOT NULL THEN 1 ELSE 0 END)
		,A.FLG_AUTOMATICO
		,A.FLG_CENTRALIZADO
	order by fornecedor, P.DTA_ENTREGA



	SELECT
		P.NUM_PEDIDO as [Pedido]
		,P.COD_LOJA as [Loja]
		,PP.COD_PRODUTO
		,PP.VAL_TABELA
		,PP.QTD_PEDIDO
		,PP.QTD_RECEBIDA
		,PP.VAL_TABELA*PP.QTD_PEDIDO as [Vlr Pedido]
		,PP.VAL_TABELA*PP.QTD_RECEBIDA AS [Vlr Recebido]
		,P.COD_PARCEIRO as [Cod Forn]
		,f.[DES_FORNECEDOR] as Fornecedor
		,convert(date,P.DTA_EMISSAO) as [Data Emissao]
		,convert(date,P.DTA_ENTREGA) as [Data Entrega]
		,(CASE
			WHEN P.[TIPO_RECEBIMENTO] = 1 THEN 'PARCIAL'
			WHEN P.[TIPO_RECEBIMENTO] = 0 THEN 'PENDENTE'
			WHEN P.[TIPO_RECEBIMENTO] = 2 THEN 'OK'
		END) as [Entrega]
		,(CASE WHEN U.NO_COMPRADOR IS NULL THEN 'LOJA' ELSE U.NO_COMPRADOR END) as [Comprador]
		,A.FLG_AUTOMATICO
		,A.FLG_CENTRALIZADO
    FROM
		[ZEUS_RTG].DBO.[TAB_PEDIDO] AS P
		INNER JOIN [Zeus_rtg].[dbo].[TAB_FORNECEDOR] AS F
			ON (f.cod_fornecedor = p.cod_parceiro)
		INNER JOIN [ZEUS_RTG].DBO.[TAB_PEDIDO_PRODUTO] AS PP
			ON 1=1
			and P.NUM_PEDIDO = PP.NUM_PEDIDO
			AND P.COD_LOJA = PP.COD_LOJA
			AND P.COD_PARCEIRO = PP.COD_PARCEIRO
		LEFT JOIN [192.168.0.13].BI.dbo.COMPRAS_CAD_COMPRADOR AS U
			ON (P.COD_USUARIO = U.COD_USUARIO)
		LEFT JOIN @TAB_AUTO AS A
			ON P.NUM_PEDIDO = A.COD_PEDIDO

    WHERE 1 = 1
		AND CONVERT(DATE,DTA_EMISSAO) between CONVERT(DATE,@DATA_INI) AND CONVERT(DATE,@DATA_FIM)
		and p.cod_parceiro = 1000
		and p.num_pedido = 1046934
		--AND P.COD_LOJA = 7
		
