SELECT
	[DATA]
	,[NO_TABELA]
	,[STATUS]
FROM
	[BI].[dbo].[BI_AUDITORIA_VENDA] AS A
	INNER JOIN [BI].[dbo].[BI_AUDITORIA_CAD_TABELAS] AS T
		ON A.ID_TABELA = T.ID_TABELA
WHERE 1=1
	AND CONVERT(DATE,DATA) = CONVERT(DATE,GETDATE())
