/*
EXEC BI.[dbo].[CARGA_BI_VENDA_CUPOM] '20150217','20150217'
EXEC BI.[dbo].[CARGA_BI_VENDA_PRODUTO] '20150217','20150217'
EXEC BI.[dbo].[CARGA_BI_VENDA_CUPOM_CAPA] '20150217','20150217'
EXEC BI.[dbo].[CARGA_BI_VENDA_CUPOM_PRODUTO] '20150217','20150217'

TRUNCATE TABLE BI.dbo.BI_VENDA_CUPOM_PRODUTO
*/
	DECLARE @DT_INICIO DATE = '20150217'
	DECLARE @DT_TERMINO DATE = '20150217'

	SELECT SUM(VALOR_TOTAL) FROM BI.dbo.BI_VENDA_CUPOM WHERE CONVERT(DATE,DATA) between CONVERT(DATE,@DT_INICIO) and  CONVERT(DATE,@DT_TERMINO) AND COD_LOJA <> 8
	SELECT SUM(VALOR_TOTAL) FROM BI.dbo.BI_VENDA_PRODUTO WHERE CONVERT(DATE,DATA) between CONVERT(DATE,@DT_INICIO) and  CONVERT(DATE,@DT_TERMINO) AND COD_LOJA <> 8
	
	SELECT SUM(VLR_CUPOM) FROM BI.dbo.BI_VENDA_CUPOM_CAPA WHERE CONVERT(DATE,DATA) between CONVERT(DATE,@DT_INICIO) and  CONVERT(DATE,@DT_TERMINO) AND COD_LOJA <> 8
	SELECT SUM(VLR_VENDA) FROM BI.dbo.BI_VENDA_CUPOM_PRODUTO WHERE CONVERT(DATE,DATA) between CONVERT(DATE,@DT_INICIO) and  CONVERT(DATE,@DT_TERMINO) AND COD_LOJA <> 8