SELECT
	CP.[COD_PRODUTO]
	,CP.DESCRICAO
	,S.[COD_PRODUTO_SIMILAR] --ESSE CARA VAI FICAR COMO TITULO "Codigo Similar 2685"
	,CONVERT(DATE,S.[DTA_CADASTRO]) AS DATA
FROM
	[BI].[dbo].[CADASTRO_DEPARA_PRODUTO_SIMILAR] AS S
	INNER JOIN [BI].[dbo].[BI_CAD_PRODUTO] AS CP
		ON S.COD_PRODUTO = CP.COD_PRODUTO
WHERE 1=1
	AND S.COD_PRODUTO_SIMILAR = 2685