	SELECT 
		CAST([AX_UNIDNEG_CODIGO] AS INT) AS ZEUS_COD_DEPARTAMENTO
		,[AX_UNIDNEG_DESCRICAO]
		,CAST([AX_SECAO_CODIGO] AS INT) AS ZEUS_COD_SECAO
		,[AX_SECAO_DESCRICAO]
		,[AX_GRUPO_CODIGO] grupo_ax
		,RIGHT([AX_GRUPO_CODIGO],(LEN([AX_GRUPO_CODIGO]) - (CHARINDEX([AX_SECAO_CODIGO],[AX_GRUPO_CODIGO]) + LEN([AX_SECAO_CODIGO])-1))) AS ZEUS_COD_GRUPO	
		,[AX_GRUPO_DESCRICAO]
		,[AX_SUBGRUPO_CODIGO] as sub_ax
		,CAST(LEFT([AX_SUBGRUPO_CODIGO],LEN([AX_SUBGRUPO_CODIGO]) - (LEN(RIGHT([AX_GRUPO_CODIGO],(LEN([AX_GRUPO_CODIGO]) - (CHARINDEX([AX_SECAO_CODIGO],[AX_GRUPO_CODIGO]) + LEN([AX_SECAO_CODIGO])-1)))) + LEN(CAST([AX_SECAO_CODIGO] AS INT)))) AS INT) AS ZEUS_COD_SUBGRUPO	
		,[AX_SUBGRUPO_DESCRICAO]
	FROM
		AX2009_INTEGRACAO.DBO.TAB_HIERARQUIA_PRODUTO	
		
	
	SELECT
		*
		,RIGHT([AX_GRUPO_CODIGO],(LEN([AX_GRUPO_CODIGO]) - (CHARINDEX([AX_SECAO_CODIGO],[AX_GRUPO_CODIGO]) + LEN([AX_SECAO_CODIGO])-1))) AS ZEUS_COD_GRUPO	
		,CAST(LEFT([AX_SUBGRUPO_CODIGO],LEN([AX_SUBGRUPO_CODIGO]) - (LEN(RIGHT([AX_GRUPO_CODIGO],(LEN([AX_GRUPO_CODIGO]) - (CHARINDEX([AX_SECAO_CODIGO],[AX_GRUPO_CODIGO]) + LEN([AX_SECAO_CODIGO])-1)))) + LEN(CAST([AX_SECAO_CODIGO] AS INT)))) AS INT) AS ZEUS_COD_SUBGRUPO	
		,RIGHT('00'+CONVERT(VARCHAR,[AX_UNIDNEG_CODIGO]),2)+RIGHT('000'+CONVERT(VARCHAR,[AX_SECAO_CODIGO]),3)+RIGHT('000'+CONVERT(VARCHAR,RIGHT([AX_GRUPO_CODIGO],(LEN([AX_GRUPO_CODIGO]) - (CHARINDEX([AX_SECAO_CODIGO],[AX_GRUPO_CODIGO]) + LEN([AX_SECAO_CODIGO])-1)))),3)	
	FROM AX2009_INTEGRACAO.DBO.TAB_HIERARQUIA_PRODUTO
	
	select
		RIGHT('00'+CONVERT(VARCHAR,COD_DEPARTAMENTO),2)+RIGHT('000'+CONVERT(VARCHAR,COD_SECAO),3)+RIGHT('000'+CONVERT(VARCHAR,COD_GRUPO),3)
		,*
	from BI.dbo.BI_CAD_PRODUTO
	WHERE COD_GRUPO <> 5067
	
	
	
	SELECT * FROM BI.dbo.BI_CAD_PRODUTO WHERE COD_GRUPO = 5067
	
	SELECT DISTINCT COD_SUB_GRUPO from BI.dbo.BI_CAD_PRODUTO ORDER BY 
	COD_SUB_GRUPO
	
	
	
	99975067