DECLARE @DT_INICIO AS DATE = '2016-08-28'
DECLARE @DT_TERMINO AS DATE = '2016-08-28'

	SELECT
		VI.COD_RESTAURANTE
		,SUM(VALOR_TOTAL_PRODUTOS)
	FROM
		[DW].[dbo].[TAB_CHEFFSOLUTION_CUPOM] AS VI
	WHERE 1=1
		AND CONVERT(DATE,DT_CUPOM) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
		AND COD_LOJA = 33
	GROUP BY
		VI.COD_RESTAURANTE
	ORDER BY
		VI.COD_RESTAURANTE

	SELECT
		VI.COD_RESTAURANTE
		,SUM(VI.VALOR_TOTAL)
	FROM
		[DW].[dbo].[TAB_CHEFFSOLUTION_CUPOM_ITENS] AS VI
	WHERE 1=1
		AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
		AND COD_LOJA = 33
	GROUP BY
		VI.COD_RESTAURANTE
	ORDER BY
		VI.COD_RESTAURANTE