/****** Script for SelectTopNRows command from SSMS  ******/
SELECT
	A.[COD_FORNECEDOR]
	,F.DES_FANTASIA
	,F.CGCCPF
	,[COD_COMPRADOR]
	,C.NO_COMPRADOR
FROM
	[BI].[dbo].[COMPRAS_AGENDA_PEDIDO_MATRIZ] AS A
	INNER JOIN [BI].[dbo].[BI_CAD_FORNECEDOR] AS F
		ON A.COD_FORNECEDOR = F.COD_FORNECEDOR
	INNER JOIN BI.dbo.COMPRAS_CAD_COMPRADOR AS C
		ON A.COD_COMPRADOR = C.COD_USUARIO	
ORDER BY
	F.DES_FANTASIA