/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID_ROTINA]
      ,[NO_ROTINA]
      ,[DESCRICAO]
      ,[DTA_CRIACAO]
      ,[FREQUENCIA]
      ,[PRIORIDADE]
      ,[ORIGEM]
      ,[TEMPO_MAX]
  FROM [BI].[dbo].[BI_CAD_ROTINA]
  ORDER BY [ID_ROTINA]
  
  
INSERT INTO [BI].[dbo].[BI_CAD_ROTINA]
(
	[NO_ROTINA]
	,[DESCRICAO]
	,[FREQUENCIA]
	,[PRIORIDADE]
	,[ORIGEM]
	,[TEMPO_MAX]
)
VALUES
(
	'BI.DBO.CARGA_METADADOS_INTRANET'
	,'ROTINA PARA PEGAR DA VW DA INTRANET AS MODIFICAÇÕES FEITAS NOS VALORES DE METADADO E INCLUSÕES'
	,'DIARIA'
	,1
	,'PROCEDURE'
	,300
)