SELECT
	M.[ANO]
	,M.[MES]
	,S.NO_MES_454
	,M.[COD_PRODUTO]
	,CP.DESCRICAO AS NO_PRODUTO
	,CP.NO_DEPARTAMENTO
	,CP.NO_SECAO
	,CP.NO_GRUPO
	,BI.dbo.fn_FormataVlr_Excel(AVG(M.[VLR_MRG])) AS [VLR_MRG]
	
FROM
	[BI].[dbo].[BI_MARGEM_PRODUTO_MES] AS M
	INNER JOIN [BI].[dbo].[BI_CAD_PRODUTO] AS CP
		ON 1=1
		AND M.COD_PRODUTO = CP.COD_PRODUTO
	INNER JOIN BI.dbo.BI_CAD_LOJA2 AS L
		ON M.COD_LOJA = L.COD_LOJA
		AND L.FLG_LOJA = 1
	INNER JOIN BI_CAD_SEMANA AS S
		ON 1=1
		AND M.MES = S.MES_454
WHERE 1=1
	AND ANO >= 2014
GROUP BY
	M.[ANO]
	,M.[MES]
	,S.NO_MES_454
	,M.[COD_PRODUTO]
	,CP.DESCRICAO
	,CP.NO_DEPARTAMENTO
	,CP.NO_SECAO
	,CP.NO_GRUPO



 SELECT
		CP.COD_PRODUTO
		,isnull((SELECT VLR_METADADO FROM CADASTRO_CAD_PRODUTO_METADADOS TPM WHERE TPM.COD_PRODUTO = CP.COD_PRODUTO AND TPM.COD_METADADO = 4),0) AS MTD_IMP_PROP
	FROM
		BI_CAD_PRODUTO AS CP
	WHERE 1=1;