SELECT top 100 * FROM 
    ( 
SELECT 
   MC.COD_LOJA 
   ,[EANCODE]*1 AS COD_PRODUTO , '' as CHAVE 
   ,([TARGETSEARCHPRICE]) AS PV_CONCORRENTE 
   ,CONVERT(DATE,([DATESEARCH])) AS DATA_PESQUISA 
   ,ROW_NUMBER() OVER(PARTITION BY [EANCODE],MC.COD_LOJA ORDER BY CONVERT(DATE,([DATESEARCH])) desc) as seq 
   FROM 
[NortiaIT].[dbo].[NSF_PRICERESEARCHITEM] as IT 
   inner join [NortiaIT].[dbo].[NSF_PRICERESEARCH] as SC 
       ON it.PRICERESEARCHID=sc.PRICERESEARCHID 
   inner join [NortiaIT].[dbo].[NSF_SEARCHTARGET] as LJ 
       ON lj.SEARCHTARGETID= sc.SEARCHTARGETID 
   inner join [192.168.0.13].[BI].[dbo].[BI_PRECO_MARCHE_CONCORRENTE] AS MC 
       ON MC.COD_CONCORRENTE=lj.EXTERNALID  where 1=1   and [TARGETSEARCHPRICE]>0) AS pp 
 WHERE 1 = 1 
   AND pp.SEQ=1 
   --and COD_PRODUTO in 