TRUNCATE TABLE [BI].[dbo].[BI_PRECO_BLOQUEADO_EXPANDIDO]

INSERT INTO [BI].[dbo].[BI_PRECO_BLOQUEADO_EXPANDIDO]
SELECT
	(CASE WHEN CL.COD_LOJA IS NULL THEN PB.CLUSTER_LOJAS ELSE CL.COD_LOJA END) AS COD_LOJA
	,PB.[COD_FORNECEDOR]
	,PB.[COD_PRODUTO]
	,PB.[COD_MOTIVO]
	,PB.[OBS]
	,PB.[DTA_INI]
	,PB.[DTA_FIM]
	,PB.[COD_USUARIO]
FROM
	[BI].[dbo].[BI_PRECO_BLOQUEADO] AS PB LEFT JOIN [BI].DBO.[BI_CLUSTER_LOJAS] AS CL ON (PB.CLUSTER_LOJAS = CL.CLUSTER)
WHERE 1 = 1
	AND CONVERT(DATE,PB.DTA_INI) <= CONVERT(DATE,GETDATE())
	AND CONVERT(DATE,PB.DTA_FIM) > CONVERT(DATE,GETDATE())
  
  
  


SELECT * FROM [BI].[dbo].[BI_PRECO_BLOQUEADO_EXPANDIDO]