SELECT
	CP.COD_PRODUTO
	,CP.DESCRICAO AS NO_PRODUTO
	,CP.FORA_LINHA
	,CP.CLASSIF_PRODUTO
	,CP.COD_FORNECEDOR
	,CF.DESCRICAO AS NO_FORNECEDOR
FROM
	BI_CAD_PRODUTO AS CP
	LEFT JOIN BI_CAD_FORNECEDOR AS CF
		ON CP.COD_FORNECEDOR = CF.COD_FORNECEDOR