DECLARE @COD_LOJA AS INT = 1
DECLARE @DTINI AS DATE = '2017-02-01'
DECLARE @DTFIM AS DATE = '2017-02-28'

--SELECT SUM(VALOR_TOTAL) FROM DW.dbo.BI_ANAL_MOVTO_CAIXA WHERE COD_LOJA = @COD_LOJA AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DTINI) AND CONVERT(DATE,@DTFIM)
--SELECT SUM(VALOR) FROM DW.dbo.BI_ANAL_TICKET WHERE COD_LOJA = @COD_LOJA AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DTINI) AND CONVERT(DATE,@DTFIM)

DELETE FROM DW.dbo.BI_ANAL_MOVTO_CAIXA WHERE COD_LOJA = @COD_LOJA AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DTINI) AND CONVERT(DATE,@DTFIM)
DELETE FROM DW.dbo.BI_ANAL_TICKET WHERE COD_LOJA = @COD_LOJA AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DTINI) AND CONVERT(DATE,@DTFIM)

exec INTEGRACOES.dbo.DW_CARGA_MOVTO_PDV_01 @DTINI  ,@DTFIM   , @COD_LOJA

IF @COD_LOJA = 1 or @COD_LOJA = 20 or @COD_LOJA = 3
BEGIN
	EXEC DW_CARGA_MOVTO_PDV_10_SAT  @DTINI  ,@DTFIM   , @COD_LOJA
	EXEC DW_CARGA_MOVTO_PDV_20_SAT  @DTINI  ,@DTFIM   , @COD_LOJA
	EXEC DW_CARGA_MOVTO_PDV_30_SAT  @DTINI  ,@DTFIM   , @COD_LOJA
END

EXEC BI.DBO.CARGA_BI_VENDA_CUPOM_POR_LOJA @DTINI  ,@DTFIM   , @COD_LOJA
EXEC BI.DBO.CARGA_BI_VENDA_PRODUTO_POR_LOJA @DTINI  ,@DTFIM   , @COD_LOJA
EXEC BI.DBO.CARGA_BI_VENDA_CUPOM_CAPA_POR_LOJA @DTINI  ,@DTFIM   , @COD_LOJA

--SELECT SUM(VALOR_TOTAL) FROM DW.dbo.BI_ANAL_MOVTO_CAIXA WHERE COD_LOJA = @COD_LOJA AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DTINI) AND CONVERT(DATE,@DTFIM)
--SELECT SUM(VALOR) FROM DW.dbo.BI_ANAL_TICKET WHERE COD_LOJA = @COD_LOJA AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DTINI) AND CONVERT(DATE,@DTFIM)
