
INSERT INTO [BI].[dbo].[BI_PRECO_VENDA]
(
	[COD_LOJA]
	,[COD_PRODUTO]
	,[TIPO]
	,[DTA_INI]
	,[DTA_FIM]
	,[DESCRICAO]
	,[VALOR]
	,[COD_USUARIO]
	,[DESCRICAO_CURTA]
)
SELECT
	[COD_LOJA]
	,[COD_PRODUTO]
	,[TIPO]
	,DATEADD(D,1,GETDATE())
	,DATEADD(D,2500,GETDATE())
	,[DESCRICAO]
	,0.08
	--,[RECID]
	--,[DTA_GRAVACAO]
	--,[INATIVO]
	,7401
	,[DESCRICAO_CURTA]
	--,[APLICA_SIMILAR]
	--,[COD_PRODUTO_SIMILAR]
	--,[DTA_INATIVACAO]
	--,[MOTIVO_INATIVACAO]
	--,[USUARIO]
FROM
	[BI].[dbo].[BI_PRECO_VENDA]
WHERE 1=1
	AND COD_PRODUTO IN (1016980,1016982)