DECLARE @TAB_QUEBRA AS TABLE
(
	[COD_LOJA] INT
	,[DATA] DATE
	,[COD_DEPARTAMENTO] INT
	,[QTD_QUEBRA] NUMERIC(18,2)
	,[VLR_QUEBRA] NUMERIC(18,2)
)

INSERT INTO @TAB_QUEBRA
SELECT
	[COD_LOJA]
	,[DATA]
	,[COD_DEPARTAMENTO]
	,SUM([QTD_QUEBRA])
	,SUM([VLR_QUEBRA])
FROM
	[BI].[dbo].[BI_QUEBRA_DEPARTAMENTO] AS QD
WHERE 1=1
	AND CONVERT(DATE,QD.DATA) BETWEEN CONVERT(DATE,'20130901') AND CONVERT(DATE,'20140901')
GROUP BY
	[COD_LOJA]
	,[DATA]
	,[COD_DEPARTAMENTO]

SELECT
	(CASE WHEN VP.[COD_LOJA] IS NULL THEN QD.[COD_LOJA] ELSE VP.[COD_LOJA] END) AS COD_LOJA
	,ISNULL(SUM(QD.VLR_QUEBRA),0)
	,ISNULL(SUM(QD.QTD_QUEBRA),0)
	,ISNULL(SUM(VP.VLR_VENDA),0)
FROM
	BI_VENDA_DEPARTAMENTO AS VP
	FULL JOIN @TAB_QUEBRA AS QD
		ON 1=1
		AND VP.COD_LOJA = QD.COD_LOJA
		AND VP.DATA = QD.DATA
		AND VP.COD_DEPARTAMENTO = QD.COD_DEPARTAMENTO
WHERE 1=1
GROUP BY
	(CASE WHEN VP.[COD_LOJA] IS NULL THEN QD.[COD_LOJA] ELSE VP.[COD_LOJA] END)
ORDER BY
	1