SELECT
	SUM(TOTAL)
	,SUM(VALOR_DESCONTO)
	,COUNT(IDPEDIDO)
FROM
	[DBCestanatal].[dbo].[SMCB_PEDIDO]
WHERE 1=1
	AND CONVERT(DATE,DATA_CRIACAO) >= CONVERT(DATE,GETDATE()-180)
	AND [STATUS] <> 2
	

SELECT
	SUM(M03AP) AS VALOR_VENDA
FROM
	ZEUSRETAIL.DBO.ZAN_M03 AS PDV INNER JOIN AX2009_INTEGRACAO.DBO.TAB_CODIGO_BARRA AS CB ON (PDV.M03AH = CB.COD_EAN)
WHERE 1 = 1
	AND CONVERT(DATE,PDV.M00AF) >= CONVERT(DATE,GETDATE()-180)
	AND PDV.M00ZA = 7
	--AND CAST(M03AH AS DOUBLE PRECISION) 
	AND CB.COD_PRODUTO IN (394697,394703,394710,394727,543101,543118,543125,543200,543224,543248,543279,543309,543330,543361,543378,543392,543415,543439,1001449,1001450,1001451)
	AND PDV.M00AD NOT IN (SELECT DISTINCT [NUMERO_CUPOM_FISCAL] FROM [dbCestaNatal].[dbo].[SMCB_PEDIDO])
