DECLARE @TEMP_ENTRADA AS TABLE
(
	[COD_PRODUTO] [INT]
	,[COD_LOJA] [INT]	
);

INSERT INTO @TEMP_ENTRADA
SELECT DISTINCT
	COD_PRODUTO
	,COD_LOJA
FROM
	[ZEUS_RTG].[DBO].[vw_MARCHE_ENTRADAS] WITH (NOLOCK);
	


SELECT TOP 100000
	CONVERT(DATE,GETDATE()-1) AS DTA_MOVIMENTO
	,PROD.COD_PRODUTO
	,LOJA.COD_LOJA
	,(CASE WHEN PROD.FORA_LINHA = 'S' THEN 1 ELSE 0 END) AS FORA_LINHA
	,(CASE WHEN LOJA.FORA_LINHA = 'S' THEN 1 ELSE 0 END) AS PROIBIDO_COMPRA
	,(CASE WHEN LOJA.INATIVO = 'S' THEN 1 ELSE 0 END) AS FORA_MIX
	,(CASE WHEN PROD.[STATUS] = 0 THEN 1 ELSE 0 END) AS ENVIA_PDV
	,LOJA.QTD_EST_ATUAL AS QTD_ESTOQUE
	,LOJA.VAL_VENDA
	,LOJA.VAL_OFERTA
	,LOJA.VAL_CUSTO_REP
	,LOJA.VAL_CUSTO_TABELA
	/*-- ------------------------
	,PROD_MOV.[QTD_ENTRADA]
	,PROD_MOV.[QTD_SAIDA]
	,PROD_MOV.[QTD_VENDA]
	,PROD_MOV.[QTD_COMPRA]
	-- ------------------------*/
FROM
	[ZEUS_RTG].[DBO].[TAB_PRODUTO] AS PROD WITH (NOLOCK)
		INNER JOIN [ZEUS_RTG].[DBO].[TAB_PRODUTO_LOJA] AS LOJA WITH (NOLOCK) ON (PROD.COD_PRODUTO = LOJA.COD_PRODUTO)
			INNER JOIN @TEMP_ENTRADA AS ENT ON (LOJA.COD_LOJA = ENT.COD_LOJA AND LOJA.COD_PRODUTO = ENT.COD_PRODUTO)
WHERE 1 = 1
	AND LOJA.COD_LOJA NOT IN (5,8,11,14,15,16,21,22,23,24,25,26,27,28)
	--FALTA FILTRO = TAB_PRODUTO_MOVIMENTO PARA NÃO SUBIR 1Mi
	
	
	
--SELECT TOP 10 * FROM [ZEUS_RTG].[DBO].[TAB_PRODUTO]
