	DECLARE @dataIni AS DATE = '2013-01-01'
	DECLARE @dataFim AS DATE = '2015-12-31'
	
	
	--select * from BI.dbo.BI_VENDA_CUPOM_PRODUTO where 1=1 AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@dataIni) AND CONVERT(DATE,@dataFim)
	--SELECT --TOP 100
	--	VCP.COD_LOJA
	--	,YEAR(VCP.DATA) AS ANO
	--	,MONTH(VCP.DATA) AS MES
	--	,BI.dbo.fn_FormataVlr_Excel(SUM(QTDE_CUPOM)) AS QTD_TICKET
	--FROM
	--	BI.dbo.BI_VENDA_CUPOM AS VCP
	--WHERE 1=1
	--	AND CONVERT(DATE,VCP.DATA) BETWEEN CONVERT(DATE,@dataIni) AND CONVERT(DATE,@dataFim)
	--	--AND VCP.COD_PRODUTO = 688888	
	--	AND VCP.COD_LOJA IN (SELECT COD_LOJA FROM BI.dbo.BI_CAD_LOJA2 WHERE FLG_25M = 1)
	--	AND VCP.COD_LOJA NOT IN (7,8,29,33)
	--GROUP BY
	--	VCP.COD_LOJA
	--	,YEAR(VCP.DATA)
	--	,MONTH(VCP.DATA)
	
	
	
/*
	--AMOSTRA
	SELECT TOP 100
		VCP.DATA
		,VCP.COD_LOJA
		,VCP.COD_PRODUTO
		,VCP.CUPOM
		,VCP.VLR_VENDA/QTDE_VENDA AS VLR_CUPOM
		,VP.VALOR_UNITARIO AS VLR_MEDIO_LOJA
		,(CASE WHEN VCP.VLR_VENDA/QTDE_VENDA < VP.VALOR_UNITARIO THEN 1 ELSE 0 END) AS FLG_COM_DESCONTO
	FROM
		BI.dbo.BI_VENDA_CUPOM_PRODUTO AS VCP
		INNER JOIN BI.dbo.BI_VENDA_PRODUTO AS VP
			ON 1=1
			AND VCP.COD_LOJA = VP.COD_LOJA
			AND VCP.COD_PRODUTO = VP.COD_PRODUTO
			AND VCP.DATA = VP.DATA
	WHERE 1=1
		AND CONVERT(DATE,VCP.DATA) BETWEEN CONVERT(DATE,@dataIni) AND CONVERT(DATE,@dataFim)
		AND VCP.COD_PRODUTO = 688888	
*/	
		
	SELECT --TOP 100
		VCP.COD_LOJA
		,YEAR(VCP.DATA) AS ANO
		,MONTH(VCP.DATA) AS MES
		--,VCP.VLR_VENDA/VCP.QTDE_VENDA AS PV_CUPOM
		--,VP.VALOR_UNITARIO AS PV_DIA		
		,BI.dbo.fn_FormataVlr_Excel(SUM(CASE WHEN VCP.VLR_VENDA/NULLIF(VCP.QTDE_VENDA,0) < VP.VALOR_UNITARIO THEN (VP.VALOR_UNITARIO-(VCP.VLR_VENDA/VCP.QTDE_VENDA))*VCP.QTDE_VENDA END)) AS VLR_DESCONTO_TOTAL
		,BI.dbo.fn_FormataVlr_Excel(SUM(VCP.VLR_VENDA)) as VLR_VENDA_TOTAL			
		
		,SUM(CASE WHEN VCP.VLR_VENDA/NULLIF(QTDE_VENDA,0) < VP.VALOR_UNITARIO THEN 1 ELSE 0 END) AS QTD_ITEM_VENDA_DESCONTO
		,COUNT(VCP.COD_PRODUTO) AS QTD_ITEM_VENDA
		
		
		,COUNT(DISTINCT CASE WHEN VCP.VLR_VENDA/NULLIF(VCP.QTDE_VENDA,0) < VP.VALOR_UNITARIO THEN VCP.CUPOM_HASH ELSE NULL END) AS QTD_CUPOM_DESC
		,COUNT(VCP.CUPOM_HASH) AS QTD_CUPOM
	FROM
		BI.dbo.BI_VENDA_CUPOM_PRODUTO AS VCP
		--INNER JOIN BI.dbo.BI_VENDA_CUPOM_CAPA AS VCC
		--	ON VCP.CUPOM_HASH = VCC.CUPOM_HASH
		INNER JOIN BI.dbo.BI_VENDA_PRODUTO AS VP
			ON 1=1
			AND VCP.COD_LOJA = VP.COD_LOJA
			AND VCP.COD_PRODUTO = VP.COD_PRODUTO
			AND VCP.DATA = VP.DATA
	WHERE 1=1
		AND CONVERT(DATE,VCP.DATA) BETWEEN CONVERT(DATE,@dataIni) AND CONVERT(DATE,@dataFim)
		--AND VCP.COD_PRODUTO = 688888	
		AND VCP.COD_LOJA IN (SELECT COD_LOJA FROM BI.dbo.BI_CAD_LOJA2 WHERE FLG_25M = 1)
		AND VCP.COD_LOJA NOT IN (7,8,29,33)
	GROUP BY
		VCP.COD_LOJA
		,YEAR(VCP.DATA)
		,MONTH(VCP.DATA)

/*
	SELECT TOP 100
		DATA
		,COD_LOJA
		,COD_PRODUTO
		,VALOR_UNITARIO
	FROM
		BI.dbo.BI_VENDA_PRODUTO
	WHERE 1=1
		AND VALOR_UNITARIO IS NOT NULL
		AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@dataIni) AND CONVERT(DATE,@dataFim)
		AND COD_PRODUTO = 688888
*/

/*
	SELECT
		CL.[COD_LOJA]
		,CS.DATA
		,PV.COD_PRODUTO
		,BI.DBO.fn_FormataVlr_Excel(AVG(PV.VALOR)) AS VLR_VENDA_MARCHE
	FROM
		BI.DBO.BI_CAD_LOJA2 AS CL
		INNER JOIN BI.DBO.BI_CAD_SEMANA AS CS
			ON 1=1			
		INNER JOIN [BI].[DBO].[BI_PRECO_VENDA] AS PV
			ON 1=1
			AND CL.COD_LOJA = PV.COD_LOJA
			AND PV.COD_LOJA NOT IN (7,26,29,33,5)
			AND CONVERT(DATE,PV.DTA_INI) = (SELECT MAX(TPV.DTA_INI) FROM [BI].[DBO].[BI_PRECO_VENDA] AS TPV WHERE TPV.TIPO = 0 AND TPV.COD_LOJA NOT IN (7,26,29,33,5) AND TPV.COD_PRODUTO = PV.COD_PRODUTO AND CONVERT(DATE,TPV.DTA_INI) <= CONVERT(DATE,CS.DATA) AND CONVERT(DATE,TPV.DTA_FIM) >= CONVERT(DATE,CS.DATA))
			AND CONVERT(DATE,PV.DTA_FIM) >= CONVERT(DATE,CS.DATA)
			AND PV.TIPO = 0
	WHERE 1 = 1
		AND CONVERT(DATE,CS.DATA) BETWEEN CONVERT(DATE,@dataIni) AND CONVERT(DATE,@dataFim)
		AND CL.COD_LOJA = 1
		AND PV.COD_PRODUTO = 161
	GROUP BY
		CL.[COD_LOJA]
		,CS.DATA
		,PV.COD_PRODUTO
*/