	DECLARE @DATA_INI AS DATE = '2016-01-01'
	DECLARE @DATA_FIM AS DATE = '2016-10-20'
	
	-- -------------------------------------------------------------------------------------------------------------------------------------------
	--
	-- -------------------------------------------------------------------------------------------------------------------------------------------	
	/*
	DECLARE @TAB_CMV_SECAO AS TABLE
	(
		COD_LOJA INT
		,DATA DATE
		,COD_DEPARTAMENTO INT
		,COD_SECAO INT
		,VLR_IMPOSTOS NUMERIC(18,2)
		,CMV NUMERIC(18,2)
	)
	INSERT INTO @TAB_CMV_SECAO
		SELECT 
			CMV.COD_LOJA
			,CONVERT(DATE,CMV.DTA_CALCULO)
			,CP.COD_DEPARTAMENTO
			,CP.COD_SECAO
			,SUM(CMV.Total_Impostos) as VLR_IMPOSTOS
			,SUM(CMV.VLR_CUSTO_MEDIO*CMV.Total_Qtde) AS CMV	
		FROM
			DW.[dbo].[CMV] as CMV
			LEFT JOIN BI.DBO.BI_CAD_PRODUTO AS CP
				ON CMV.COD_PRODUTO = CP.COD_PRODUTO
		WHERE 1=1
			--AND CONVERT(DATE,CMV.DTA_CALCULO) BETWEEN CONVERT(DATE,GETDATE()-90) AND CONVERT(DATE,GETDATE()-1)
			AND CONVERT(DATE,CMV.DTA_CALCULO) BETWEEN CONVERT(DATE,@DATA_INI) AND CONVERT(DATE,GETDATE()-1)
			--AND CMV.COD_PRODUTO NOT IN (1016980,1016982)
			AND CMV.COD_LOJA NOT IN (5)
		GROUP BY 	
			CMV.COD_LOJA
			,CONVERT(DATE,CMV.DTA_CALCULO)
			,CP.COD_DEPARTAMENTO
			,CP.COD_SECAO
	
	UPDATE VS
	SET
		VS.VLR_IMPOSTOS = TS.VLR_IMPOSTOS
		,VS.CMV = TS.CMV
	FROM
		[BI].[dbo].[BI_VENDA_SECAO] AS VS
		INNER JOIN @TAB_CMV_SECAO AS TS
			ON 1=1
			AND VS.COD_LOJA = TS.COD_LOJA
			AND VS.DATA = TS.DATA
			AND VS.COD_DEPARTAMENTO = TS.COD_DEPARTAMENTO
			AND VS.COD_SECAO = TS.COD_SECAO
	*/
	-- -------------------------------------------------------------------------------------------------------------------------------------------
	--
	-- -------------------------------------------------------------------------------------------------------------------------------------------	
	DECLARE @TAB_CMV_DEP AS TABLE
	(
		COD_LOJA INT
		,DATA DATE
		,COD_DEPARTAMENTO INT
		,VLR_IMPOSTOS NUMERIC(18,2)
		,CMV NUMERIC(18,2)
	)
	INSERT INTO @TAB_CMV_DEP
		SELECT 
			CMV.COD_LOJA
			,CONVERT(DATE,CMV.DTA_CALCULO)
			,CP.COD_DEPARTAMENTO
			,SUM(CMV.Total_Impostos) as VLR_IMPOSTOS
			,SUM(CMV.VLR_CUSTO_MEDIO*CMV.Total_Qtde) AS CMV	
		FROM
			DW.[dbo].[CMV] as CMV
			LEFT JOIN BI.DBO.BI_CAD_PRODUTO AS CP
				ON CMV.COD_PRODUTO = CP.COD_PRODUTO
		WHERE 1=1
			--AND CONVERT(DATE,CMV.DTA_CALCULO) BETWEEN CONVERT(DATE,GETDATE()-90) AND CONVERT(DATE,GETDATE()-1)
			AND CONVERT(DATE,CMV.DTA_CALCULO) BETWEEN CONVERT(DATE,@DATA_INI) AND CONVERT(DATE,GETDATE()-1)
			--AND CMV.COD_PRODUTO NOT IN (1016980,1016982)
			AND CMV.COD_LOJA NOT IN (5)
		GROUP BY 	
			CMV.COD_LOJA
			,CONVERT(DATE,CMV.DTA_CALCULO)
			,CP.COD_DEPARTAMENTO
	
	UPDATE VS
	SET
		VS.VLR_IMPOSTOS = TS.VLR_IMPOSTOS
		,VS.CMV = TS.CMV
	FROM
		[BI].[dbo].[BI_VENDA_DEPARTAMENTO] AS VS
		INNER JOIN @TAB_CMV_DEP AS TS
			ON 1=1
			AND VS.COD_LOJA = TS.COD_LOJA
			AND VS.DATA = TS.DATA
			AND VS.COD_DEPARTAMENTO = TS.COD_DEPARTAMENTO