SELECT 
	YEAR(VP.DATA) AS ANO
	,MONTH(VP.DATA) AS MES
	,VP.COD_PRODUTO
	,CP.DESCRICAO AS NO_PRODUTO
	,BI.dbo.fn_FormataVlr_Excel(SUM(VP.VALOR_TOTAL)) AS VLR_TOTAL
	,BI.dbo.fn_FormataVlr_Excel(SUM(VP.QTDE_PRODUTO)) AS QTD_TOTAL
FROM
	BI.DBO.BI_VENDA_PRODUTO AS VP
	INNER JOIN BI.dbo.BI_CAD_PRODUTO AS CP
		ON 1=1
		AND VP.COD_PRODUTO = CP.COD_PRODUTO
WHERE 1=1
	AND CONVERT(DATE,VP.DATA) BETWEEN CONVERT(DATE,'20140101') AND CONVERT(DATE,'20141231')
	AND VP.COD_PRODUTO IN (SELECT DISTINCT COD_PRODUTO FROM CADASTRO_CAD_PRODUTO_METADADOS AS M WHERE M.COD_METADADO = 1 AND VLR_METADADO = 1)
GROUP BY
	VP.COD_LOJA
	,YEAR(VP.DATA)
	,MONTH(VP.DATA)
	,VP.COD_PRODUTO
	,CP.DESCRICAO
ORDER BY
	YEAR(VP.DATA)
	,MONTH(VP.DATA)
	,CP.DESCRICAO