SELECT
	C.COD_LOJA
	,S.ANO_454
	,S.MES_454
	,S.SEMANA_454
	,BI.dbo.fn_FormataVlr_Excel(SUM(C.QTDE_CUPOM)) AS QTD_CUPOM
FROM
	BI.DBO.BI_VENDA_CUPOM AS C
	INNER JOIN BI.dbo.BI_CAD_SEMANA AS S
		ON C.DATA = S.DATA
WHERE 1=1
	and COD_LOJA = 2
GROUP BY
	C.COD_LOJA
	,S.ANO_454
	,S.MES_454
	,S.SEMANA_454
ORDER BY
	C.COD_LOJA
	,S.ANO_454
	,S.MES_454
	,S.SEMANA_454