SELECT --TOP 100
	VP.COD_LOJA
	,SUM(VP.VALOR_TOTAL) VLR_TOTAL
FROM  
	[BI].[dbo].[BI_VENDA_PRODUTO] AS VP
	INNER JOIN [BI].[dbo].[BI_CAD_FORNECEDOR_PRODUTO] AS FP
		ON 1=1
		AND VP.COD_PRODUTO = FP.COD_PRODUTO
WHERE 1=1
	AND FP.COD_FORNECEDOR = 444
	AND CONVERT(DATE,VP.DATA) >= CONVERT(DATE,GETDATE()-180)
GROUP BY
	VP.COD_LOJA