USE [BI]
GO
/****** Object:  StoredProcedure [dbo].[CARGA_BI_VENDA_PRODUTO]    Script Date: 08/15/2014 10:27:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		VICTOR.ROSA
-- Create date: 12/08/2014
-- Description:	CARGA DE VENDAS
-- =============================================
ALTER PROCEDURE [dbo].[CARGA_BI_VENDA_PRODUTO]
	@DT_INICIO DATE
	,@DT_TERMINO DATE
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ID_ROTINA AS INT = 31
	DECLARE @DATA_INI_ROTINA AS DATETIME = GETDATE()
	DECLARE @TEMPO AS NUMERIC(18,2)
	DECLARE @PARAMETROS_ROTINA AS VARCHAR(150)
	SET @PARAMETROS_ROTINA = 
		'@DT_INICIO: ' + CONVERT(VARCHAR(10),@DT_INICIO)
		+ ' | @DT_TERMINO: ' + CONVERT(VARCHAR(10),@DT_TErmino)

	DELETE FROM [BI].[dbo].BI_VENDA_PRODUTO
	WHERE 1 = 1
	AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
			
	INSERT INTO [BI].[dbo].BI_VENDA_PRODUTO
			   ([COD_LOJA]
			   ,[DATA]
			   ,[COD_PRODUTO]
			   ,[TIPO_VENDA]
			   ,[QTDE_PRODUTO]
			   ,[VALOR_TOTAL]
			   ,[VALOR_UNITARIO]
			   ,[QTDE_DEMANDA]
			   ,[COD_CLIENTE])
	SELECT 
		COD_lOJA 
		,DATA
		,COD_PRODUTO
		,1 AS [TIPO_VENDA]
		,SUM(QTDE) AS [QTDE_PRODUTO]
		,SUM(VALOR) AS [VALOR_TOTAL]
		,0 AS [VALOR_UNITARIO]
		,COUNT(QTDE) AS [QTDE_DEMANDA]
		,0 AS [COD_CLIENTE]
	FROM dw.dbo.BI_ANAL_TICKET with (NOLOCK) 
	WHERE 1 = 1
		AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
		and COD_PRODUTO is not NULL
	GROUP BY COD_lOJA , DATA , COD_PRODUTO
	
	UNION ALL
	
	select
		8 AS COD_LOJA
		,ALTEC.DATA
		,isnull(PROD.PLU,999999) AS COD_PRODUTO
		,2 AS TIPO_VENDA 
		,SUM(QTDE) AS QTDE_PRODUTO
		,SUM(TOTAL) AS VALOR_TOTAL
		,0 AS VALOR_UNITARIO
		,COUNT(QTDE) AS QTDE_DEMANDA
		,0 AS COD_CLIENTE
	from
		[192.168.0.6].Alltec.dbo.ITENS_CUPONS as ALTEC left outer join [192.168.0.6].Alltec.dbo.PRODUTO as PROD	on (PROD.CODPRODUTO = ALTEC.PRODUTO	AND PROD.COD_LOJA = ALTEC.COD_lOJA)
	WHERE 1 = 1
		AND CONVERT(DATE,ALTEC.DATA) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
	GROUP BY
		ALTEC.DATA
		,PROD.PLU

	SET @TEMPO = DATEDIFF(S,@DATA_INI_ROTINA,GETDATE())

	EXEC BI.DBO.BI_LOG 
		@ID_ROTINA
		,@DATA_INI_ROTINA
		,@TEMPO
		,@PARAMETROS_ROTINA

END
