/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	PEDIDO.IDPEDIDO
	,FORMA_PAGAMENTO.DESCRICAO
	,USUARIO.NOME
	,CLIENTE.CNPJCPF
	,PESSOA.NOME_PESSOA
	,PESSOA.EMAIL
	,PEDIDO.[IDMOTIVO_FINANCEIRO]
	,PEDIDO.[NUMERO_NOTA_FISCAL]
	,PEDIDO.[DATA_NOTA_FISCAL]
	,PEDIDO.[NOTA_EMITIDA]
	,PEDIDO.[CARTAO_ANEXO]
	,PEDIDO.[VALOR_DESCONTO]
	,PEDIDO.[OBSERVACOES]
	,PEDIDO.[VALOR_FRETE]
	,PEDIDO.[VALOR_FRETE_ADICIONAL]
	,PEDIDO.[FRETE_CALCULADO_CUPOM]
	,PEDIDO.[NUMERO_CUPOM_FISCAL]
	,PEDIDO.[CHAVE_NFE]
	,PEDIDO.[TOTAL]
	,PEDIDO.[STATUS]
	,STATUS_PEDIDO.DESCRICAO
	,CONVERT(DATE,PEDIDO.[DATA_CRIACAO]) AS [DATA_CRIACAO]
	--,PEDIDO.[DATA_ATUALIZACAO]
	--,PEDIDO.[DATA_APROVACAO]
	--,PEDIDO.[CODIGO_ERP]
	,PEDIDO.[VALOR_DESCONTO_PERSONALIZADO]
FROM 
	[dbCestaNatal].[dbo].[SMCB_PEDIDO] as PEDIDO
		INNER JOIN [dbCestaNatal].[dbo].[SMCB_FORMA_PAGAMENTO] AS FORMA_PAGAMENTO ON (PEDIDO.IDFORMA_PAGAMENTO = FORMA_PAGAMENTO.IDFORMA_PAGAMENTO)
		INNER JOIN [dbCestaNatal].[dbo].[SMCB_USUARIO] AS USUARIO ON (PEDIDO.IDUSUARIO = USUARIO.IDUSUARIO)
		INNER JOIN [dbCestaNatal].[dbo].[SMCB_CLIENTE] AS CLIENTE ON (PEDIDO.IDCLIENTE = CLIENTE.IDCLIENTE)
			LEFT JOIN [dbCestaNatal].[dbo].[SMCB_PESSOA] AS PESSOA ON (CLIENTE.IDPESSOA = PESSOA.IDPESSOA)
		INNER JOIN [dbCestaNatal].[dbo].[SMCB_STATUS] AS STATUS_PEDIDO ON (PEDIDO.[STATUS] = STATUS_PEDIDO.IDSTATUS)
WHERE 1 = 1
	--AND
	
--SELECT TOP 100 * FROM [dbCestaNatal].[dbo].[SMCB_STATUS]