/****** Script for SelectTopNRows command from SSMS  ******/
SELECT
	PEDIDO_ITEM.[IDPEDIDO]
	,PRODUTO_SKU.IDPRODUTO
	,PRODUTO_SKU.CODIGO_SKU
	,PRODUTO_SKU.DESCRICAO
	,PEDIDO_ITEM.[QUANTIDADE]
	--,PEDIDO_ITEM.[CODIGO_SEQ_ITEM]
	,CONVERT(DATE,PEDIDO_ITEM.[DATA_CRIACAO])
	--,PEDIDO_ITEM.[DATA_ATUALIZACAO]
	,PEDIDO_ITEM.[STATUS]
	,STATUS_PEDIDO_ITEM.DESCRICAO
	--,PEDIDO_ITEM.[CODIGO_ERP]
FROM
	[dbCestaNatal].[dbo].[SMCB_PEDIDO_ITEM] AS PEDIDO_ITEM
		INNER JOIN [dbCestaNatal].[dbo].[SMCB_STATUS] AS STATUS_PEDIDO_ITEM ON (PEDIDO_ITEM.[STATUS] = STATUS_PEDIDO_ITEM.IDSTATUS)
		INNER JOIN [dbCestaNatal].[dbo].[SMCB_PRODUTO_SKU] AS PRODUTO_SKU ON (PEDIDO_ITEM.IDPRODUTO_SKU = PRODUTO_SKU.IDPRODUTO_SKU)
WHERE 1 = 1
	--AND
		
		

--SELECT TOP 100 * FROM [dbCestaNatal].[dbo].[SMCB_PRODUTO_SKU]