/*
IF OBJECT_ID('TEMPDB.DBO.#TAB_VENDA_CUPOM') IS NOT NULL DROP TABLE #TAB_VENDA_CUPOM
CREATE TABLE  #TAB_VENDA_CUPOM
(		
	COD_LOJA INT
	,DATA DATE
	,CUPOM INT
	,CAIXA INT
	,VLR_CUPOM NUMERIC(18,2)
	
)
CREATE CLUSTERED INDEX IX_TAB_VENDA_CUPOMON ON #TAB_VENDA_CUPOM (COD_LOJA, DATA, CUPOM, CAIXA)

INSERT INTO #TAB_VENDA_CUPOM
SELECT
	COD_LOJA
	,DATA
	,CUPOM
	,CAIXA
	,SUM(VALOR_TOTAL) AS VALOR
FROM
	DW.DBO.BI_ANAL_MOVTO_CAIXA 
WHERE 1=1
	AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,'2014-01-01') AND CONVERT(DATE,'2015-10-31')
	AND COD_LOJA IN (1,3,2,6,9,13,17,18,20,22,23,24,30,4,10,19) --SSS
	--AND COD_LOJA IN (21,25,27,31) --NOVAS
GROUP BY
	COD_LOJA
	,DATA
	,CUPOM
	,CAIXA
*/

SELECT
	YEAR(CC.DATA) ANO
	--,MONTH(CC.DATA) MES
	,BI.dbo.fn_FormataVlr_Excel(COUNT(CC.CUPOM)) CUPOM_TOTAL
	,BI.dbo.fn_FormataVlr_Excel(COUNT(CASE WHEN NOTA_FISCAL_PAULISTA IS NULL AND CONTA_CLIENTE IS NULL AND VOCE_MARCHE IS NULL THEN CC.CUPOM END))	AS CUPOM_NAO_IDENT
	,BI.dbo.fn_FormataVlr_Excel(SUM(CASE WHEN NOTA_FISCAL_PAULISTA IS NULL AND CONTA_CLIENTE IS NULL AND VOCE_MARCHE IS NULL THEN VC.VLR_CUPOM END)) AS VLR_CUPOM_NAO_IDENT
	
	,BI.dbo.fn_FormataVlr_Excel(COUNT(CASE WHEN (NOTA_FISCAL_PAULISTA IS NOT NULL OR CONTA_CLIENTE IS NOT NULL) AND VOCE_MARCHE IS NULL THEN CC.CUPOM END)) CUPOM_CPF
	,BI.dbo.fn_FormataVlr_Excel(SUM(CASE WHEN (NOTA_FISCAL_PAULISTA IS NOT NULL OR CONTA_CLIENTE IS NOT NULL) AND VOCE_MARCHE IS NULL THEN VC.VLR_CUPOM END)) VLR_CUPOM_CPF
	,BI.dbo.fn_FormataVlr_Excel(COUNT(DISTINCT CASE WHEN (NOTA_FISCAL_PAULISTA IS NOT NULL OR CONTA_CLIENTE IS NOT NULL) AND VOCE_MARCHE IS NULL THEN ISNULL(NOTA_FISCAL_PAULISTA,CONTA_CLIENTE) END)) QTD_CPF
	
	,BI.dbo.fn_FormataVlr_Excel(COUNT(CASE WHEN VOCE_MARCHE IS NOT NULL THEN CC.CUPOM END)) AS CUPOM_VCM
	,BI.dbo.fn_FormataVlr_Excel(SUM(CASE WHEN VOCE_MARCHE IS NOT NULL THEN VC.VLR_CUPOM END)) AS VLR_CUPOM_VCM
	,BI.dbo.fn_FormataVlr_Excel(COUNT(DISTINCT CASE WHEN VOCE_MARCHE IS NOT NULL THEN VOCE_MARCHE END)) AS QTD_VCM
FROM
	[DW].[dbo].[CUPOM_CLIENTES] as CC	
	INNER JOIN #TAB_VENDA_CUPOM AS VC
		ON 1=1
		AND CC.COD_LOJA = VC.COD_LOJA
		AND CC.CUPOM = VC.CUPOM
		AND CC.DATA = VC.DATA
		AND CC.PDV = VC.CAIXA
				
WHERE 1=1
	AND CONVERT(DATE,CC.DATA) BETWEEN CONVERT(DATE,'2015-01-01') AND CONVERT(DATE,'2015-10-31')
	AND CC.COD_LOJA IN (1,3,2,6,9,13,17,18,20,22,23,24,30,4,10,19) --SSS
	--AND COD_LOJA IN (21,25,27,31) --Novas
GROUP BY
	YEAR(CC.DATA)
	--,MONTH(CC.DATA)
ORDER BY
	YEAR(CC.DATA)
	--,MONTH(CC.DATA)
	
-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- 
-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	SELECT
		YEAR(CC.DATA) ANO
		,''''+VOCE_MARCHE as vmc
		,BI.dbo.fn_FormataVlr_Excel(COUNT(DISTINCT CONVERT(VARCHAR,CC.DATA,112)+ RIGHT('000'+ CONVERT(VARCHAR,CC.COD_LOJA),3) + RIGHT('000'+ CONVERT(VARCHAR,CC.PDV),3) + RIGHT('00000000'+ CONVERT(VARCHAR,CC.CUPOM),8))) as hash_c
		--,BI.dbo.fn_FormataVlr_Excel(SUM(VC.VLR_CUPOM)) AS VLR_CUPOM_VCM	
	FROM
		[DW].[dbo].[CUPOM_CLIENTES] as CC	
		inner join DTM.dbo.CLIENTES as c
			on convert(double precision,CC.VOCE_MARCHE) = convert(double precision,c.txtCpf)
		
		INNER JOIN #TAB_VENDA_CUPOM AS VC
			ON 1=1
			AND CC.COD_LOJA = VC.COD_LOJA
			AND CC.CUPOM = VC.CUPOM
			AND CC.DATA = VC.DATA
			AND CC.PDV = VC.CAIXA
					
	WHERE 1=1
		AND CONVERT(DATE,CC.DATA) BETWEEN CONVERT(DATE,'2015-01-01') AND CONVERT(DATE,'2015-10-31')
		AND CC.COD_LOJA IN (1,3,2,6,9,13,17,18,20,22,23,24,30,4,10,19) --SSS
		--AND COD_LOJA IN (21,25,27,31) --Novas
	GROUP BY
		YEAR(CC.DATA)
		,''''+VOCE_MARCHE
	--ORDER BY
	--	YEAR(CC.DATA)
	--	,''''+VOCE_MARCHE



