SELECT
	COD_LOJA
	,COD_PRODUTO
	,DESCRICAO
	,NO_DEPARTAMENTO
	,NO_SECAO
	,QTD_ESTOQUE
	--,DATEDIFF(D,LAST_DATE, GETDATE()) AS DIFF
FROM
	(
		SELECT
			VP.COD_LOJA
			,VP.COD_PRODUTO
			,CP.DESCRICAO
			,CP.NO_DEPARTAMENTO
			,CP.NO_SECAO
			,EP.QTD_ESTOQUE
			,MAX(VP.DATA) AS LAST_DATE
		FROM
			[192.168.0.13].BI.DBO.BI_VENDA_PRODUTO AS VP LEFT JOIN [192.168.0.13].BI.DBO.BI_ESTOQUE_PRODUTO AS EP ON (VP.COD_PRODUTO = EP.COD_PRODUTO AND VP.COD_LOJA = EP.COD_LOJA)
				LEFT JOIN [192.168.0.13].BI.DBO.BI_CAD_PRODUTO AS CP ON (VP.COD_PRODUTO	= CP.COD_PRODUTO)
		WHERE 1 = 1
			AND CONVERT(DATE,VP.DATA) BETWEEN CONVERT(DATE,GETDATE()-5) AND CONVERT(DATE,GETDATE())
		GROUP BY
			VP.COD_LOJA
			,VP.COD_PRODUTO
			,CP.DESCRICAO
			,CP.NO_DEPARTAMENTO
			,CP.NO_SECAO
			,EP.QTD_ESTOQUE
	) AS MAX_DATE
WHERE 1 = 1
	AND DATEDIFF(D,LAST_DATE, GETDATE()) >= 5
ORDER BY
	QTD_ESTOQUE DESC