DECLARE @COD_LOJA AS INT = 2

SELECT COUNT(DISTINCT RL.COD_PRODUTO) AS QTD_RUPTURA_LANCADA
FROM
	[Alpha].[dbo].[RUPTURA_LOJA] AS RL
	INNER JOIN BI.dbo.BI_LINHA_PRODUTOS AS LP
		ON 1=1
		AND RL.COD_LOJA = LP.COD_LOJA
		AND RL.COD_PRODUTO = LP.COD_PRODUTO
WHERE 1=1
	AND CONVERT(DATE,RL.DTA_RECORD) = CONVERT(DATE,GETDATE())
	AND LP.CLASSIF_PRODUTO_LOJA IN ('A1','A2')
	AND RL.COD_LOJA = @COD_LOJA