-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- ULTIMA GRAVACAO
-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
DECLARE @ULTIMA_GRAVACAO AS TABLE
(
	[COD_LOJA] [int] NOT NULL,
	[COD_PRODUTO] [int] NOT NULL,
	[DTA_GRAVACAO] [datetime] NULL,
	[DESCRICAO] [varchar](50) NULL,
	[DTA_INI] [date] NOT NULL,
	[COD_USUARIO] [int] NOT NULL
)

INSERT INTO @ULTIMA_GRAVACAO
SELECT 
	pv.[COD_LOJA]
	,pv.[COD_PRODUTO]
	,pv.[DTA_GRAVACAO] 
	,pv.[DESCRICAO] 
	,pv.[DTA_INI] 
	,pv.[COD_USUARIO]     
FROM 
	[BI].[dbo].[BI_PRECO_PRE_VENDA] as pv
where 1=1
	and pv.[DTA_GRAVACAO] = (select MAX([DTA_GRAVACAO]) from [BI].[dbo].[BI_PRECO_PRE_VENDA] as tpv where tpv.[COD_LOJA] = pv.[COD_LOJA] and tpv.[COD_PRODUTO] = pv.[COD_PRODUTO])
	
	

-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- SELECT
-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT --TOP 100
	PRECOS.[COD_USUARIO]
	,PRECOS.[COD_LOJA]
	,PRECOS.[COD_PRODUTO]
	,TA.TIPO AS TIPO
	,PRECOS.[DTA_INI]
	,PRECOS.[DTA_FIM]
	,PRECOS.[DESCRICAO]
	,LOJA.VAL_VENDA
	,LOJA.VAL_OFERTA
	,(CASE WHEN PRECOS.[ARREDONDAR] = 1 THEN dbo.Arredondar_Preco(PRECOS.[VALOR]) ELSE PRECOS.[VALOR] END) AS VALOR
	,(CASE WHEN PRECOS.[ARREDONDAR] = 1 THEN dbo.Arredondar_Preco(PRECOS.[VALOR]) ELSE PRECOS.[VALOR] END)/(CASE WHEN LOJA.VAL_VENDA <= 0 THEN 1 ELSE LOJA.VAL_VENDA END) AS VARIACAO --####
	,NULL AS ERRO
	,NULL AS EXPORTAR
	
	,(
		SELECT COUNT(*) FROM [BI].[dbo].[BI_PRECO_PRE_VENDA_COMPRAS_EXPANDIDO] AS TEMP_PRECO
		LEFT JOIN [BI].[dbo].[BI_PRECO_TIPO_ALTERACAO] AS TEMP_TA ON (TEMP_PRECO.DESCRICAO = TEMP_TA.TIPO_ALTERACAO)
		WHERE 1 = 1
		AND (PRECOS.COD_PRODUTO = TEMP_PRECO.COD_PRODUTO AND PRECOS.COD_LOJA = TEMP_PRECO.COD_LOJA AND TEMP_PRECO.[DTA_INI] > GETDATE() and TA.TIPO = TEMP_TA.TIPO)
	) AS DUPLICADO
	
	,NULL AS CHAVE --####
	,(CASE WHEN PRECO_VENDA.COD_PRODUTO IS NULL THEN 0 ELSE 1 END) AS PROGRAMACAO_FUTURA
	,PRECOS.[APLICAR_SIMILAR]
	,PRECOS.[DESCRICAO] AS DESCRICAO_CURTA
	,PROD.DESCRICAO
	,CONVERT(VARCHAR(5),PRECOS.COD_LOJA) + '-' + CONVERT(VARCHAR(15),PRECOS.COD_PRODUTO) AS CHAVE_CURTA --####
	,NULL AS TABLOIDE
	,LOJA.FORA_LINHA
	,SIT.ENVIA_PDV
	,NULL AS CHAVE_SIMILAR --####
	
	,(
		SELECT COUNT(*)
			FROM [BI].[dbo].[BI_PRECO_PRE_VENDA_COMPRAS_EXPANDIDO] AS TEMP_PRECO
				INNER JOIN [BI].[dbo].[BI_CAD_PRODUTO] as TEMP_PROD ON (TEMP_PRECO.COD_PRODUTO = TEMP_PROD.COD_PRODUTO)
				LEFT JOIN [BI].[dbo].[BI_PRECO_TIPO_ALTERACAO] AS TEMP_TA ON (TEMP_PRECO.DESCRICAO = TEMP_TA.TIPO_ALTERACAO)
		WHERE 1 = 1
		AND (PRECOS.COD_LOJA = TEMP_PRECO.COD_LOJA AND PRECOS.[APLICAR_SIMILAR] = TEMP_PRECO.[APLICAR_SIMILAR] AND TA.TIPO = TEMP_TA.TIPO AND PRECOS.[DTA_INI] = TEMP_PRECO.[DTA_INI] AND TEMP_PROD.COD_PRODUTO_SIMILAR = PROD.COD_PRODUTO_SIMILAR)
	) AS DUPLICADO_SIMILAR

	,ULT_GRAV.DTA_GRAVACAO AS DTA_ULTIMA_GRAVACAO
	,ULT_GRAV.DESCRICAO AS DESCRICAO_ULTIMA_ALTERACAO
	,ULT_GRAV.DTA_INI AS DT_INI_ULTIMA_GRAVACAO
	,ULT_GRAV.COD_USUARIO AS COD_USUARIO_ULTIMA_GRAVACAO
	,MET.[VLR_METADADO] AS NOTAVEIS
	,(CASE WHEN PRECO_VENDA_VOCE_MARCHE.COD_PRODUTO IS NOT NULL THEN PRECO_VENDA_VOCE_MARCHE.DTA_INI ELSE NULL END) DTA_INI_VOCE_MARCHE
	,(CASE WHEN PRECO_VENDA_VOCE_MARCHE.COD_PRODUTO IS NOT NULL THEN PRECO_VENDA_VOCE_MARCHE.DTA_FIM ELSE NULL END) DTA_FIM_VOCE_MARCHE
	,(CASE WHEN PRECO_VENDA_VOCE_MARCHE.COD_PRODUTO IS NOT NULL THEN PRECO_VENDA_VOCE_MARCHE.VALOR ELSE NULL END) VALOR_VOCE_MARCHE
FROM
	[BI].[dbo].[BI_PRECO_PRE_VENDA_COMPRAS_EXPANDIDO] as PRECOS
		INNER JOIN [BI].[dbo].[BI_CAD_PRODUTO] as PROD ON (PRECOS.COD_PRODUTO = PROD.COD_PRODUTO)
			LEFT JOIN [BI].[dbo].[BI_PRECO_VENDA] AS PRECO_VENDA ON (PRECOS.COD_PRODUTO = PRECO_VENDA.COD_PRODUTO AND PRECOS.COD_LOJA = PRECO_VENDA.COD_LOJA AND PRECOS.[DTA_INI] < PRECO_VENDA.[DTA_INI])
			LEFT JOIN [BI].[dbo].[CADASTRO_CAD_PRODUTO_METADADOS] AS MET ON (PRECOS.COD_PRODUTO = MET.COD_PRODUTO)
			LEFT JOIN [BI].[dbo].[BI_PRECO_TIPO_ALTERACAO] AS TA ON (PRECOS.DESCRICAO = TA.TIPO_ALTERACAO)
			
			LEFT JOIN [BI].[dbo].[BI_PRECO_VENDA] AS PRECO_VENDA_VOCE_MARCHE ON (PRECOS.COD_PRODUTO = PRECO_VENDA_VOCE_MARCHE.COD_PRODUTO AND PRECOS.COD_LOJA = PRECO_VENDA_VOCE_MARCHE.COD_LOJA AND PRECOS.[DTA_INI] <= GETDATE() AND PRECOS.[DTA_FIM] > GETDATE() AND PRECO_VENDA_VOCE_MARCHE.DESCRICAO LIKE '%VOC%MARCHE%')
			
			LEFT JOIN [192.168.0.6].[ZEUS_RTG].DBO.[TAB_PRODUTO_LOJA] AS LOJA ON (PRECOS.COD_LOJA = LOJA.COD_LOJA AND PRECOS.COD_PRODUTO = LOJA.COD_PRODUTO)
			LEFT JOIN [192.168.0.6].zeus_rtg.dbo.vw_MARCHE_PRODUTO_SITUACAO AS SIT with (nolock) ON (PRECOS.COD_PRODUTO = SIT.COD_PRODUTO AND PRECOS.COD_LOJA = SIT.COD_LOJA)
		
			LEFT JOIN @ULTIMA_GRAVACAO AS ULT_GRAV ON (PRECOS.COD_PRODUTO = ULT_GRAV.COD_PRODUTO AND PRECOS.COD_LOJA = ULT_GRAV.COD_LOJA)
		
WHERE 1 = 1
	AND PRECOS.DTA_GRAVACAO >= CONVERT(DATE,GETDATE())
order by
	PRECOS.[COD_USUARIO]
	,PRECOS.[COD_LOJA]
	,PRECOS.[COD_PRODUTO]
	,TA.TIPO
	,PRECOS.[DTA_INI]
	,PRECOS.[DTA_FIM]




