USE [BI]
GO
/****** Object:  StoredProcedure [dbo].[QW_78_MARGEM_MES]    Script Date: 02/25/2016 09:47:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
EXEC [QW_20_CARGA_PRECO_VENDA_DIA]
*/
ALTER PROCEDURE [dbo].[QW_78_MARGEM_MES]
WITH EXECUTE AS CALLER
AS
begin
	SET NOCOUNT ON;

	DECLARE @ID_ROTINA AS INT = 76
	DECLARE @DATA_INI_ROTINA AS DATETIME = GETDATE()
	DECLARE @TEMPO AS NUMERIC(18,2)
	DECLARE @PARAMETROS_ROTINA AS VARCHAR(150)
	SET @PARAMETROS_ROTINA = ''		
	--select top 1 * from DW.[dbo].[CMV] where convert(date,DTA_CALCULO) = convert(date,getdate()-25)
	SELECT 
		CMV.COD_LOJA
		,YEAR(CMV.DTA_CALCULO) ANO_454
		,MONTH(CMV.DTA_CALCULO) MES_454
		,CMV.COD_PRODUTO		
		,CMV.MARGEM_REF	
		,SUM(CMV.Consumidor_Qtde) as QTD_VENDA
		,SUM(CMV.Consumidor_Venda) as VLR_VENDA
		,SUM(CMV.Consumidor_Impostos) as VLR_IMPOSTOS
		,SUM(CMV.VLR_CUSTO_MEDIO*CMV.Consumidor_Qtde) AS CMV	
		,'Consumidor' as TIPO_VENDA
	FROM
		DW.[dbo].[CMV] as CMV
		LEFT JOIN BI.DBO.BI_CAD_PRODUTO AS CP
			ON CMV.COD_PRODUTO = CP.COD_PRODUTO
		LEFT JOIN BI.dbo.BI_CAD_SEMANA AS S
			ON CMV.DTA_CALCULO = S.DATA
	WHERE 1=1
		--AND CONVERT(DATE,CMV.DTA_CALCULO) BETWEEN CONVERT(DATE,GETDATE()-90) AND CONVERT(DATE,GETDATE()-1)
		AND CONVERT(DATE,CMV.DTA_CALCULO) BETWEEN CONVERT(DATE,'20150101') AND CONVERT(DATE,GETDATE()-1)
		AND CMV.COD_PRODUTO NOT IN (1016980,1016982)
	GROUP BY 	
		CMV.COD_LOJA
		,YEAR(CMV.DTA_CALCULO)
		,MONTH(CMV.DTA_CALCULO)
		,CMV.COD_PRODUTO		
		,CMV.MARGEM_REF
	
	UNION ALL
	
	SELECT 
		CMV.COD_LOJA
		,YEAR(CMV.DTA_CALCULO) ANO_454
		,MONTH(CMV.DTA_CALCULO) MES_454
		,CMV.COD_PRODUTO		
		,CMV.MARGEM_REF	
		,SUM(CMV.Vcmarche_Qtde) as QTD_VENDA
		,SUM(CMV.Vcmarche_Venda) as VLR_VENDA
		,SUM(CMV.Vcmarche_Impostos) as VLR_IMPOSTOS
		,SUM(CMV.VLR_CUSTO_MEDIO*CMV.Vcmarche_Qtde) AS CMV	
		,'Voce Marche' as TIPO_VENDA	
	FROM
		DW.[dbo].[CMV] as CMV
		LEFT JOIN BI.DBO.BI_CAD_PRODUTO AS CP
			ON CMV.COD_PRODUTO = CP.COD_PRODUTO
		LEFT JOIN BI.dbo.BI_CAD_SEMANA AS S
			ON CMV.DTA_CALCULO = S.DATA
	WHERE 1=1
		AND CONVERT(DATE,CMV.DTA_CALCULO) BETWEEN CONVERT(DATE,'20150101') AND CONVERT(DATE,GETDATE()-1)
		AND CMV.COD_PRODUTO NOT IN (1016980,1016982)
	GROUP BY 	
		CMV.COD_LOJA
		,YEAR(CMV.DTA_CALCULO)
		,MONTH(CMV.DTA_CALCULO)
		,CMV.COD_PRODUTO		
		,CMV.MARGEM_REF
	
	UNION ALL
	
	SELECT 
		CMV.COD_LOJA
		,YEAR(CMV.DTA_CALCULO) ANO_454
		,MONTH(CMV.DTA_CALCULO) MES_454
		,CMV.COD_PRODUTO		
		,CMV.MARGEM_REF	
		,SUM(CMV.CC_Qtde) as QTD_VENDA
		,SUM(CMV.CC_Venda) as VLR_VENDA
		,SUM(CMV.CC_Imposto) as VLR_IMPOSTOS
		,SUM(CMV.VLR_CUSTO_MEDIO*CMV.CC_Qtde) AS CMV	
		,'Conta Cliente' as TIPO_VENDA
	FROM
		DW.[dbo].[CMV] as CMV
		LEFT JOIN BI.DBO.BI_CAD_PRODUTO AS CP
			ON CMV.COD_PRODUTO = CP.COD_PRODUTO
		LEFT JOIN BI.dbo.BI_CAD_SEMANA AS S
			ON CMV.DTA_CALCULO = S.DATA
	WHERE 1=1
		AND CONVERT(DATE,CMV.DTA_CALCULO) BETWEEN CONVERT(DATE,'20150101') AND CONVERT(DATE,GETDATE()-1)
		AND CMV.COD_PRODUTO NOT IN (1016980,1016982)
	GROUP BY 	
		CMV.COD_LOJA
		,YEAR(CMV.DTA_CALCULO)
		,MONTH(CMV.DTA_CALCULO)
		,CMV.COD_PRODUTO		
		,CMV.MARGEM_REF;
	
	SET @TEMPO = DATEDIFF(S,@DATA_INI_ROTINA,GETDATE())

	print 'CARGA BI LOG'
	EXEC BI.DBO.BI_LOG 
		@ID_ROTINA
		,@DATA_INI_ROTINA
		,@TEMPO
		,@PARAMETROS_ROTINA

end
