SELECT
	[COD_LOJA]
	,LEFT(dbo.ISO_WEEK(DATA),4) AS ANO
	,dbo.F_ISO_WEEK_OF_YEAR([DATA]) AS NR_SEMANA
	,1 AS TIPO
	,dbo.fn_FormataVlr_Excel(SUM([VLR_META])) AS [VLR_META]
FROM
	[BI].[dbo].[BI_VENDA_META]
WHERE
	CONVERT(DATE,DATA) >= CONVERT(DATE,'20140101')
GROUP BY
	[COD_LOJA]
	,LEFT(dbo.ISO_WEEK(DATA),4)
	,dbo.F_ISO_WEEK_OF_YEAR([DATA])
ORDER BY
	[COD_LOJA]
	,LEFT(dbo.ISO_WEEK(DATA),4)
	,dbo.F_ISO_WEEK_OF_YEAR([DATA])