select
	CC.NO_COMPRADOR
	,L.NO_LOJA
	,DR.ANO
	,DR.MES
	,BI.dbo.fn_FormataVlr_Excel(AVG(DPD)) AS AVG_DPD
	,BI.dbo.fn_FormataVlr_Excel(AVG(RUPTURA)) AS AVG_RUPTURA
from
	[BI].[dbo].[BI_DPD_PRODUTO_MES] AS DR
	INNER JOIN BI.dbo.BI_CAD_PRODUTO AS CP
		ON DR.COD_PRODUTO = CP.COD_PRODUTO
	INNER JOIN BI.dbo.COMPRAS_CAD_COMPRADOR AS CC
		ON CP.COD_USUARIO = CC.COD_USUARIO
	INNER JOIN BI.dbo.BI_CAD_LOJA2 AS L
		ON DR.COD_LOJA = L.COD_LOJA
WHERE 1=1
GROUP BY
	CC.NO_COMPRADOR
	,L.NO_LOJA
	,DR.ANO
	,DR.MES
ORDER BY
	CC.NO_COMPRADOR
	,L.NO_LOJA
	,DR.ANO
	,DR.MES