DECLARE @TAB_ENTRADA_FORN AS TABLE
(
	COD_FORNECEDOR INT
	,ANO INT
	,MES INT
	,VLR_ENTRADA NUMERIC(18,2)
)

INSERT INTO @TAB_ENTRADA_FORN 
	SELECT
		COD_FORNECEDOR
		,YEAR(DTA_ENTRADA)
		,MONTH(DTA_ENTRADA)
		,SUM([VAL_TABELA_LIQ]) AS VLR_ENTRADA
	FROM
		[dbZeus].[Zeus_rtg].[dbo].[vw_MARCHE_ENTRADAS] with(nolock)
	WHERE 1=1
		AND CONVERT(DATE,DTA_ENTRADA) >= CONVERT(DATE,'2014-01-01')
		AND CONVERT(DATE,DTA_ENTRADA) < CONVERT(DATE,'2016-07-31')
		AND COD_LOJA <> 5
	GROUP BY
		COD_FORNECEDOR
		,YEAR(DTA_ENTRADA)
		,MONTH(DTA_ENTRADA)
		
	UNION ALL
			
	SELECT
		COD_FORNECEDOR
		,YEAR(DTA_ENTRADA)
		,MONTH(DTA_ENTRADA)
		,SUM([VAL_TABELA_FINAL]*-1) AS VLR_ENTRADA
	FROM
		[DW].[dbo].[vw_MARCHE_ENTRADAS] with(nolock)
	WHERE 1=1
		AND CONVERT(DATE,DTA_ENTRADA) >= CONVERT(DATE,'2015-01-01')
		AND CONVERT(DATE,DTA_ENTRADA) < CONVERT(DATE,'2016-07-31')
		AND COD_LOJA = 5
	GROUP BY
		COD_FORNECEDOR
		,YEAR(DTA_ENTRADA)
		,MONTH(DTA_ENTRADA)
		
SELECT
	EF.COD_FORNECEDOR
	,CF.DESCRICAO
	,EF.ANO
	,EF.MES
	,BI.dbo.fn_FormataVlr_Excel(EF.VLR_ENTRADA) AS VLR_ENTRADA
	,CF.DESC_FINANC
FROM
	@TAB_ENTRADA_FORN AS EF
	INNER JOIN BI.dbo.BI_CAD_FORNECEDOR AS CF
		ON EF.COD_FORNECEDOR = CF.COD_FORNECEDOR


