UPDATE LM
SET
	LM.QTD_MAX_COMPRA = 9999
FROM
	[BI].[dbo].[COMPRAS_LIM_MAX_PRODUTO] AS LM
	INNER JOIN [BI].[dbo].[BI_CAD_FORNECEDOR_PRODUTO] AS FP
		ON LM.COD_PRODUTO = FP.COD_PRODUTO
WHERE 1=1
	AND FP.COD_FORNECEDOR = 14924
	AND COD_LOJA = 29