USE [BI]
GO
/****** Object:  StoredProcedure [dbo].[CARGA_BI_VENDA_CUPOM]    Script Date: 02/23/2016 16:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		VICTOR.ROSA
-- Create date: 23/02/2016
-- Description:	CARGA DE VENDAS RESTAURANTE
-- =============================================?
--EXEC BI.[dbo].[CARGA_BI_VENDA_CUPOM_RESTAURANTE] '20150519','20150601'
/*
declare @data_ini as date = getdate()-8
declare @data_fim as date = getdate()-1

EXEC BI.[dbo].[CARGA_BI_VENDA_CUPOM_RESTAURANTE]  @data_ini,@data_fim
*/
CREATE PROCEDURE [dbo].[CARGA_BI_VENDA_CUPOM_RESTAURANTE]
	@DT_INICIO DATE
	,@DT_TERMINO DATE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ID_ROTINA AS INT = 30
	DECLARE @DATA_INI_ROTINA AS DATETIME = GETDATE()
	DECLARE @TEMPO AS NUMERIC(18,2)
	DECLARE @PARAMETROS_ROTINA AS VARCHAR(150)
	SET @PARAMETROS_ROTINA = 
		'@DT_INICIO: ' + CONVERT(VARCHAR(10),@DT_INICIO)
		+ ' | @DT_TERMINO: ' + CONVERT(VARCHAR(10),@DT_TErmino)

	DELETE FROM [BI].[dbo].BI_VENDA_CUPOM
	WHERE 1 = 1
	AND COD_LOJA IN (8,26,33)
	AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
	
	DECLARE @TAB_VENDA_HORTUSR AS TABLE
	(
		[COD_LOJA] INT
	   ,[DATA] DATE
	   ,[QTDE_CUPOM] NUMERIC(18,2)
	   ,[VALOR_TOTAL] NUMERIC(18,2)
	   ,[CUPOM_MEDIO] NUMERIC(18,2)
	   ,TIPO INT
	)
	
	INSERT INTO @TAB_VENDA_HORTUSR
	SELECT
		8 AS COD_LOJA
		,CONVERT(DATE,DT_CUPOM)
		,COUNT(CUPOM)
		,SUM(VALOR_TOTAL_PRODUTOS)
		,AVG(VALOR_TOTAL_PRODUTOS)			
		,2 AS TIPO_VENDA
	FROM
		[DW].[dbo].[TAB_CHEFFSOLUTION_CUPOM]
	WHERE 1=1
		AND CONVERT(DATE,DT_CUPOM) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
		AND COD_LOJA = 26
	GROUP BY
		CONVERT(DATE,DT_CUPOM)
		
	INSERT INTO [BI].[dbo].BI_VENDA_CUPOM
			   ([COD_LOJA]
			   ,[DATA]
			   ,[QTDE_CUPOM]
			   ,[VALOR_TOTAL]
			   ,[CUPOM_MEDIO] 
			   ,TIPO)			
	SELECT
		COD_LOJA
		,[DATA]
		,SUM([QTDE_CUPOM])
		,SUM([VALOR_TOTAL])
		,AVG([CUPOM_MEDIO])			
		,TIPO
	FROM
		@TAB_VENDA_HORTUSR
	WHERE 1=1
		AND CONVERT(DATE,[DATA]) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
		AND COD_LOJA = 8
	GROUP BY
		COD_LOJA
		,[DATA]
		,TIPO
	
	INSERT INTO [BI].[dbo].BI_VENDA_CUPOM
			   ([COD_LOJA]
			   ,[DATA]
			   ,[QTDE_CUPOM]
			   ,[VALOR_TOTAL]
			   ,[CUPOM_MEDIO] 
			   ,TIPO)
	SELECT
		C.COD_LOJA
		,CONVERT(DATE,C.DT_CUPOM)
		,COUNT(C.CUPOM)
		,SUM(C.VALOR_TOTAL_PRODUTOS)
		,AVG(C.VALOR_TOTAL_PRODUTOS)			
		,C.COD_RESTAURANTE AS TIPO_VENDA
	FROM
		[DW].[dbo].[TAB_CHEFFSOLUTION_CUPOM] AS C
		LEFT JOIN
		(	
		SELECT DT_CUPOM, CUPOM, CAIXA
		FROM
			[DW].[dbo].[TAB_CHEFFSOLUTION_CUPOM] AS C
		WHERE 1=1
			AND CONVERT(DATE,DT_CUPOM) = convert(date,'20150824')
			AND C.COD_LOJA = 33
			and C.COD_RESTAURANTE = 102
			AND CUPOM IN (017614,017615,017616,017617,017619,017620,017625,017626)
		)AS CUPOM_ERRADO
		ON 1=1
		AND C.DT_CUPOM = CUPOM_ERRADO.DT_CUPOM
		AND C.CUPOM = CUPOM_ERRADO.CUPOM
		AND C.CAIXA = CUPOM_ERRADO.CAIXA
	WHERE 1=1
		AND CONVERT(DATE,C.DT_CUPOM) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
		AND C.COD_LOJA = 33
		and C.COD_LOJA not in (8,26)
		AND CUPOM_ERRADO.CUPOM IS NULL
	GROUP BY
		C.COD_LOJA
		,CONVERT(DATE,C.DT_CUPOM)
		,C.COD_RESTAURANTE	
	
	/*
	INSERT INTO [BI].[dbo].BI_VENDA_CUPOM
			   ([COD_LOJA]
			   ,[DATA]
			   ,[QTDE_CUPOM]
			   ,[VALOR_TOTAL]
			   ,[CUPOM_MEDIO] 
			   ,TIPO)
	SELECT
		8 AS [COD_LOJA] 
		,C.DATA AS [DATA] 
		,COUNT(DISTINCT C.NUMERO_CUPOM) AS [QTDE_CUPOM]
		,SUM(I.TOTAL) AS [VALOR_TOTAL]
		,AVG(I.TOTAL) AS [CUPOM_MEDIO]
		,2 AS TIPO
	FROM
		[192.168.0.6].Alltec.dbo.CUPONS_FISCAIS AS C
		INNER JOIN [192.168.0.6].Alltec.dbo.ITENS_CUPONS AS I
			ON 1=1
			AND C.COD_LOJA_ALLTEC = I.COD_LOJA_ALLTEC
			AND C.NUMERO_CUPOM = I.NUMERO_CUPOM
			AND CONVERT(DATE,C.DATA) = CONVERT(DATE,I.DATA)
	WHERE 1 = 1
		AND CONVERT(DATE,C.DATA) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
	GROUP BY
		C.DATA
	*/
	
	SET @TEMPO = DATEDIFF(S,@DATA_INI_ROTINA,GETDATE())

	EXEC BI.DBO.BI_LOG 
		@ID_ROTINA
		,@DATA_INI_ROTINA
		,@TEMPO
		,@PARAMETROS_ROTINA
	
END