USE [BI]
GO
/****** Object:  StoredProcedure [dbo].[CARGA_BI_VENDA_CUPOM]    Script Date: 02/23/2016 16:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		VICTOR.ROSA
-- Create date: 12/08/2014
-- Description:	CARGA DE VENDAS
-- =============================================?
--EXEC BI.[dbo].[CARGA_BI_VENDA_CUPOM] '20150519','20150601'
/*
declare @data_ini as date = getdate()-8
declare @data_fim as date = getdate()-1

EXEC BI.[dbo].[CARGA_BI_VENDA_CUPOM]  @data_ini,@data_fim
*/
ALTER PROCEDURE [dbo].[CARGA_BI_VENDA_CUPOM]
	@DT_INICIO DATE
	,@DT_TERMINO DATE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ID_ROTINA AS INT = 30
	DECLARE @DATA_INI_ROTINA AS DATETIME = GETDATE()
	DECLARE @TEMPO AS NUMERIC(18,2)
	DECLARE @PARAMETROS_ROTINA AS VARCHAR(150)
	SET @PARAMETROS_ROTINA = 
		'@DT_INICIO: ' + CONVERT(VARCHAR(10),@DT_INICIO)
		+ ' | @DT_TERMINO: ' + CONVERT(VARCHAR(10),@DT_TErmino)

	DELETE FROM [BI].[dbo].BI_VENDA_CUPOM
	WHERE 1 = 1
	AND COD_LOJA NOT IN (8,26,33)
	AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
	
	INSERT INTO [BI].[dbo].BI_VENDA_CUPOM
			   ([COD_LOJA]
			   ,[DATA]
			   ,[QTDE_CUPOM]
			   ,[VALOR_TOTAL]
			   ,[CUPOM_MEDIO] 
			   ,TIPO)	
	
	SELECT
		(CASE
			WHEN [COD_LOJA] = 4 THEN 23
			WHEN [COD_LOJA] = 10 THEN 22
			WHEN [COD_LOJA] = 19 THEN 24
			ELSE [COD_LOJA]
		END) AS [COD_LOJA]
		,DATA
		--,COUNT(CUPOM)
		,COUNT(DISTINCT CONVERT(VARCHAR,DATA,112)+ RIGHT('000'+ CONVERT(VARCHAR,COD_LOJA),3) + RIGHT('000'+ CONVERT(VARCHAR,CAIXA),3) + RIGHT('00000000'+ CONVERT(VARCHAR,CUPOM),8))
		,SUM(VALOR_TOTAL)
		,AVG(VALOR_TOTAL)
		,1
	FROM DW.DBO.BI_ANAL_MOVTO_CAIXA
	WHERE 1 = 1
		AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DT_INICIO) AND CONVERT(DATE,@DT_TERMINO)
		and COD_LOJA not in (8,26,33)
	GROUP BY
		(CASE
			WHEN [COD_LOJA] = 4 THEN 23
			WHEN [COD_LOJA] = 10 THEN 22
			WHEN [COD_LOJA] = 19 THEN 24
			ELSE [COD_LOJA]
		END)
		,DATA	
	
	SET @TEMPO = DATEDIFF(S,@DATA_INI_ROTINA,GETDATE())

	EXEC BI.DBO.BI_LOG 
		@ID_ROTINA
		,@DATA_INI_ROTINA
		,@TEMPO
		,@PARAMETROS_ROTINA
	
END