-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--
-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
DECLARE @TAB_RECEBIMENTO AS TABLE
(
	COD_FORNECEDOR INT
	,NUM_PEDIDO INT
	,COD_LOJA INT
	,DATA_RECEBIMENTO DATETIME
)
INSERT INTO @TAB_RECEBIMENTO
SELECT DISTINCT
	FORNECEDOR_COD
	,PEDIDO_NUMERO
	,COD_LOJA
	,CONVERT(DATE,DATA)
FROM
	[192.168.0.6].[INTRANET].[DBO].[TAB_RECEB_MERCADORIA]
WHERE 1 = 1
	AND CONVERT(DATE,DATA) >= CONVERT(DATE,'20140101')
	AND CONVERT(DATE,DATA) < CONVERT(DATE,'20140331')

SELECT
	dbo.ISO_WEEK(P.DTA_EMISSAO) as WEEK
	,CONVERT(DATE,P.DTA_EMISSAO) as DATA_RECEBIMENTO
	,CONVERT(DATE,P.DTA_ENTREGA) as DATA_RECEBIMENTO_PEDIDO
	,CONVERT(DATE,REC.DATA_RECEBIMENTO) as DATA_RECEBIMENTO
	,PED.[COD_LOJA]
	,PED.[COD_PARCEIRO] AS COD_FORNECEDOR
	,PED.[NUM_PEDIDO]
	,PED.[COD_PRODUTO]
	--,PED.[QTD_PEDIDO]
	--,PED.[QTD_EMBALAGEM]
	,dbo.fn_FormataVlr_Excel(PED.[QTD_PEDIDO]*PED.[QTD_EMBALAGEM]) AS QTD_PEDIDO
	,dbo.fn_FormataVlr_Excel(PED.[QTD_RECEBIDA])
	,dbo.fn_FormataVlr_Excel(PED.[QTD_DEVOL])
	,(CASE
		WHEN PED.[QTD_RECEBIDA] < ([QTD_PEDIDO]*PED.[QTD_EMBALAGEM]) THEN -1
		WHEN PED.[QTD_RECEBIDA] = ([QTD_PEDIDO]*PED.[QTD_EMBALAGEM]) THEN 0
		WHEN PED.[QTD_RECEBIDA] > ([QTD_PEDIDO]*PED.[QTD_EMBALAGEM]) THEN 1
	END) AS SCORE_REC
	,dbo.fn_FormataVlr_Excel(PED.[QTD_RECEBIDA]/([QTD_PEDIDO]*PED.[QTD_EMBALAGEM])) AS SCORE_REC_DETALHADO
	,(CASE
		WHEN CONVERT(DATE,P.DTA_ENTREGA) > CONVERT(DATE,REC.DATA_RECEBIMENTO) THEN -1
		WHEN CONVERT(DATE,P.DTA_ENTREGA) = CONVERT(DATE,REC.DATA_RECEBIMENTO) THEN 0
		WHEN CONVERT(DATE,P.DTA_ENTREGA) < CONVERT(DATE,REC.DATA_RECEBIMENTO) THEN 1
	END) AS SCORE_DATA
	,dbo.fn_FormataVlr_Excel(DATEDIFF(D,CONVERT(DATE,P.DTA_ENTREGA),CONVERT(DATE,REC.DATA_RECEBIMENTO))) AS SCORE_DATA_DETALHADO
	--,CF.DESCRICAO
	--,CF.ABC_FORN
FROM
	[192.168.0.6].[ZEUS_RTG].[DBO].[TAB_PEDIDO] AS P INNER JOIN [192.168.0.6].[ZEUS_RTG].[DBO].[TAB_PEDIDO_PRODUTO] AS PED ON (P.COD_PARCEIRO = PED.COD_PARCEIRO AND P.NUM_PEDIDO = PED.NUM_PEDIDO AND P.COD_LOJA = PED.COD_LOJA)	
		INNER JOIN @TAB_RECEBIMENTO AS REC ON (PED.COD_PARCEIRO = REC.COD_FORNECEDOR AND PED.NUM_PEDIDO = REC.NUM_PEDIDO AND PED.COD_LOJA = REC.COD_LOJA)
		--LEFT JOIN BI.DBO.BI_CAD_PRODUTO AS CP ON (PED.COD_PRODUTO = CP.COD_PRODUTO)
			--LEFT JOIN BI.DBO.BI_CAD_FORNECEDOR AS CF ON (PED.[COD_PARCEIRO] = CF.COD_FORNECEDOR)
WHERE 1 = 1
	AND PED.[QTD_PEDIDO] > 0
	AND CONVERT(DATE,P.DTA_EMISSAO) >= CONVERT(DATE,'20140101')
	AND CONVERT(DATE,P.DTA_EMISSAO) < CONVERT(DATE,'20140331')
ORDER BY
	dbo.ISO_WEEK(P.DTA_EMISSAO)
	,CONVERT(DATE,P.DTA_EMISSAO)
	,CONVERT(DATE,P.DTA_ENTREGA)
	,CONVERT(DATE,REC.DATA_RECEBIMENTO)
	,PED.[COD_LOJA]
	,PED.[COD_PARCEIRO]
	,PED.[NUM_PEDIDO]
	
/*
SELECT DATEDIFF(D,'20140331','20140330')
SELECT TOP 10 * FROM 	[192.168.0.6].[ZEUS_RTG].[DBO].[TAB_PEDIDO_PRODUTO]
SELECT TOP 10 * FROM [192.168.0.6].[ZEUS_RTG].[DBO].[TAB_PEDIDO]
SELECT TOP 10 * FROM 	bi_cad_fornecedor where descricao like '%pavao%'
-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--
-- ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/****** SCRIPT FOR SELECTTOPNROWS COMMAND FROM SSMS  ******/
SELECT TOP 1000 
[DATA]
,[FORNECEDOR_COD]
,[DAMFE]
,[PEDIDO_NUMERO]
,[NF_NUMERO]
,[COD_LOJA]
FROM [INTRANET].[DBO].[TAB_RECEB_MERCADORIA]
WHERE DATA>= '20140101'
--AND PEDIDO_NUMERO = 300215--308782
AND DAMFE = '35140100851567007001550020000520811001131759'


/****** SCRIPT FOR SELECTTOPNROWS COMMAND FROM SSMS  ******/
SELECT TOP 1000 
[NUM_PEDIDO]
,[COD_LOJA]
,[COD_PARCEIRO]
,[COD_PRODUTO]
,[QTD_PEDIDO]
,[QTD_EMBALAGEM]
,[QTD_PEDIDO]*[QTD_EMBALAGEM] AS QTD_PED_UN
,[QTD_RECEBIDA]
,[QTD_DEVOL]
FROM [ZEUS_RTG].[DBO].[TAB_PEDIDO_PRODUTO]
WHERE NUM_PEDIDO = 305610--308782
AND COD_LOJA = 1--7

*/
/*

SELECT TOP 20
FN.COD_FORNECEDOR
,FN.NUM_DANFE
,FN.NUM_NF_FORN
,FN.COD_LOJA
FROM
	TAB_FORNECEDOR_NOTA AS FN WITH (NOLOCK) INNER JOIN TAB_FORNECEDOR_PRODUTO AS FP WITH (NOLOCK)
		ON (FN.COD_FORNECEDOR = FP.COD_FORNECEDOR AND FN.NUM_NF_FORN = FP.NUM_NF_FORN AND FN.NUM_SERIE_NF = FP.NUM_SERIE_NF AND FN.COD_LOJA = FP.COD_LOJA)
	INNER JOIN TAB_PRODUTO AS PROD WITH (NOLOCK) ON (FP.COD_PRODUTO = PROD.COD_PRODUTO)
	INNER JOIN TAB_SECAO AS SEC WITH (NOLOCK) ON (PROD.COD_SECAO = SEC.COD_SECAO)
	INNER JOIN TAB_GRUPO AS GRU WITH (NOLOCK) ON (SEC.COD_SECAO = GRU.COD_SECAO AND PROD.COD_GRUPO = GRU.COD_GRUPO)
	INNER JOIN TAB_FORNECEDOR AS FORN WITH (NOLOCK) ON (FN.COD_FORNECEDOR = FORN.COD_FORNECEDOR AND FP.COD_FORNECEDOR = FORN.COD_FORNECEDOR)
WHERE 1 = 1
--AND FN.DTA_EMISSAO >= '20140101'
--AND FLG_IMINENTE = 'N'
and fn.num_danfe = '35140100851567007001550020000520811001131759'
--AND COD_FISCAL NOT IN (42, 121)  -- NOTA FISCAL DE CANCELAMENTO



SELECT * FROM [INTRANET].[DBO].[TAB_RECEB_MERCADORIA]

SELECT
PEDIDO_NUMERO
,COUNT(DAMFE)
FROM [INTRANET].[DBO].[TAB_RECEB_MERCADORIA]
WHERE DATA>= '20140101' AND DATA< '20140104'

GROUP BY
	PEDIDO_NUMERO
HAVING
COUNT(DAMFE) > 1

*/
