DELETE FROM [BI].[dbo].[BI_VENDA_GRUPO]
WHERE 1=1
	AND CONVERT(DATE,DATA) >= CONVERT(DATE,GETDATE()-7);

INSERT INTO [BI].[DBO].[BI_VENDA_GRUPO]
SELECT
	VP.[COD_LOJA]
	,VP.[DATA]
	,DEP.[COD_DEPARTAMENTO]
	,CP.[COD_SECAO]
	,CP.[COD_GRUPO]
	,SUM(VP.[VALOR_TOTAL]) AS [VLR_VENDA]
	,SUM(VP.[QTDE_PRODUTO]) AS [QTD_VENDA]
FROM
	[BI].[DBO].[BI_VENDA_PRODUTO] AS VP INNER JOIN [BI].[DBO].[BI_CAD_PRODUTO] AS CP ON (VP.COD_PRODUTO = CP.COD_PRODUTO)
		LEFT JOIN [BI].[DBO].[BI_CAD_DEPARTAMENTO] AS DEP ON (CP.COD_SECAO = DEP.COD_SECAO)
WHERE 1 = 1
	AND CONVERT(DATE,DATA) >= CONVERT(DATE,GETDATE()-7)
	AND CONVERT(DATE,DATA) < CONVERT(DATE,GETDATE())
GROUP BY
	VP.[COD_LOJA]
	,VP.[DATA]
	,DEP.[COD_DEPARTAMENTO]
	,CP.[COD_SECAO]
	,CP.[COD_GRUPO]
ORDER BY
	VP.[COD_LOJA]
	,VP.[DATA]
	,DEP.[COD_DEPARTAMENTO]
	,CP.[COD_SECAO]
	,CP.[COD_GRUPO];