/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [COD_DEPARTAMENTO]
      ,[NO_DEPARTAMENTO]
      ,[COD_SECAO]
      ,[NO_SECAO]
      ,[COD_GRUPO]
      ,[NO_GRUPO]
  FROM [BI].[dbo].[BI_CAD_GRUPO]
  
  
 
insert into [BI].[dbo].[BI_CAD_GRUPO]
SELECT distinct
	CD.[COD_DEPARTAMENTO]
	,CD.[NO_DEPARTAMENTO]
	,CD.[COD_SECAO]
	,CD.[NO_SECAO]
	,G.[COD_GRUPO]
	,G.DES_GRUPO AS [NO_GRUPO]
FROM
	BI.dbo.BI_CAD_DEPARTAMENTO AS CD INNER JOIN [192.168.0.6].ZEUS_RTG.DBO.TAB_GRUPO AS G ON (CD.COD_SECAO = G.COD_SECAO)