SELECT
	MP.[COD_LOJA]
	,MP.[ANO]
	,MP.[MES]
	,FP.[COD_FORNECEDOR]
	,BI.dbo.fn_FormataVlr_Excel(SUM(MP.[LUCRO_BRUTO])) as [LUCRO_BRUTO]
	,BI.dbo.fn_FormataVlr_Excel(SUM(MP.[VLR_VENDA])) as [VLR_VENDA]
	,BI.dbo.fn_FormataVlr_Excel(SUM(MP.[VLR_AJUSTE])) as [VLR_AJUSTE]
	,BI.dbo.fn_FormataVlr_Excel((SUM(MP.[LUCRO_BRUTO])+SUM(MP.[VLR_AJUSTE]))/SUM(MP.[VLR_VENDA])) AS VLR_MRG
FROM
	[BI].[dbo].[BI_MARGEM_PRODUTO_MES] AS MP
	INNER JOIN BI.dbo.BI_CAD_FORNECEDOR_PRODUTO AS FP
		ON MP.COD_PRODUTO = FP.COD_PRODUTO
WHERE 1 = 1
	AND FP.COD_FORNECEDOR = 102331
GROUP BY
	MP.[COD_LOJA]
	,MP.[ANO]
	,MP.[MES]
	,FP.[COD_FORNECEDOR]
ORDER BY
	MP.[COD_LOJA]
	,MP.[ANO]
	,MP.[MES]
	,FP.[COD_FORNECEDOR]