
TRUNCATE TABLE [BI].[dbo].[BI_PRECO_VENDA_SIMILAR];

-- -----------------------------------------------------------
-- EXPLODE PRODUTOS SIMILARES
-- -----------------------------------------------------------
DECLARE @TAB_PRECO_VENDA_1 AS TABLE
(
	[COD_LOJA] [int],
	[COD_PRODUTO_V] [int],
	[COD_PRODUTO_S] [int],
	[COD_PRODUTO_SS] [int],
	[TIPO] [int],
	[DTA_INI] [date],
	[DTA_FIM] [date],
	[DESCRICAO] [varchar](50),
	[VALOR] [float],
	[RECID] [int],
	[DTA_GRAVACAO] [datetime],
	[Ativo] [bit],
	[COD_USUARIO] [int],
	[DESCRICAO_CURTA] [varchar](50),
	[APLICA_SIMILAR] [bit]
);

INSERT INTO @TAB_PRECO_VENDA_1
SELECT  DISTINCT
	V.[COD_LOJA]
	,V.COD_PRODUTO
	,SS.COD_PRODUTO
	,(CASE WHEN SS.[COD_PRODUTO] IS NULL THEN V.[COD_PRODUTO] ELSE SS.[COD_PRODUTO] END) AS COD_PRODUTO
	,V.[TIPO]
	,V.[DTA_INI]
	,V.[DTA_FIM]
	,V.[DESCRICAO]
	,V.[VALOR]
	,V.[RECID]
	,V.[DTA_GRAVACAO]
	,V.[Ativo]
	,(CASE WHEN V.[COD_USUARIO] IS NULL THEN 999 ELSE V.[COD_USUARIO] END)
	,V.[DESCRICAO_CURTA]
	,V.[APLICA_SIMILAR]
FROM
	[BI].[dbo].[BI_PRECO_VENDA] V LEFT JOIN [BI].[dbo].[CADASTRO_DEPARA_PRODUTO_SIMILAR] S ON (V.COD_PRODUTO = S.COD_PRODUTO)
		LEFT JOIN [BI].[dbo].[CADASTRO_DEPARA_PRODUTO_SIMILAR] SS ON (S.COD_PRODUTO_SIMILAR = SS.COD_PRODUTO_SIMILAR)
WHERE 1 = 1
	AND V.APLICA_SIMILAR = 1
	AND V.COD_PRODUTO = 62;

INSERT INTO [BI].[dbo].[BI_PRECO_VENDA_SIMILAR]
SELECT DISTINCT
	[COD_LOJA],
	[COD_PRODUTO_SS],
	[TIPO],
	[DTA_INI],
	[DTA_FIM],
	[DESCRICAO],
	[VALOR],
	[RECID],
	[DTA_GRAVACAO],
	[Ativo],
	[COD_USUARIO],
	[DESCRICAO_CURTA],
	[APLICA_SIMILAR]
FROM
	@TAB_PRECO_VENDA_1;

-- -----------------------------------------------------------
-- OFERTA PRODUTOS NÃO SIMILARES
-- -----------------------------------------------------------
DECLARE @TAB_PRECO_VENDA_0 AS TABLE
(
	[COD_LOJA] [int],
	[COD_PRODUTO_V] [int],
	[TIPO] [int],
	[DTA_INI] [date],
	[DTA_FIM] [date],
	[DESCRICAO] [varchar](50),
	[VALOR] [float],
	[RECID] [int],
	[DTA_GRAVACAO] [datetime],
	[Ativo] [bit],
	[COD_USUARIO] [int],
	[DESCRICAO_CURTA] [varchar](50),
	[APLICA_SIMILAR] [bit]
);

INSERT INTO @TAB_PRECO_VENDA_0
SELECT  DISTINCT
	V.[COD_LOJA]
	,V.COD_PRODUTO
	,V.[TIPO]
	,V.[DTA_INI]
	,V.[DTA_FIM]
	,V.[DESCRICAO]
	,V.[VALOR]
	,V.[RECID]
	,V.[DTA_GRAVACAO]
	,V.[Ativo]
	,(CASE WHEN V.[COD_USUARIO] IS NULL THEN 999 ELSE V.[COD_USUARIO] END)
	,V.[DESCRICAO_CURTA]
	,V.[APLICA_SIMILAR]
FROM
	[BI].[dbo].[BI_PRECO_VENDA] V 
WHERE 1 = 1
	AND V.APLICA_SIMILAR = 0
	AND NOT EXISTS (SELECT COD_PRODUTO FROM [BI].[dbo].[BI_PRECO_VENDA_SIMILAR] AS TVS WHERE TVS.COD_PRODUTO = V.COD_PRODUTO AND TVS.COD_LOJA = V.COD_LOJA);

-- -----------------------------------------------------------
-- PRODUTOS COM OFERTA DIFERENTES DA EXPLOSÃO DO SIMILAR
-- -----------------------------------------------------------
DECLARE @TAB_PRECO_VENDA_PRIORIDADE AS TABLE
(
	[COD_LOJA] [int],
	[COD_PRODUTO_V] [int],
	[TIPO] [int],
	[DTA_INI] [date],
	[DTA_FIM] [date],
	[DESCRICAO] [varchar](50),
	[VALOR] [float],
	[RECID] [int],
	[DTA_GRAVACAO] [datetime],
	[Ativo] [bit],
	[COD_USUARIO] [int],
	[DESCRICAO_CURTA] [varchar](50),
	[APLICA_SIMILAR] [bit]
);

INSERT INTO @TAB_PRECO_VENDA_PRIORIDADE
SELECT  DISTINCT
	V.[COD_LOJA]
	,V.COD_PRODUTO
	,V.[TIPO]
	,V.[DTA_INI]
	,V.[DTA_FIM]
	,V.[DESCRICAO]
	,V.[VALOR]
	,V.[RECID]
	,V.[DTA_GRAVACAO]
	,V.[Ativo]
	,(CASE WHEN V.[COD_USUARIO] IS NULL THEN 999 ELSE V.[COD_USUARIO] END)
	,V.[DESCRICAO_CURTA]
	,V.[APLICA_SIMILAR]
FROM
	[BI].[dbo].[BI_PRECO_VENDA] V 
WHERE 1 = 1
	AND V.APLICA_SIMILAR = 0
	AND EXISTS (SELECT COD_PRODUTO FROM [BI].[dbo].[BI_PRECO_VENDA_SIMILAR] AS TVS WHERE TVS.COD_PRODUTO = V.COD_PRODUTO AND TVS.COD_LOJA = V.COD_LOJA);

UPDATE PVS
SET
	PVS.[TIPO] = TPVP.[TIPO],
	PVS.[DTA_INI] = TPVP.[DTA_INI],
	PVS.[DTA_FIM] = TPVP.[DTA_FIM],
	PVS.[DESCRICAO] = TPVP.[DESCRICAO],
	PVS.[VALOR] = TPVP.[VALOR],
	PVS.[Ativo] = TPVP.[Ativo],
	PVS.[COD_USUARIO] = TPVP.[COD_USUARIO],
	PVS.[DESCRICAO_CURTA] = TPVP.[DESCRICAO_CURTA]
FROM
	[BI].[dbo].[BI_PRECO_VENDA_SIMILAR] AS PVS INNER JOIN @TAB_PRECO_VENDA_PRIORIDADE AS TPVP ON (PVS.COD_LOJA = TPVP.COD_LOJA AND PVS.COD_PRODUTO = TPVP.COD_PRODUTO_V);


SELECT * FROM [BI].[dbo].[BI_PRECO_VENDA_SIMILAR];