DECLARE @TAB_VCUPOM AS TABLE
(
	[COD_LOJA] INT
	,[DATA] DATE
	,[HORA] INT
	,[CUPOM_HASH] VARCHAR(22)
	,[VLR_VENDA] NUMERIC(18,2)
)

INSERT INTO @TAB_VCUPOM
	SELECT
		C.[COD_LOJA]
		,C.[DATA]
		,C.[HORA]
		,C.[CUPOM_HASH]
		,SUM(VLR_CUPOM)	
	FROM
		[BI].[dbo].[BI_VENDA_CUPOM_CAPA] AS C
	WHERE 1 = 1
		AND C.[COD_LOJA] = 7
		AND CONVERT(DATE,C.DATA) BETWEEN CONVERT(DATE,'20150209') AND CONVERT(DATE,'20150503')
	GROUP BY
		C.[COD_LOJA]
		,C.[DATA]
		,C.[HORA]
		,C.[CUPOM_HASH]

SELECT
	[COD_LOJA]
	,datepart(dw,[DATA]) AS dia_SEMANA
	,(CASE
		WHEN HORA >= 0 AND HORA < 1200 THEN '1 - Manha'
		WHEN HORA >= 1200 AND HORA < 1700 THEN '2 - Tarde'
		WHEN HORA >= 1700 THEN '3 - Noite'
	END) AS HORA
	,COUNT(CUPOM_HASH)/12 AS QTD_CUPOM
FROM
	@TAB_VCUPOM
GROUP BY
	[COD_LOJA]
	,datepart(dw,[DATA])
	,(CASE
		WHEN HORA >= 0 AND HORA < 1200 THEN '1 - Manha'
		WHEN HORA >= 1200 AND HORA < 1700 THEN '2 - Tarde'
		WHEN HORA >= 1700 THEN '3 - Noite'
	END)
ORDER BY
	1,2,3
	
--select datepart(dw,GETDATE())