DECLARE @TAB_VCUPOM AS TABLE
(
	[COD_LOJA] INT
	,[DATA] DATE
	,[HORA] INT
	,[CUPOM_HASH] VARCHAR(22)
	,[VLR_VENDA] NUMERIC(18,2)
)

INSERT INTO @TAB_VCUPOM
	SELECT
		[COD_LOJA]
		,[DATA]
		,[HORA]
		,[CUPOM_HASH]
		,SUM([VLR_VENDA])	
	FROM
		[BI].[dbo].[BI_VENDA_CUPOM_PRODUTO]
	WHERE 1 = 1
		AND [COD_LOJA] = 2
		AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,'20140601') AND CONVERT(DATE,'20141012')
	GROUP BY
		[COD_LOJA]
		,[DATA]
		,[HORA]
		,[CUPOM_HASH]

SELECT
	[COD_LOJA]
	,BI.dbo.F_ISO_WEEK_OF_YEAR([DATA]) AS SEMANA
	,(CASE
		WHEN HORA >= 0 AND HORA < 100 THEN '0'
		WHEN HORA >= 100 AND HORA < 200 THEN '1'
		WHEN HORA >= 200 AND HORA < 300 THEN '2'
		WHEN HORA >= 300 AND HORA < 400 THEN '3'
		WHEN HORA >= 400 AND HORA < 500 THEN '4'
		WHEN HORA >= 500 AND HORA < 600 THEN '5'
		WHEN HORA >= 600 AND HORA < 700 THEN '6'
		WHEN HORA >= 700 AND HORA < 800 THEN '7'
		WHEN HORA >= 800 AND HORA < 900 THEN '8'
		WHEN HORA >= 900 AND HORA < 1000 THEN '9'
		WHEN HORA >= 1000 AND HORA < 1100 THEN '10'
		WHEN HORA >= 1100 AND HORA < 1200 THEN '11'
		WHEN HORA >= 1200 AND HORA < 1300 THEN '12'
		WHEN HORA >= 1300 AND HORA < 1400 THEN '13'
		WHEN HORA >= 1400 AND HORA < 1500 THEN '14'
		WHEN HORA >= 1500 AND HORA < 1600 THEN '15'
		WHEN HORA >= 1600 AND HORA < 1700 THEN '16'
		WHEN HORA >= 1700 AND HORA < 1800 THEN '17'
		WHEN HORA >= 1800 AND HORA < 1900 THEN '18'
		WHEN HORA >= 1900 AND HORA < 2000 THEN '19'
		WHEN HORA >= 2000 AND HORA < 2100 THEN '20'
		WHEN HORA >= 2100 AND HORA < 2200 THEN '21'
		WHEN HORA >= 2200 AND HORA < 2300 THEN '22'
		WHEN HORA >= 2300 AND HORA < 2400 THEN '23'
		WHEN HORA >= 2400 THEN '24'
	END) AS HORA
	,(CASE
		WHEN [VLR_VENDA] > 0 AND [VLR_VENDA] <= 5 THEN '000-005'
		WHEN [VLR_VENDA] > 5 AND [VLR_VENDA] <= 10 THEN '005-010'
		WHEN [VLR_VENDA] > 10 AND [VLR_VENDA] <= 15 THEN '010-015'
		WHEN [VLR_VENDA] > 15 AND [VLR_VENDA] <= 20 THEN '015-020'
		WHEN [VLR_VENDA] > 20 AND [VLR_VENDA] <= 25 THEN '020-025'
		WHEN [VLR_VENDA] > 25 AND [VLR_VENDA] <= 30 THEN '025-030'
		WHEN [VLR_VENDA] > 30 AND [VLR_VENDA] <= 40 THEN '030-040'
		WHEN [VLR_VENDA] > 40 AND [VLR_VENDA] <= 50 THEN '040-050'
		WHEN [VLR_VENDA] > 50 AND [VLR_VENDA] <= 60 THEN '050-060'
		WHEN [VLR_VENDA] > 60 AND [VLR_VENDA] <= 70 THEN '060-070'
		WHEN [VLR_VENDA] > 70 AND [VLR_VENDA] <= 80 THEN '070-080'
		WHEN [VLR_VENDA] > 80 AND [VLR_VENDA] <= 90 THEN '080-090'
		WHEN [VLR_VENDA] > 90 AND [VLR_VENDA] <= 100 THEN '090-100'		
		WHEN [VLR_VENDA] > 100 AND [VLR_VENDA] <= 150 THEN '100-150'
		WHEN [VLR_VENDA] > 150 AND [VLR_VENDA] <= 200 THEN '150-200'
		WHEN [VLR_VENDA] > 200 THEN '200-+++'		
	END) AS FAIXA_PRECO
	,COUNT(CUPOM_HASH) AS QTD_CUPOM
FROM
	@TAB_VCUPOM
GROUP BY
	[COD_LOJA]
	,BI.dbo.F_ISO_WEEK_OF_YEAR([DATA])
	,(CASE
		WHEN HORA >= 0 AND HORA < 100 THEN '0'
		WHEN HORA >= 100 AND HORA < 200 THEN '1'
		WHEN HORA >= 200 AND HORA < 300 THEN '2'
		WHEN HORA >= 300 AND HORA < 400 THEN '3'
		WHEN HORA >= 400 AND HORA < 500 THEN '4'
		WHEN HORA >= 500 AND HORA < 600 THEN '5'
		WHEN HORA >= 600 AND HORA < 700 THEN '6'
		WHEN HORA >= 700 AND HORA < 800 THEN '7'
		WHEN HORA >= 800 AND HORA < 900 THEN '8'
		WHEN HORA >= 900 AND HORA < 1000 THEN '9'
		WHEN HORA >= 1000 AND HORA < 1100 THEN '10'
		WHEN HORA >= 1100 AND HORA < 1200 THEN '11'
		WHEN HORA >= 1200 AND HORA < 1300 THEN '12'
		WHEN HORA >= 1300 AND HORA < 1400 THEN '13'
		WHEN HORA >= 1400 AND HORA < 1500 THEN '14'
		WHEN HORA >= 1500 AND HORA < 1600 THEN '15'
		WHEN HORA >= 1600 AND HORA < 1700 THEN '16'
		WHEN HORA >= 1700 AND HORA < 1800 THEN '17'
		WHEN HORA >= 1800 AND HORA < 1900 THEN '18'
		WHEN HORA >= 1900 AND HORA < 2000 THEN '19'
		WHEN HORA >= 2000 AND HORA < 2100 THEN '20'
		WHEN HORA >= 2100 AND HORA < 2200 THEN '21'
		WHEN HORA >= 2200 AND HORA < 2300 THEN '22'
		WHEN HORA >= 2300 AND HORA < 2400 THEN '23'
		WHEN HORA >= 2400 THEN '24'
	END)
	,(CASE
		WHEN [VLR_VENDA] > 0 AND [VLR_VENDA] <= 5 THEN '000-005'
		WHEN [VLR_VENDA] > 5 AND [VLR_VENDA] <= 10 THEN '005-010'
		WHEN [VLR_VENDA] > 10 AND [VLR_VENDA] <= 15 THEN '010-015'
		WHEN [VLR_VENDA] > 15 AND [VLR_VENDA] <= 20 THEN '015-020'
		WHEN [VLR_VENDA] > 20 AND [VLR_VENDA] <= 25 THEN '020-025'
		WHEN [VLR_VENDA] > 25 AND [VLR_VENDA] <= 30 THEN '025-030'
		WHEN [VLR_VENDA] > 30 AND [VLR_VENDA] <= 40 THEN '030-040'
		WHEN [VLR_VENDA] > 40 AND [VLR_VENDA] <= 50 THEN '040-050'
		WHEN [VLR_VENDA] > 50 AND [VLR_VENDA] <= 60 THEN '050-060'
		WHEN [VLR_VENDA] > 60 AND [VLR_VENDA] <= 70 THEN '060-070'
		WHEN [VLR_VENDA] > 70 AND [VLR_VENDA] <= 80 THEN '070-080'
		WHEN [VLR_VENDA] > 80 AND [VLR_VENDA] <= 90 THEN '080-090'
		WHEN [VLR_VENDA] > 90 AND [VLR_VENDA] <= 100 THEN '090-100'		
		WHEN [VLR_VENDA] > 100 AND [VLR_VENDA] <= 150 THEN '100-150'
		WHEN [VLR_VENDA] > 150 AND [VLR_VENDA] <= 200 THEN '150-200'
		WHEN [VLR_VENDA] > 200 THEN '200-+++'	
		
	END)
ORDER BY
	1,2,3,4