SELECT
	[M00AF] AS DATA
	,[M00ZA] AS COD_LOJA
	,[M02AI] AS COD_FINALIZADORA
	,F.DESCRICAO
	,SUM([M02AK]) AS VLR_VENDA
FROM
	[ZEUSRETAIL].[DBO].[ZAN_M02] AS V INNER JOIN [ZEUSRETAIL].[DBO].[TAB_FINALIZADORA] AS F ON (V.M00ZA = F.COD_LOJA AND V.M02AI = F.COD_FINALIZADORA)
WHERE 1 = 1
	AND CONVERT(DATE,[M00AF]) >= CONVERT(DATE,'20131201')
	AND CONVERT(DATE,[M00AF]) < CONVERT(DATE,'20131226')
GROUP BY
	[M00AF]
	,[M00ZA]
	,[M02AI]
	,F.DESCRICAO
ORDER BY
	[M00AF]
	,[M00ZA]