SET NOCOUNT ON;

DECLARE @TAB_ENTRADAS AS TABLE
(
	COD_LOJA INT
	,ANO INT 
	,MES INT
	,VLR_ENTRADA NUMERIC(18,2)
)

INSERT INTO @TAB_ENTRADAS
SELECT
	EP.COD_LOJA
	,YEAR(EP.DATA)
	,MONTH(EP.DATA)
	,SUM(EP.VLR_ENTRADA)
FROM
	BI.DBO.BI_ENTRADA_PRODUTO AS EP
	INNER JOIN BI.dbo.BI_CAD_PRODUTO AS CP
		ON EP.COD_PRODUTO = CP.COD_PRODUTO
WHERE 1=1
	AND CP.COD_DEPARTAMENTO IN (15)
	AND CP.COD_SECAO IN (37)
	AND CP.COD_GRUPO IN (2)
	AND CP.COD_SUB_GRUPO IN (8)
	AND CONVERT(DATE,EP.DATA) >= CONVERT(DATE,'2016-01-01')
GROUP BY
	EP.COD_LOJA
	,YEAR(EP.DATA)
	,MONTH(EP.DATA)

SELECT
	CM.COD_LOJA
	,CM.ANO
	,CM.MES
	,BI.dbo.fn_FormataVlr_Excel(CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA) AS VLR_BP
	,BI.dbo.fn_FormataVlr_Excel(TA.VLR_ENTRADA) AS VLR_REAL	
	,BI.dbo.fn_FormataVlr_Excel((CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA) - TA.VLR_ENTRADA) AS [Δ]
	,BI.dbo.fn_FormataVlr_Excel((TA.VLR_ENTRADA/(CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA))-1) AS [%Δ]
FROM
	BI.dbo.BI_COMPRA_META AS CM
	LEFT JOIN @TAB_ENTRADAS AS TA
		ON 1=1
		AND TA.COD_LOJA = CM.COD_LOJA
		AND TA.ANO = CM.ANO
		AND TA.MES = CM.MES
WHERE 1=1
	AND CM.MES = MONTH(GETDATE())
	
/*
SELECT
	CM.COD_LOJA
	,CM.ANO
	,(CASE
		WHEN CM.MES IN (1,2,3) THEN '1º Trim'
		WHEN CM.MES IN (4,5,6) THEN '2º Trim'
		WHEN CM.MES IN (7,8,9) THEN '3º Trim'
		WHEN CM.MES IN (10,11,12) THEN '4º Trim'
	END) AS TRIM
	,BI.dbo.fn_FormataVlr_Excel(SUM(CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA)) AS VLR_BP
	,BI.dbo.fn_FormataVlr_Excel(SUM(TA.VLR_ENTRADA)) AS VLR_REAL	
	,BI.dbo.fn_FormataVlr_Excel(SUM(CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA) - SUM(TA.VLR_ENTRADA)) AS [Δ]
	,BI.dbo.fn_FormataVlr_Excel((SUM(TA.VLR_ENTRADA)/SUM(CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA))-1) AS [%Δ]	
FROM
	BI.dbo.BI_COMPRA_META AS CM
	LEFT JOIN @TAB_ENTRADAS AS TA
		ON 1=1
		AND TA.COD_LOJA = CM.COD_LOJA
		AND TA.ANO = CM.ANO
		AND TA.MES = CM.MES
WHERE 1=1
	--AND CM.MES = MONTH(GETDATE())
GROUP BY
	CM.COD_LOJA
	,CM.ANO
	,(CASE
		WHEN CM.MES IN (1,2,3) THEN '1º Trim'
		WHEN CM.MES IN (4,5,6) THEN '2º Trim'
		WHEN CM.MES IN (7,8,9) THEN '3º Trim'
		WHEN CM.MES IN (10,11,12) THEN '4º Trim'
	END)
*/



--select distinct COD_DEPARTAMENTO, NO_DEPARTAMENTO, COD_SECAO, NO_SECAO, COD_GRUPO, NO_GRUPO, COD_SUB_GRUPO, NO_SUBGRUPO from bi_cad_produto where cod_departamento = 15 and COD_SECAO = 37