		SET NOCOUNT ON;
		DECLARE @TAB_ENTRADAS AS TABLE
		(
			COD_LOJA INT
			,ANO INT 
			,MES INT
			,VLR_ENTRADA NUMERIC(18,2)
		)

		INSERT INTO @TAB_ENTRADAS
		SELECT
			EP.COD_LOJA
			,YEAR(EP.DATA)
			,MONTH(EP.DATA)
			,SUM(EP.VLR_ENTRADA)
		FROM
			BI.DBO.BI_ENTRADA_PRODUTO AS EP
			INNER JOIN BI.dbo.BI_CAD_PRODUTO AS CP
				ON EP.COD_PRODUTO = CP.COD_PRODUTO
		WHERE 1=1
			AND CP.COD_DEPARTAMENTO IN (15)
			--AND CP.COD_SECAO IN (37)
			--AND CP.COD_GRUPO IN (2)
			--AND CP.COD_SUB_GRUPO IN (8)
			AND CONVERT(DATE,EP.DATA) >= CONVERT(DATE,'2016-01-01')
		GROUP BY
			EP.COD_LOJA
			,YEAR(EP.DATA)
			,MONTH(EP.DATA)
		
		DECLARE @TAB_AUDITORIA_INSUMO AS TABLE
		(
			COD_LOJA INT
			,ANO INT 
			,MES INT
			,VLR_BP NUMERIC(18,2)
			,VLR_REAL NUMERIC(18,2)
			,DELTA_VLR NUMERIC(18,2)
			,DELTA_PERC NUMERIC(18,2)
			,TRIMESTRE VARCHAR(20)
			,VLR_BP_TRI NUMERIC(18,2)
			,VLR_REAL_TRI NUMERIC(18,2)
			,DELTA_VLR_TRI NUMERIC(18,2)
			,DELTA_PERC_TRI NUMERIC(18,2)
		)
		
		INSERT INTO @TAB_AUDITORIA_INSUMO (COD_LOJA,ANO,MES,VLR_BP,VLR_REAL,DELTA_VLR,DELTA_PERC)	
			SELECT
				CM.COD_LOJA
				,CM.ANO
				,CM.MES
				,CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA AS VLR_BP
				,TA.VLR_ENTRADA AS VLR_REAL	
				,(CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA) - TA.VLR_ENTRADA AS [Δ]
				,(TA.VLR_ENTRADA/(CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA))-1 AS [%Δ]
			FROM
				BI.dbo.BI_COMPRA_META AS CM
				LEFT JOIN @TAB_ENTRADAS AS TA
					ON 1=1
					AND TA.COD_LOJA = CM.COD_LOJA
					AND TA.ANO = CM.ANO
					AND TA.MES = CM.MES
			WHERE 1=1
				AND CM.MES = MONTH(GETDATE()-1)-1
	
		UPDATE @TAB_AUDITORIA_INSUMO SET TRIMESTRE = 
			(CASE
				WHEN MES IN (1,2,3) THEN '1º Trim'
				WHEN MES IN (4,5,6) THEN '2º Trim'
				WHEN MES IN (7,8,9) THEN '3º Trim'
				WHEN MES IN (10,11,12) THEN '4º Trim'
			END)
		
		DECLARE @TAB_AUDITORIA_TRIMESTRE AS TABLE
		(
			COD_LOJA INT
			,ANO INT 
			,TRIMESTRE VARCHAR(20)
			,VLR_BP_TRI NUMERIC(18,2)
			,VLR_REAL_TRI NUMERIC(18,2)
			,DELTA_VLR_TRI NUMERIC(18,2)
			,DELTA_PERC_TRI NUMERIC(18,2)
		)
		
		INSERT INTO @TAB_AUDITORIA_TRIMESTRE			
			SELECT
				CM.COD_LOJA
				,CM.ANO
				,(CASE
					WHEN CM.MES IN (1,2,3) THEN '1º Trim'
					WHEN CM.MES IN (4,5,6) THEN '2º Trim'
					WHEN CM.MES IN (7,8,9) THEN '3º Trim'
					WHEN CM.MES IN (10,11,12) THEN '4º Trim'
				END) AS TRIM
				,SUM(CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA) AS VLR_BP
				,SUM(TA.VLR_ENTRADA) AS VLR_REAL	
				,SUM(CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA) - SUM(TA.VLR_ENTRADA) AS [Δ]
				,(SUM(TA.VLR_ENTRADA)/SUM(CM.VLR_CONSUMABLES+CM.VLR_MATERIAL_LIMPEZA))-1 AS [%Δ]	
			FROM
				BI.dbo.BI_COMPRA_META AS CM
				LEFT JOIN @TAB_ENTRADAS AS TA
					ON 1=1
					AND TA.COD_LOJA = CM.COD_LOJA
					AND TA.ANO = CM.ANO
					AND TA.MES = CM.MES
			WHERE 1=1
				--AND CM.MES = MONTH(GETDATE())
			GROUP BY
				CM.COD_LOJA
				,CM.ANO
				,(CASE
					WHEN CM.MES IN (1,2,3) THEN '1º Trim'
					WHEN CM.MES IN (4,5,6) THEN '2º Trim'
					WHEN CM.MES IN (7,8,9) THEN '3º Trim'
					WHEN CM.MES IN (10,11,12) THEN '4º Trim'
				END)
		
		UPDATE AI
		SET
			AI.VLR_BP_TRI = AT.VLR_BP_TRI
			,AI.VLR_REAL_TRI = AT.VLR_REAL_TRI
			,AI.DELTA_VLR_TRI = AT.DELTA_VLR_TRI
			,AI.DELTA_PERC_TRI = AT.DELTA_PERC_TRI
		FROM
			@TAB_AUDITORIA_INSUMO AS AI
			INNER JOIN @TAB_AUDITORIA_TRIMESTRE AS AT
				ON 1=1
				AND AI.COD_LOJA = AT.COD_LOJA
				AND AI.ANO = AT.ANO
				AND AI.TRIMESTRE = AT.TRIMESTRE
		
		SELECT
			COD_LOJA
			,ANO
			,MES
			,VLR_BP
			,VLR_REAL
			,DELTA_VLR
			,DELTA_PERC
			,TRIMESTRE
			,VLR_BP_TRI
			,VLR_REAL_TRI
			,DELTA_VLR_TRI
			,DELTA_PERC_TRI
		FROM
			@TAB_AUDITORIA_INSUMO
		
		
		
		
		
		