SELECT
	A.NO_LOJA
	,A.ANO
	,A.MES
	,A.NO_DEPARTAMENTO
	,A.VLR_TOTAL
	,B.QTD_ITEM
FROM
(
	SELECT 
		L.NO_LOJA
		,YEAR(VD.DATA) AS ANO
		,MONTH(VD.DATA) AS MES
		,CP.NO_DEPARTAMENTO
		,BI.dbo.fn_FormataVlr_Excel(SUM(VD.VALOR_TOTAL)) AS VLR_TOTAL
	FROM
		BI.DBO.BI_VENDA_PRODUTO AS VD
		INNER JOIN BI.dbo.BI_CAD_PRODUTO AS CP
			ON VD.COD_PRODUTO = CP.COD_PRODUTO
		INNER JOIN BI.DBO.BI_CAD_LOJA2 AS L
			ON VD.COD_LOJA = L.COD_LOJA
	WHERE 1=1
		AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,'2014-01-01') AND CONVERT(DATE,'2016-04-30')
		AND VD.COD_LOJA NOT IN (8,33)
	GROUP BY
		L.NO_LOJA
		,YEAR(VD.DATA)
		,MONTH(VD.DATA)
		,CP.NO_DEPARTAMENTO
) AS A
	LEFT JOIN
(
	SELECT
		L.NO_LOJA
		,YEAR(VCP.DATA) AS ANO
		,MONTH(VCP.DATA) AS MES
		,CP.NO_DEPARTAMENTO
		,BI.dbo.fn_FormataVlr_Excel(SUM(VCP.QTDE_VENDA)) AS QTD_ITEM
	FROM
		BI.dbo.BI_VENDA_CUPOM_PRODUTO AS VCP
		INNER JOIN BI.dbo.BI_CAD_PRODUTO AS CP
			ON VCP.COD_PRODUTO = CP.COD_PRODUTO
		INNER JOIN BI.DBO.BI_CAD_LOJA2 AS L
			ON VCP.COD_LOJA = L.COD_LOJA
	WHERE 1=1
		AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,'2014-01-01') AND CONVERT(DATE,'2016-04-30')
		AND VCP.COD_LOJA NOT IN (8,33)
	GROUP BY
		L.NO_LOJA
		,YEAR(VCP.DATA)
		,MONTH(VCP.DATA)
		,CP.NO_DEPARTAMENTO
) AS B
ON 1=1
	AND A.NO_LOJA = B.NO_LOJA
	AND A.ANO = B.ANO
	AND A.MES = B.MES
	AND A.NO_DEPARTAMENTO = B.NO_DEPARTAMENTO
	
/*
ORDER BY
	L.NO_LOJA
	,YEAR(VD.DATA)
	,MONTH(VD.DATA)
	,CP.NO_DEPARTAMENTO
*/	
