/****** Script for SelectTopNRows command from SSMS  ******/
SELECT
	FR.COD_LOJA
	,L.NO_LOJA
	,FR.DATA
	,BI.dbo.fn_FormataVlr_Excel(FR.CREDITO_META) AS CREDITO_META
	,BI.dbo.fn_FormataVlr_Excel(FR.CREDITO_REAL) AS CREDITO_REAL
	,BI.dbo.fn_FormataVlr_Excel(FR.DEBITO_META) AS DEBITO_META
	,BI.dbo.fn_FormataVlr_Excel(FR.DEBITO_REAL) AS DEBITO_REAL
	,BI.dbo.fn_FormataVlr_Excel(FR.DINHEIRO_META) AS DINHEIRO_META
	,BI.dbo.fn_FormataVlr_Excel(FR.DINHEIRO_REAL) AS DINHEIRO_REAL
	,BI.dbo.fn_FormataVlr_Excel(FR.VOUCHER_META) AS VOUCHER_META 
	,BI.dbo.fn_FormataVlr_Excel(FR.VOUCHER_REAL) AS VOUCHER_REAL
FROM
	[BI].[dbo].[FIN_FLUXO_RECEBIVEL] AS FR
	INNER JOIN BI.dbo.BI_CAD_LOJA2 AS L
		ON FR.COD_LOJA = L.COD_LOJA
WHERE 1=1
	AND FR.COD_LOJA in (7,8,29,33,1,13,23)
	AND CONVERT(DATE,FR.DATA) BETWEEN CONVERT(DATE,'2016-03-01') AND CONVERT(DATE,'2016-03-14')