-- --------------------------------------------------------------------------------------------------
-- @TEMP_VENDA_LOJA
-- --------------------------------------------------------------------------------------------------
DECLARE @TEMP_VENDA_LOJA AS TABLE
(
	[COD_LOJA] [int],
	[ANO] INT,
	--[SEMANA] INT,
	[VALOR_TOTAL] NUMERIC(12,4)
);

INSERT INTO @TEMP_VENDA_LOJA
SELECT 
	VP.[COD_LOJA]
	,YEAR(VP.[DATA]) AS ANO
	--,BI.DBO.F_ISO_WEEK_OF_YEAR(VP.[DATA]) AS SEMANA
	,SUM(VP.[VALOR_TOTAL]) AS VALOR_TOTAL
FROM
	[BI].[DBO].[BI_VENDA_PRODUTO] AS VP
WHERE 1 = 1
	AND CONVERT(DATE,[DATA]) >= CONVERT(DATE,'20130101')
GROUP BY
	VP.[COD_LOJA]
	,YEAR(VP.[DATA]);
	--,BI.DBO.F_ISO_WEEK_OF_YEAR(VP.[DATA]);

-- --------------------------------------------------------------------------------------------------
-- @TEMP_VENDA_DEP
-- --------------------------------------------------------------------------------------------------
DECLARE @TEMP_VENDA_SECAO AS TABLE
(
	[COD_LOJA] [int],
	[ANO] INT,
	--[SEMANA] INT,
	[COD_SECAO] INT,
	[VALOR_TOTAL] NUMERIC(12,4)
);

INSERT INTO @TEMP_VENDA_SECAO
SELECT 
	VP.[COD_LOJA]
	,YEAR(VP.[DATA]) AS ANO
	--,BI.DBO.F_ISO_WEEK_OF_YEAR(VP.[DATA]) AS SEMANA
	,CP.[COD_SECAO]
	,SUM(VP.[VALOR_TOTAL]) AS VALOR_TOTAL
FROM
	[BI].[DBO].[BI_VENDA_PRODUTO] AS VP INNER JOIN [BI].[dbo].[BI_CAD_PRODUTO] AS CP ON (VP.COD_PRODUTO = CP.COD_PRODUTO)
WHERE 1 = 1
	AND CONVERT(DATE,[DATA]) >= CONVERT(DATE,'20130101')
GROUP BY
	VP.[COD_LOJA]
	,YEAR(VP.[DATA])
	--,BI.DBO.F_ISO_WEEK_OF_YEAR(VP.[DATA])
	,CP.[COD_SECAO]
ORDER BY
	VP.[COD_LOJA]
	,YEAR(VP.[DATA])
	--,BI.DBO.F_ISO_WEEK_OF_YEAR(VP.[DATA])
	,CP.[COD_SECAO];

-- --------------------------------------------------------------------------------------------------
-- @TEMP_VENDA_GRUPO
-- --------------------------------------------------------------------------------------------------
DECLARE @TEMP_VENDA_GRUPO AS TABLE
(
	[COD_LOJA] [int],
	[ANO] INT,
	--[SEMANA] INT,
	[COD_SECAO] INT,
	[COD_GRUPO] INT,
	[VALOR_TOTAL] NUMERIC(12,4)
);

INSERT INTO @TEMP_VENDA_GRUPO
SELECT 
	VP.[COD_LOJA]
	,YEAR(VP.[DATA]) AS ANO
	--,BI.DBO.F_ISO_WEEK_OF_YEAR(VP.[DATA]) AS SEMANA
	,CP.[COD_SECAO]
	,CP.[COD_GRUPO]
	,SUM(VP.[VALOR_TOTAL]) AS VALOR_TOTAL
FROM
	[BI].[DBO].[BI_VENDA_PRODUTO] AS VP INNER JOIN [BI].[dbo].[BI_CAD_PRODUTO] AS CP ON (VP.COD_PRODUTO = CP.COD_PRODUTO)
WHERE 1 = 1
	AND CONVERT(DATE,[DATA]) >= CONVERT(DATE,'20130101')
GROUP BY
	VP.[COD_LOJA]
	,YEAR(VP.[DATA])
	--,BI.DBO.F_ISO_WEEK_OF_YEAR(VP.[DATA])
	,CP.[COD_SECAO]
	,CP.[COD_GRUPO]
having SUM(VP.[VALOR_TOTAL]) <> 0
ORDER BY
	VP.[COD_LOJA]
	,YEAR(VP.[DATA])
	--,BI.DBO.F_ISO_WEEK_OF_YEAR(VP.[DATA])
	,CP.[COD_SECAO]
	,CP.[COD_GRUPO];

-- --------------------------------------------------------------------------------------------------
-- @TEMP_VENDA_PROD
-- --------------------------------------------------------------------------------------------------
DECLARE @TEMP_VENDA_PROD AS TABLE
(
	[COD_LOJA] [int],
	[ANO] INT,
	--[SEMANA] INT,
	[COD_SECAO] INT,
	[COD_GRUPO] INT,
	[COD_PRODUTO] INT,
	CLASSIF_PRODUTO varchar(50),
	[VALOR_TOTAL] NUMERIC(12,4)
);

INSERT INTO @TEMP_VENDA_PROD
SELECT
	[COD_LOJA]
	,YEAR([DATA]) AS ANO
	--,BI.DBO.F_ISO_WEEK_OF_YEAR([DATA]) AS SEMANA
	,CP.[COD_SECAO]
	,CP.[COD_GRUPO]
	,CP.[COD_PRODUTO]
	,CP.CLASSIF_PRODUTO
	,SUM([VALOR_TOTAL]) AS VALOR_TOTAL
FROM
	[BI].[DBO].[BI_VENDA_PRODUTO] AS VP INNER JOIN [BI].[dbo].[BI_CAD_PRODUTO] AS CP ON (VP.COD_PRODUTO = CP.COD_PRODUTO)
WHERE 1 = 1
	AND CONVERT(DATE,[DATA]) >= CONVERT(DATE,'20130101')
GROUP BY
	[COD_LOJA]
	,YEAR([DATA])
	--,BI.DBO.F_ISO_WEEK_OF_YEAR([DATA])
	,CP.[COD_SECAO]
	,CP.[COD_GRUPO]
	,CP.[COD_PRODUTO]
	,CP.CLASSIF_PRODUTO;

-- --------------------------------------------------------------------------------------------------
--
-- --------------------------------------------------------------------------------------------------
/*
SELECT TOP 5 * FROM [BI].[dbo].[BI_CAD_PRODUTO] WHERE COD_SECAO = 27

SELECT * FROM @TEMP_VENDA_LOJA;
SELECT * FROM @TEMP_VENDA_SECAO;
SELECT * FROM @TEMP_VENDA_GRUPO;
SELECT * FROM @TEMP_VENDA_PROD;

SELECT TOP 10 * FROM dbo.VW_BI_SUPERBASE
SELECT TOP 10 * FROM bi.dbo.COMPRAS_ESTATISTICA_PRODUTO
*/

--SECAO/LOJA
DECLARE @TEMP_SECAO_LOJA AS TABLE
(
	[ANO] INT,
	[COD_LOJA] [int],
	[COD_SECAO] INT,
	[PERC_PARTICIPACAO] NUMERIC(12,6)
);

INSERT INTO @TEMP_SECAO_LOJA
SELECT
	L.ANO
	,L.COD_LOJA
	,S.COD_SECAO	
	,CONVERT(NUMERIC(12,6),(S.VALOR_TOTAL/L.VALOR_TOTAL)) AS PARTICIPACAO
FROM
	@TEMP_VENDA_LOJA AS L INNER JOIN @TEMP_VENDA_SECAO AS S ON (L.COD_LOJA = S.COD_LOJA AND L.ANO = S.ANO);


--GRUPO/SECAO
DECLARE @TEMP_GRUPO_SECAO AS TABLE
(
	[ANO] INT,
	[COD_LOJA] [int],
	[COD_SECAO] INT,
	[COD_GRUPO] INT,
	[PERC_PARTICIPACAO] NUMERIC(12,6)
);

INSERT INTO @TEMP_GRUPO_SECAO
SELECT
	S.ANO
	,S.COD_LOJA
	,S.COD_SECAO
	,G.COD_GRUPO
	,CONVERT(NUMERIC(12,6),(G.VALOR_TOTAL/S.VALOR_TOTAL)) AS PARTICIPACAO
FROM
	@TEMP_VENDA_SECAO AS S INNER JOIN @TEMP_VENDA_GRUPO AS G ON (G.COD_LOJA = S.COD_LOJA AND G.ANO = S.ANO AND S.COD_SECAO = G.COD_SECAO);

--PRODUTO/GRUPO
DECLARE @TEMP_PRODUTO_GRUPO AS TABLE
(
	[ANO] INT,
	[COD_LOJA] [int],
	[COD_SECAO] INT,
	[COD_GRUPO] INT,
	[COD_PRODUTO] INT,
	CLASSIF_PRODUTO varchar(50),
	[PERC_PARTICIPACAO] NUMERIC(12,6)
);

INSERT INTO @TEMP_PRODUTO_GRUPO
SELECT
	G.ANO
	,G.COD_LOJA
	,G.COD_SECAO
	,G.COD_GRUPO
	,P.COD_PRODUTO
	,P.CLASSIF_PRODUTO
	,CONVERT(NUMERIC(12,6),(P.VALOR_TOTAL/G.VALOR_TOTAL)) AS PARTICIPACAO
FROM
	@TEMP_VENDA_GRUPO AS G INNER JOIN @TEMP_VENDA_PROD AS P ON (G.COD_LOJA = P.COD_LOJA AND G.ANO = P.ANO AND G.COD_SECAO = P.COD_SECAO AND G.COD_GRUPO = P.COD_GRUPO);
	
/*
SELECT * FROM @TEMP_SECAO_LOJA;
SELECT * FROM @TEMP_GRUPO_SECAO;
SELECT * FROM @TEMP_PRODUTO_LOJA;
SELECT * FROM @TEMP_PRODUTO_GRUPO;
*/	


SELECT
	SL.ANO
	,SL.COD_LOJA
	,SL.COD_SECAO
	,SL.PERC_PARTICIPACAO AS PERC_SECAO_LOJA
	,GL.COD_GRUPO
	,GL.PERC_PARTICIPACAO AS PERC_GRUPO_LOJA
	,PG.COD_PRODUTO
	,PG.CLASSIF_PRODUTO
	,PG.PERC_PARTICIPACAO AS PERC_PRODUTO_GRUPO_LOJA
FROM
	@TEMP_SECAO_LOJA AS SL INNER JOIN @TEMP_GRUPO_SECAO AS GL ON (SL.ANO = GL.ANO AND SL.COD_LOJA = GL.COD_LOJA AND SL.COD_SECAO = GL.COD_SECAO)
		LEFT JOIN @TEMP_PRODUTO_GRUPO AS PG ON (GL.ANO = PG.ANO AND GL.COD_LOJA = PG.COD_LOJA AND GL.COD_GRUPO = PG.COD_GRUPO AND GL.COD_SECAO = PG.COD_SECAO)
ORDER BY
	SL.ANO
	,SL.COD_LOJA
	,SL.COD_SECAO
	,GL.COD_GRUPO
		