-- -------------------------------------------------------------------------------------------------------------------------------------------------------------
-- 
-- -------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT
	[USER_ID]
	,[USER_LOGIN]
	,[USER_SHORT_NAME]
	,[USER_GROUP]
	,[USER_STORE_CLUSTER]
	,[USER_DEFAULT_STORE]
	,[DEFAULT_RESTRICT]
	,[ACTIVE]
	,[DTA_RECORD]
FROM
	[Alpha].[dbo].[CAD_USER]
WHERE 1 = 1
	AND USER_LOGIN = 'victor.rosa'

-- -------------------------------------------------------------------------------------------------------------------------------------------------------------
-- 
-- -------------------------------------------------------------------------------------------------------------------------------------------------------------
INSERT INTO [Alpha].[dbo].[CAD_USER]
(
	[USER_LOGIN]
	,[USER_SHORT_NAME]
	,[USER_GROUP]
	,[USER_STORE_CLUSTER]
	,[USER_DEFAULT_STORE]
	,[DEFAULT_RESTRICT]
	,[ACTIVE]
)
VALUES
(
'leonardo.santos'
,'Leonardo'
,'GrupoCoordenadores'
,'STM'
,'25'
,0
,1
)
  
-- -------------------------------------------------------------------------------------------------------------------------------------------------------------
-- 
-- -------------------------------------------------------------------------------------------------------------------------------------------------------------
UPDATE [Alpha].[dbo].[CAD_USER]
SET
	USER_DEFAULT_STORE = 30
WHERE 1 = 1
	AND USER_LOGIN = 'luiza.perez'