DECLARE @TAB_PRECO_VENDA_1 AS TABLE
		(
			[COD_LOJA] [int],
			[COD_PRODUTO_V] [int],
			[COD_PRODUTO_S] [int],
			[COD_PRODUTO_SS] [int],
			[TIPO] [int],
			[DTA_INI] [date],
			[DTA_FIM] [date],
			[DESCRICAO] [varchar](50),
			[VALOR] [float],
			[RECID] [int],
			[DTA_GRAVACAO] [datetime],
			[Ativo] [bit],
			[COD_USUARIO] [int],
			[DESCRICAO_CURTA] [varchar](50),
			[APLICA_SIMILAR] [bit],
			[COD_PRODUTO_SIMILAR] [INT]
		);

		INSERT INTO @TAB_PRECO_VENDA_1
		SELECT  DISTINCT
			V.[COD_LOJA]
			,V.COD_PRODUTO
			,SS.COD_PRODUTO
			,(CASE WHEN SS.[COD_PRODUTO] IS NULL THEN V.[COD_PRODUTO] ELSE SS.[COD_PRODUTO] END) AS COD_PRODUTO
			,V.[TIPO]
			,V.[DTA_INI]
			,V.[DTA_FIM]
			,V.[DESCRICAO]
			,V.[VALOR]
			,V.[RECID]
			,V.[DTA_GRAVACAO]
			,V.[Ativo]
			,(CASE WHEN V.[COD_USUARIO] IS NULL THEN 999 ELSE V.[COD_USUARIO] END)
			,V.[DESCRICAO_CURTA]
			,V.[APLICA_SIMILAR]
			,S.[COD_PRODUTO_SIMILAR]
		FROM
			[BI].[dbo].[BI_PRECO_PRE_VENDA] V LEFT JOIN [BI].[dbo].[CADASTRO_DEPARA_PRODUTO_SIMILAR] S ON (V.COD_PRODUTO = S.COD_PRODUTO)
				LEFT JOIN [BI].[dbo].[CADASTRO_DEPARA_PRODUTO_SIMILAR] SS ON (S.COD_PRODUTO_SIMILAR = SS.COD_PRODUTO_SIMILAR)
					LEFT JOIN [BI].[dbo].[BI_CAD_PRODUTO] CP ON (V.COD_PRODUTO = CP.COD_PRODUTO)
		WHERE 1 = 1
			AND V.APLICA_SIMILAR = 1
			AND CP.FORA_LINHA = 'N'
			AND CONVERT(DATE,V.[DTA_GRAVACAO]) = CONVERT(DATE,GETDATE())
			AND NOT EXISTS (SELECT COD_PRODUTO FROM [BI].[dbo].[BI_PRECO_VENDA] AS TVS WHERE TVS.COD_PRODUTO = V.COD_PRODUTO AND TVS.COD_LOJA = V.COD_LOJA AND CONVERT(DATE,TVS.[DTA_GRAVACAO]) = CONVERT(DATE,GETDATE()));
			
		
--SELECT * FROM [BI].[dbo].[BI_PRECO_VENDA] WHERE convert(date,DTA_INI) = CONVERT(date,getdate()+1) AND COD_PRODUTO IN (SELECT COD_PRODUTO_SS FROM @TAB_PRECO_VENDA_1);
--DELETE FROM [BI].[dbo].[BI_PRECO_VENDA] WHERE convert(date,DTA_INI) = CONVERT(date,getdate()+1) AND COD_PRODUTO IN (SELECT COD_PRODUTO_SS FROM @TAB_PRECO_VENDA_1);
--DELETE FROM [BI].[dbo].[BI_PRECO_VENDA] WHERE convert(date,DTA_GRAVACAO) = CONVERT(date,getdate());
  
--SELECT * FROM [BI].[dbo].[BI_PRECO_VENDA] WHERE convert(date,DTA_GRAVACAO) = CONVERT(date,getdate())
 /* 
  
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [COD_LOJA]
      ,[COD_PRODUTO]
      ,[TIPO]
      ,[DTA_INI]
      ,[DTA_FIM]
      ,[DESCRICAO]
      ,[VALOR]
      ,[RECID]
      ,[DTA_GRAVACAO]
      ,[Ativo]
      ,[COD_USUARIO]
      ,[DESCRICAO_CURTA]
      ,[APLICA_SIMILAR]
  FROM [BI].[dbo].[BI_PRECO_PRE_VENDA]
  where 1= 1
  AND COD_PRODUTO = 31998
  and COD_LOJA = 7
  and convert(date,DTA_GRAVACAO) = CONVERT(date,getdate())
  ;
  */