TRUNCATE TABLE [DW].[dbo].[QLIK_ACCESS];

INSERT INTO [DW].[dbo].[QLIK_ACCESS] ([USERID],[PASSWORD],[ACCESS],[GROUP],[COD_LOJA],[OMIT],[SERIAL],[NTNAME],[NTDOMAINSID],[NTSID]) VALUES ('victor.rosa','qlik!@#','ADMIN',NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO [DW].[dbo].[QLIK_ACCESS] ([USERID],[PASSWORD],[ACCESS],[GROUP],[COD_LOJA],[OMIT],[SERIAL],[NTNAME],[NTDOMAINSID],[NTSID]) VALUES ('murta','123','ADMIN',NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO [DW].[dbo].[QLIK_ACCESS] ([USERID],[PASSWORD],[ACCESS],[GROUP],[COD_LOJA],[OMIT],[SERIAL],[NTNAME],[NTDOMAINSID],[NTSID]) VALUES ('natalia.daher','123','ADMIN',NULL,NULL,NULL,NULL,NULL,NULL,NULL);


SELECT [QLIK_ACCESS_ID]
      ,[USERID]
      ,[PASSWORD]
      ,[ACCESS]
      ,[GROUP]
      ,[COD_LOJA]
      ,[OMIT]
      ,[SERIAL]
      ,[NTNAME]
      ,[NTDOMAINSID]
      ,[NTSID]
  FROM [DW].[dbo].[QLIK_ACCESS];
  
  

/*
TRUNCATE TABLE [DW].[dbo].[QLIK_ACCESS];

INSERT INTO [DW].[dbo].[QLIK_ACCESS] ([REPORT],[USERID],[PASSWORD],[ACCESS],[GROUP],[COD_LOJA],[OMIT],[SERIAL],[NTNAME],[NTDOMAINSID],[NTSID]) VALUES ('BI-TESTE',NULL,null,'ADMIN',NULL,NULL,NULL,NULL,'marche\victor.rosa','S-1-5-21-893211783-1829324836-2954113113',NULL);
SELECT [QLIK_ACCESS_ID]
      ,[REPORT]
      ,[USERID]
      ,[PASSWORD]
      ,[ACCESS]
      ,[GROUP]
      ,[COD_LOJA]
      ,[OMIT]
      ,[SERIAL]
      ,[NTNAME]
      ,[NTDOMAINSID]
      ,[NTSID]
  FROM [DW].[dbo].[QLIK_ACCESS];
  
  
*/
