DECLARE @DTA_INI AS DATE = '20140616'
DECLARE @DTA_FIM AS DATE = '20141228'
DECLARE @COD_LOJA AS INT = 20

DECLARE @TAB_VENDA_CHEIA AS TABLE
(
	COD_LOJA INT
	,DATA DATE
	,VLR_VENDA_TOTAL NUMERIC(10,2)
)

INSERT INTO @TAB_VENDA_CHEIA
	SELECT
		[COD_LOJA]
		,[DATA]
		,SUM([VLR_CUPOM])
	FROM
		[BI].[dbo].[BI_VENDA_CUPOM_CAPA]
	WHERE 1=1
		AND COD_LOJA = @COD_LOJA
		AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DTA_INI) AND CONVERT(DATE,@DTA_FIM)
	GROUP BY
		[COD_LOJA]
		,[DATA]

DECLARE @TAB_VENDA_PERIODO AS TABLE
(
	COD_LOJA INT
	,DATA DATE
	,VLR_VENDA_PERIODO NUMERIC(10,2)
)

INSERT INTO @TAB_VENDA_PERIODO
	SELECT
		VC.[COD_LOJA]
		,VC.[DATA]
		,SUM(VC.[VLR_CUPOM]) AS VLR_VENDA_PERIODO
	FROM
		[BI].[dbo].[BI_VENDA_CUPOM_CAPA] AS VC
	WHERE 1=1
		AND VC.COD_LOJA = @COD_LOJA
		AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DTA_INI) AND CONVERT(DATE,@DTA_FIM)
		AND DATEPART(DW,VC.DATA) <> 1
		AND (HORA <= 940 OR HORA >= 2300)		
	GROUP BY
		VC.[COD_LOJA]
		,VC.[DATA]

UNION ALL

	SELECT
		VC.[COD_LOJA]
		,VC.[DATA]
		,SUM(VC.[VLR_CUPOM]) AS VLR_VENDA_PERIODO
	FROM
		[BI].[dbo].[BI_VENDA_CUPOM_CAPA] AS VC
	WHERE 1=1
		AND VC.COD_LOJA = @COD_LOJA
		AND CONVERT(DATE,DATA) BETWEEN CONVERT(DATE,@DTA_INI) AND CONVERT(DATE,@DTA_FIM)
		AND DATEPART(DW,VC.DATA) = 1
		AND (HORA <= 1400 OR HORA >= 2300)		
	GROUP BY
		VC.[COD_LOJA]
		,VC.[DATA]

SELECT
	VP.[COD_LOJA]
	,VP.[DATA]
	,DATEPART(DW,VP.DATA) AS DIA_SEMANA
	,BI.dbo.fn_FormataVlr_Excel(VP.VLR_VENDA_PERIODO) as VENDA_PERIODO
	,BI.dbo.fn_FormataVlr_Excel(VT.VLR_VENDA_TOTAL) as VENDA_TOTAL
	,BI.dbo.fn_FormataVlr_Excel(VP.VLR_VENDA_PERIODO / VT.VLR_VENDA_TOTAL) AS PERC
FROM
	@TAB_VENDA_PERIODO AS VP
	INNER JOIN @TAB_VENDA_CHEIA AS VT
		ON 1=1
		AND VP.COD_LOJA = VT.COD_LOJA
		AND VP.DATA = VT.DATA
WHERE 1=1
ORDER BY
	VP.[COD_LOJA]
	,VP.[DATA]